<%= form_for @volunteer, url: volunteers_path, id: :new_user do |form| %>
  <% if volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
        <% volunteer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :display_name %>
    <%= form.text_field :display_name, class: "form-control" %>
  </div>

  <%= form.hidden_field :casa_org_id, value: current_user.casa_org_id %>

  <div class="actions">
    <%= form.submit "Create User", class: "btn btn-primary" %>
    <%= link_to 'Return to Dashboard', { controller: "dashboard", action: :show}, { class: "btn btn-info pull-right" } %>
  </div>
<% end %>
