<div>
  <h1 class="pt-5 mb-2">Manage Supervisor</h1>

  <div class="card card-container">
    <div class="card-body">
      <% if @volunteer.has_supervisor? %>
        <h5 class="my-4">
          <span class="font-weight-bold">
            Current Supervisor:
          </span>
          <%= link_to(@volunteer.supervisor.display_name, edit_supervisor_path(@volunteer.supervisor.id)) %>
        </h5>
        <%= button_to unassign_supervisor_volunteer_path(@volunteer),
                      method: :patch,
                      class: "main-btn danger-btn btn-hover btn-sm" do %>
          <i class="lni lni-cross-circle mr-5"></i> Unassign from Supervisor
        <% end %>
      <% else %>
        <h3 class="mb-3">Assign a Supervisor</h3>

        <%= form_for SupervisorVolunteer.new, url: supervisor_volunteers_path(volunteer_id: @volunteer.id) do |form| %>
          <div class="select-style-1">
            <label for='supervisor_volunteer_supervisor_id'>Select a Supervisor</label>
            <select name='supervisor_volunteer[supervisor_id]' class='form-control select2'>
              <% @supervisors.each do |supervisor| %>
                <option value="<%= supervisor.id %>"><%= supervisor.display_name %></option>
              <% end %>
            </select>
          </div>
          <%= form.hidden_field :volunteer_id, :value => @volunteer.id %>
          <%= button_tag(
            type: "submit",
            class: "main-btn primary-btn btn-hover btn-sm"
          ) do %>
            <i class="lni lni-checkmark mr-5"></i> Assign Supervisor
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>