<div class="field form-group">
  <% if user.active? %>
    Volunteer is <span class="badge bg-success text-uppercase display-1">Active</span><br>
    <% if policy(user).deactivate? %>
      <%= link_to deactivate_volunteer_path(user),
                  method: :patch,
                  class: "main-btn danger-btn-outline btn-hover btn-sm my-1",
                  data: {confirm: "WARNING: Marking a volunteer inactive will make them unable to login. Are you sure you want to do this?"} do %>
        <i class="lni lni-bulb mr-10"></i> Deactivate volunteer
      <% end %>
    <% end %>
  <% else %>
    <div class="alert alert-danger">
      Volunteer was deactivated on: <%= user.decorate.formatted_updated_at %>
    </div>
    <% if policy(user).activate? %>
      <%= link_to activate_volunteer_path(user),
                  method: :patch,
                  class: "main-btn success-btn-outline btn-hover btn-sm my-1" do %>
        <i class="lni lni-bulb mr-10"></i> Activate volunteer
      <% end %>
    <% end %>
  <% end %>
  <% if (current_user.supervisor? ||
      current_user.casa_admin?) &&
      user.invitation_accepted_at.nil? %>
    <%= link_to resend_invitation_volunteer_path(user),
                class: "main-btn danger-btn-outline btn-hover btn-sm my-1" do %>
      <i class="lni lni-telegram-original mr-10"></i> Resend Invitation (Email)
    <% end %>
  <% end %>
  <% if current_user.casa_admin? %>
    <%= link_to send_reactivation_alert_volunteer_path(user),
               id: "#{current_user.casa_org.twilio_enabled? ? "twilio_enabled" : "twilio_disabled"}",
               class: "main-btn danger-btn-outline btn-hover btn-sm my-1" do %>
      <i class="lni lni-alarm mr-10"></i><%= current_user.casa_org.twilio_enabled? ? "Send Reactivation Alert (SMS)" : "Enable Twilio To Send Reactivation Alert (SMS)" %>
    <% end %>
  <% end %>
</div>
