<div class="notes">
  <h1 class="pt-5">Notes</h1>

  <div class="card card-container">
    <div class="card-body">
      <% if @volunteer.notes != [] %>
        <h3>Notes About This Volunteer</h3>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Note</th>
              <th>Creator</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @volunteer.notes.each do |note| %>
              <tr>
                <td><%= note.content %></td>
                <td><%= note.creator.display_name %></td>
                <td><%= note.created_at.strftime(t("time.formats.standard")) %></td>
                <td>
                  <%= link_to "Edit", edit_volunteer_note_path(@volunteer, note), class: "btn btn-primary" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <br>
      <%= form_with(model: @volunteer.notes.new, local: true, url: volunteer_notes_path(@volunteer),
id: "volunteer-note-form") do |form| %>
        <h3>Create a New Note</h3>
        <div class="form-group">
          <%= form.text_area :content, :rows => 5, placeholder: t("volunteers.edit.notes_placeholder"),
class: "form-control" %>
        </div>

        <div class="actions">
          <%= form.submit t("volunteers.edit.note_submit"), class: "btn btn-primary", id: "note-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
