<%= link_to 'Back', volunteers_path %>

<div class="row">
  <div class="col-sm-12 form-header">
    <h1>Editing Volunteer</h1>
    <%= form_tag reminder_volunteer_path(@volunteer), method: :patch, id: "cc-check" do %>
      <%= render "send_reminder_button", volunteer: @volunteer %>
    <% end %>
  </div>
</div>
<div class="card card-container">
  <div class="card-body">
    <%= form_for @volunteer, url: volunteer_path(@volunteer) do |form| %>
      <%= render "/shared/error_messages", resource: @volunteer %>

      <div class="field form-group">
        <%= form.label :email %>
        <% if policy(:volunteer).update_volunteer_email? %>
          <%= form.text_field :email, class: "form-control" %>
        <% else %>
          <input class="form-control" type="text" placeholder="<%= @volunteer.email %>" autocomplete="off" readonly>
        <% end %>
      </div>

      <div class="field form-group">
        <%= form.label :display_name %>
        <%= form.text_field :display_name, class: "form-control" %>
      </div>

      <%= render "/shared/invite_login", resource: @volunteer %>

      <p>
        <%= render "manage_active", user: @volunteer %>
      </p>

      <div class="actions">
        <%= form.submit t("button.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'manage_cases' %>

<%= render 'manage_supervisor' %>
