<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1><%= t(".volunteers") %></h1>
    <% if policy(current_organization.volunteers.new).new? %>
      <%= link_to t(".button.new"), new_volunteer_path, class: "btn btn-primary mb-2 mb-md-0" %>
    <% end %>
    <button type="button" class="btn btn-primary mb-2 mb-md-0" data-toggle="modal" data-target="#visibleColumns">
      <%= t(".pick_displayed_columns") %>
    </button>
  </div>
</div>
<hr>

<div class="row volunteer-filters">
  <div class="col-sm-12">
    <h4 class="pull-left mr-2"><%= t(".filter") %></h4>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t(".supervisor") %>
      </button>
      <div class="dropdown-menu supervisor-options">
        <div class="dropdown-item form-check">
          <%= check_box_tag "supervisor-option-none", "", false,
                    class: "form-check-input",
                    data: { value: "" },
                    id: "unassigned-vol-filter" %>
          <%= label_tag "supervisor-option-none", t(".no_supervisor"), class: "form-check-label" %>
        </div>
        <% current_organization.supervisors.where(active: true).each do |supervisor| %>
          <div class="dropdown-item form-check">
            <% option_for_name = supervisor.display_name.downcase.gsub(/ /, '_').gsub(/[^a-z_]+/, '') -%>
            <% tag_name = "supervisor-option-#{option_for_name}" -%>
            <%= check_box_tag tag_name, supervisor.display_name,
                    policy(User).edit_name?(supervisor),   # checked?
                    class: "form-check-input",
                    data: { value: supervisor.display_name } %>
            <%= label_tag tag_name, supervisor.display_name, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t(".status") %>
      </button>
      <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item form-check">
          <%= check_box_tag "status_option_active", "true", true,
                    class: "form-check-input",
                    data: { value: "true" } %>
          <%= label_tag "status_option_active", t(".active"), class: "form-check-label" %>
        </div>
        <div class="dropdown-item form-check">
          <%= check_box_tag "status_option_inactive", "false", false,
                    class: "form-check-input",
                    data: { value: "false" } %>
          <%= label_tag "status_option_inactive", t(".inactive"), class: "form-check-label" %>
        </div>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t(".transition_aged_youth") %>
      </button>
      <div class="dropdown-menu transition-youth-options" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item form-check">
          <%= check_box_tag "transition_youth_option_yes", "true", true,
                    class: "form-check-input",
                    data: { value: "true" } %>
          <%= label_tag "transition_youth_option_yes",  t("common.yes_text"), class: "form-check-label" %>
        </div>
        <div class="dropdown-item form-check">
          <%= check_box_tag "transition_youth_option_no", "false", true,
                    class: "form-check-input",
                    data: { value: "false" } %>
          <%= label_tag "transition_youth_option_no", t("common.no_text"), class: "form-check-label" %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="modal fade" id="visibleColumns" tabindex="-1" role="dialog" aria-labelledby="visibleColumnsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visibleColumnsLabel"><%= t(".pick_displayed_columns") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <%= t(".select_columns") %>:

          <% Volunteer::TABLE_COLUMNS.each_with_index do |column, index| %>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-check">
                  <%= check_box_tag "pick-#{column}",
                                    "1",
                                    nil,
                                    class: "form-check-input toggle-visibility",
                                    data: {column: index} %>
                  <%= label_tag "pick-#{column}", column.titleize, class: "form-check-label" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t("button.close") %></button>
      </div>
    </div>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-striped table-bordered"
        id="volunteers"
        data-source="<%= datatable_volunteers_path format: :json %>">
        <thead>
          <tr>
            <th><%= t(".heading.name") %></th>
            <th><%= t(".heading.e_mail") %></th>
            <th><%= t(".heading.supervisor") %></th>
            <th><%= t(".heading.status") %></th>
            <th><%= t(".heading.assigned_transition_aged_youth") %></th>
            <th><%= t(".heading.case_number") %></th>
            <th><%= t(".heading.last_attempted_contact") %></th>
            <th><%= t(".heading.contacts") %></th>
            <th><%= t(".heading.hours_spent_in") %></th>
            <th><%= t(".heading.actions") %></th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
