<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Volunteers</h1>
    <% if policy(Volunteer).new? %>
      <%= link_to "New Volunteer", new_volunteer_path, class: "btn btn-primary" %>
    <% end %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#visibleColumns">
      Pick displayed columns
    </button>
  </div>
</div>
<hr>

<div class="row volunteer-filters">
  <div class="col-sm-12">
    <h4 class="pull-left mr-2">Filter by:</h4>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Supervisor
      </button>
        <ul class="dropdown-menu supervisor-options" style="min-width: 15rem;">
          <li>
            <a class="small" data-value="option1" tabIndex="-1">
              <input
                id="unassigned-vol-filter"
                type="checkbox"
                data-value="No supervisor assignment"
                unchecked>
              No supervisor assignment
            </a>
          </li>
          <% Supervisor.decorate.each do |supervisor| %>
            <li>
              <a class="small" data-value="option1" tabIndex="-1">
              <% if !current_user.supervisor? || supervisor == current_user %>
                <input
                  type="checkbox"
                  data-value="<%= supervisor.name %>"
                  checked>
                <% else %>
                <input
                  type="checkbox"
                  data-value="<%= supervisor.name %>">
                <% end %>
                <%= supervisor.name %>
              </a>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Status
      </button>
      <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Active" checked>
          Active</a>
        </li>
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Inactive">
          Inactive</a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assigned to Transition Aged Youth
      </button>
      <div class="dropdown-menu transition-youth-options" aria-labelledby="dropdownMenuButton">
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Yes 🐛🦋" checked>Yes</a></li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="No" checked>No</a></li>
      </div>
    </div>
  </div>
</div>
<br>

<div class="modal fade" id="visibleColumns" tabindex="-1" role="dialog" aria-labelledby="visibleColumnsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visibleColumnsLabel">Pick Displayed Columns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Select columns:

          <% Volunteer::TABLE_COLUMNS.each_with_index do |column, index| %>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-check">
                  <%= check_box_tag "pick-#{column}",
                    "1",
                    [1,6,7].exclude?(index),
                    class: "form-check-input toggle-visibility",
                    data: { column: index } %>
                  <%= label_tag "pick-#{column}", column.titleize, class: "form-check-label" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <table class="table table-striped table-bordered" id="volunteers">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Supervisor</th>
        <th>Status</th>
        <th>Assigned To Transition Aged Youth</th>
        <th>Case Number(s)</th>
        <th>Last Contact Made</th>
        <th>Contacts Made in Past 60 Days</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>
          <td data-search="<%= volunteer.past_names %>|<%= volunteer.display_name %>">
              <%= link_to(volunteer.decorate.name, edit_volunteer_path(volunteer)) %>
              <% if !volunteer.made_contact_with_all_cases_in_days? %>
                🕐
              <% end %>
          </td>
          <td><%= volunteer.email %></td>
          <td class=" supervisor-column ">
            <%- if volunteer.has_supervisor? %>
              <%= link_to(volunteer.supervisor.decorate.name, edit_supervisor_path(volunteer.supervisor)) %>
            <%- end %>
          </td>
          <td class=" status-column "><%= volunteer.decorate.status %></td>
          <td><%= volunteer.decorate&.assigned_to_transition_aged_youth? %></td>
          <td><%= safe_join(volunteer&.casa_cases&.map { |c| link_to(c.case_number, c) }, ", ") %></td>
          <td>
            <%= link_to_if volunteer&.most_recent_contact.present?,
              volunteer.decorate.last_contact_made,
              volunteer&.most_recent_contact&.casa_case %>
          </td>
          <td><%= volunteer&.recent_contacts_made %></td>
          <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
