<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>Volunteers</h1>
      </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <span class="ml-5">
          <% if policy(current_organization.volunteers.new).new? %>
            <%= link_to new_volunteer_path, class: "main-btn primary-btn btn-hover btn-sm mb-2 mb-md-0" do %>
              <i class="lni lni-plus mr-10"></i> New Volunteer
            <% end %>
          <% end %>
            </span>
        <span class="ml-5">
            <button type="button" class="main-btn primary-btn btn-sm mb-2 mb-md-0" data-bs-toggle="modal" data-bs-target="#visibleColumns">
            <i class="lni lni-pin mr-10"></i> Pick displayed columns
            </button>
          </span>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row volunteer-filters">
    <div class="col-sm-12 flex align-items-center">
      <h4 class="pull-left my-1 mr-2">Filter by:</h4>
      <div class="dropdown pull-left mx-2 my-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Supervisor
        </button>
        <div class="dropdown-menu supervisor-options">
          <div class="dropdown-item form-check checkbox-style">
            <%= check_box_tag "supervisor-option-none", "", true,
                              class: "form-check-input",
                              data: { value: "" },
                              id: "unassigned-vol-filter" %>
            <%= label_tag "supervisor-option-none", "No supervisor assignment", class: "form-check-label", for: "unassigned-vol-filter" %>
          </div>
          <% current_organization.supervisors.where(active: true).each do |supervisor| %>
            <div class="dropdown-item form-check checkbox-style">
              <% option_for_name = supervisor.display_name.downcase.gsub(/ /, '_').gsub(/[^a-z_]+/, '') -%>
              <% tag_name = "supervisor-option-#{option_for_name}" -%>
              <%= check_box_tag tag_name, supervisor.id,
                                policy(User).edit_name?(supervisor), # checked?
                                class: "form-check-input",
                                data: { value: supervisor.id } %>
              <%= label_tag tag_name, supervisor.display_name, class: "form-check-label" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="dropdown pull-left mx-2 my-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Status
        </button>
        <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item form-check checkbox-style">
            <%= check_box_tag "status_option_active", "true", true,
                              class: "form-check-input",
                              data: { value: "true" } %>
            <%= label_tag "status_option_active", "Active", class: "form-check-label" %>
          </div>
          <div class="dropdown-item form-check checkbox-style">
            <%= check_box_tag "status_option_inactive", "false", false,
                              class: "form-check-input",
                              data: { value: "false" } %>
            <%= label_tag "status_option_inactive", "Inactive", class: "form-check-label" %>
          </div>
        </div>
      </div>

      <div class="dropdown pull-left mx-2 my-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assigned to Transition Aged Youth
        </button>
        <div class="dropdown-menu transition-youth-options" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item form-check checkbox-style">
            <%= check_box_tag "transition_youth_option_yes", "true", true,
                              class: "form-check-input",
                              data: { value: "true" } %>
            <%= label_tag "transition_youth_option_yes", "Yes", class: "form-check-label" %>
          </div>
          <div class="dropdown-item form-check checkbox-style">
            <%= check_box_tag "transition_youth_option_no", "false", true,
                              class: "form-check-input",
                              data: { value: "false" } %>
            <%= label_tag "transition_youth_option_no", "No", class: "form-check-label" %>
          </div>
        </div>
      </div>
      <div class="dropdown pull-left mx-2 my-1">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Has Extra Languages
        </button>
        <div class="dropdown-menu extra-language-options" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item form-check checkbox-style">
            <%= check_box_tag "extra_language_option_yes", "true", true,
                              class: "form-check-input",
                              data: { value: "true" } %>
            <%= label_tag "extra_language_option_yes", "Yes", class: "form-check-label" %>
          </div>
          <div class="dropdown-item form-check checkbox-style">
            <%= check_box_tag "extra_language_option_no", "false", true,
                              class: "form-check-input",
                              data: { value: "false" } %>
            <%= label_tag "extra_language_option_no", "No", class: "form-check-label" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="warning-modal">
  <div class="modal fade" id="visibleColumns" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content card-style">
        <div class="modal-header px-0 border-0">
          <h5 class="text-bold">Pick Displayed Columns</h5>
          <button
            class="border-0 bg-transparent h1"
            data-bs-dismiss="modal">
            <i class="lni lni-cross-circle"></i>
          </button>
        </div>
        <div class="modal-body px-0">
          <div class="mb-30">
            <h6 class="mb-20">
              Select columns:
            </h6>
            <% Volunteer::TABLE_COLUMNS.each_with_index do |column, index| %>
              <div class="form-check checkbox-style m-2">
                <%= check_box_tag "pick-#{column}",
                                  "1",
                                  false,
                                  class: "form-check-input toggle-visibility",
                                  data: { column: index } %>
                <%= label_tag "pick-#{column}", column.titleize, class: "form-check-label" %>
              </div>
            <% end %>
          </div>
          <div class="action d-flex flex-wrap justify-content-end">
            <button
              data-bs-dismiss="modal"
              class="main-btn danger-btn-outline btn-hover m-1"><i class="lni lni-ban mr-10"></i>
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tables-wrapper" data-controller="select-all" data-select-all-hidden-class="d-none" data-select-all-button-label-value="Manage Volunteer">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <div class="mb-3">
          <button type="button" class="main-btn dark-btn btn-sm mb-2 mb-md-0 d-none" data-bs-toggle="modal" data-bs-target="#bulk-assigment-modal" data-select-all-target="button">
            <i class="lni lni-users mr-10"></i>
            <span class="d-inline" data-select-all-target="buttonLabel"></span>
          </button>
        </div>
        <div class="table-responsive">
          <%= form_with(url: bulk_assignment_supervisor_volunteers_path, id: "form-bulk-assignment", data: { controller: "disable-form", "disable-form-unallowed-value": '["unselected"]', "disable-form-disabled-class": "deactive-btn", "disable-form-enabled-class": "btn-hover dark-btn" }) do |form| %>
            <table
              class="table hover"
              id="volunteers"
              data-source="<%= datatable_volunteers_path format: :json %>">
              <thead>
              <tr>
                <th>
                  <input id="checkbox-toggle-all" type="checkbox" class="form-check-input" data-select-all-target="checkboxAll" data-action="select-all#toggleAll">
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Supervisor</th>
                <th>Status</th>
                <th>Assigned To Transition Aged Youth</th>
                <th>Case Number(s)</th>
                <th>Last Attempted Contact</th>
                <th>Contacts Made in Past 60 Days</th>
                <th>Hours spent in last 30 days</th>
                <th>Extra Languages</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>

            <div class="warning-modal">
              <div class="modal fade" id="bulk-assigment-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content card-style">
                    <div class="modal-header px-0 border-0">
                      <h5 class="text-bold">Bulk Volunteer Assignment</h5>
                      <button
                        class="border-0 bg-transparent h1"
                        data-bs-dismiss="modal"
                        type="button">
                        <i class="lni lni-cross-circle"></i>
                      </button>
                    </div>
                    <div class="modal-body px-0">
                      <div class="mb-30">
                       <div class="select-style-1">
                        <label for='supervisor_volunteer_supervisor_id'>
                           Choose a new supervisor from the dropdown below to reassign selected volunteers. Once you're ready, click the "Confirm" button to apply the changes.
                        </label>
                        <select name='supervisor_volunteer[supervisor_id]' id="supervisor_volunteer_supervisor_id" class='supervisor-bulk-assignment form-control' required="required" data-disable-form-target="input" data-action="disable-form#validate">
                          <option value="unselected">Choose a supervisor</option>
                          <option value="">None</option>
                          <% @supervisors&.active&.each do |supervisor| %>
                            <option value="<%= supervisor.id %>"><%= supervisor.display_name %></option>
                          <% end %>
                       </select>
                       </div>
                      </div>
                      <div class="action d-flex flex-wrap justify-content-end">
                        <button
                          data-bs-dismiss="modal"
                          class="main-btn danger-btn-outline btn-hover m-1"
                          type="button"><i class="lni lni-ban mr-10"></i>
                          Close
                        </button>
                        <%= form.button type: :submit, class: "main-btn deactive-btn m-1", data: { "disable-form-target": "submitButton" }, disabled: true do %>
                          Confirm
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
  </div>

</div>
</div>
