<h1><%= t(".title") %></h1>

<div class="card card-container">
  <div class="card-body">
    <h5 class="card-title"><strong><%= t(".generate_report") %></strong></h5>
    <p class="card-text">
      <%= t(".description") %>
    </p>

    <hr>

    <%= form_with url: generate_case_court_reports_path, local: false do |form| %>
      <div class="field form-group">
        <%= label_tag :case_number, t(".label.case_number") %>
        <% select_options = @assigned_cases.map { |casa_case| casa_case.decorate.court_report_select_option } %>

        <% show_search = !current_user.volunteer? %>

        <% select_case_prompt = show_search ? t(".prompt.search_case_number") : t(".prompt.select_case_number") %>
        <% select2_class = show_search ? "select2" : "" %>

        <%= select_tag :case_number,
                       options_for_select(select_options),
                       prompt: select_case_prompt,
                       include_blank: false,
                       id: "case-selection",
                       class: "custom-select #{select2_class}" %>

        <%= form.hidden_field :time_zone, id: "user-time-zone" %>

      </div>
      <div class="form-group">
        <%= button_tag t(".button.generate"), type: :submit,
                       data: {
                           button_name: t(".button.generate")
                       },
                       id: "btnGenerateReport",
                       class: "btn btn-primary",
                       onclick: "setTimeZone()" %>
        <i id="spinner" class='fas fa-spin d-none'>⏳</i>
      </div>
    <% end %>

  </div>
</div>

<script>
  const ELEMENTS = {
    'caseSelect': '#case-selection',
    'generateBtn': '#btnGenerateReport',
  }
  const showBtn = el => el.classList.remove('d-none')
  const enableBtn = (el) => {
    el.disabled = false
    el.classList.remove('disabled')
    el.removeAttribute('aria-disabled')
  }

  const handleSelect = (e) => {
    const selectEl = e.target
    const generateBtn = selectEl.form.querySelector(ELEMENTS.generateBtn)

    // when selecting a case, reset buttons to initial state
    enableBtn(generateBtn)
    showBtn(generateBtn)
  }

  const bindElements = () => {
    const caseSelectEl = document.querySelector(ELEMENTS.caseSelect)

    if (caseSelectEl)
      caseSelectEl.addEventListener('change', handleSelect)
  }

  const setTimeZone = () => {
    const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone
    document.getElementById("user-time-zone").value = timeZone
  }

  window.onload = function () {
    bindElements()
  }
</script>
