<h1><%= t(".title") %></h1>

<div class="card card-container">
  <div class="card-body">
    <h5 class="card-title"><strong><%= t(".generate_report") %></strong></h5>
    <p class="card-text">
      <%= t(".description") %>
    </p>

    <hr>

    <%= form_with url: generate_case_court_reports_path, local: false do |form| %>
      <div class="field form-group">
        <%= label_tag :case_number, t(".label.case_number") %>
        <select id="case-selection" name="case_number" class="custom-select select2">
          <option value="" selected><%= t(".prompt.select_case_number") %></option>
          <% @assigned_cases.each do |casa_case| %>
            <% option = casa_case.decorate.court_report_select_option %>
            <option value="<%= option[1] %>" data-lookup="<%= casa_case.assigned_volunteers.map(&:display_name).join(",") %>">
              <%= option[0] %>
            </option>
          <% end %>
        </select>

      </div>
      <div class="form-group">
        <%= button_tag t(".button.generate"), type: :submit,
                       data: {
                           button_name: t(".button.generate")
                       },
                       id: "btnGenerateReport",
                       class: "btn btn-primary" %>
        <i id="spinner" class='fas fa-spin d-none'>⏳</i>
      </div>
    <% end %>

  </div>
</div>

<script>
  const ELEMENTS = {
    'caseSelect': '#case-selection',
    'generateBtn': '#btnGenerateReport',
  }
  const showBtn = el => el.classList.remove('d-none')
  const enableBtn = (el) => {
    el.disabled = false
    el.classList.remove('disabled')
    el.removeAttribute('aria-disabled')
  }

  const handleSelect = (e) => {
    const selectEl = e.target
    const generateBtn = selectEl.form.querySelector(ELEMENTS.generateBtn)

    // when selecting a case, reset buttons to initial state
    enableBtn(generateBtn)
    showBtn(generateBtn)
  }

  const bindElements = () => {
    const caseSelectEl = document.querySelector(ELEMENTS.caseSelect)

    if (caseSelectEl)
      caseSelectEl.addEventListener('change', handleSelect)
  }

  window.onload = function () {
    bindElements()
  }
</script>
