<h1>Report Categories</h1>

<div class="card card-container">
  <div class="card-body">
    <h5 class="card-title"><strong>Generate Court Report</strong></h5>
    <p class="card-text">
      Download a Court Report with pre-filled information for your cases. This document is in Word format (.docx).
    </p>

    <hr>

    <%= form_with do |form| %>
      <div class="field form-group">
      <%= label_tag :case_number, "Case Number:" %>
      <%= select_tag :case_number,
                    options_from_collection_for_select(@assigned_cases, :case_number, :case_number, 0),
                    prompt: "Select a case to generate report",
                    include_blank: false,
                    id: "case-selection", 
                    class: "custom-select" %>
      </div>

      <div class="form-group">
      <%= button_tag "Generate Report", type: :submit,
          data: { 
            button_name: "Generate Report",
            disable_with: "Court report generating. Do not refresh or leave this page...",
            ready_with: "Your report is ready"
          },
          id: "btnGenerateReport",
          class: "btn btn-primary" %>
    <!--
      Link to report is set to empty by default.
      Download link will be created once the report is generated.
    -->
    <%= link_to "Download Court Report",
        "#",
        id: "btnDownloadReport",
        class: "btn btn-outline-primary" %>
      </div>
    <% end%>

  </div>
</div>
