<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2>Report Categories
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="tables-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <h6 class="mb-10">Generate Court Report</h6>
        <p class="text-sm mb-25">
          The Court Report is pre-filled with information for your case. You can select among currently active cases assigned to you. The document is in Microsoft Word format (.docx).
        </p>
        <%= form_with url: generate_case_court_reports_path, local: false do |form| %>
          <div class="input-style-1">
            <%= form.label :case_number, "Case Number:" %>
            <% select_options = @assigned_cases.map { |casa_case| casa_case.decorate.court_report_select_option } %>

            <% show_search = !current_user.volunteer? %>

            <% select_case_prompt = show_search ? "Search by volunteer name or case number" : "Select case number" %>
            <% select2_class = show_search ? "select2" : "" %>

            <%= select_tag :case_number,
                          options_for_select(select_options),
                          prompt: select_case_prompt,
                          include_blank: false,
                          id: "case-selection",
                          class: "custom-select #{select2_class}" %>

            <%= form.hidden_field :time_zone, id: "user-time-zone" %>
          </div>
          <div class="input-style-1">
            <%= button_tag "Generate Report", type: :submit,
                      data: {
                          button_name: "Generate Report"
                      },
                      id: "btnGenerateReport",
                      class: "main-btn primary-btn btn-hover btn-sm",
                      onclick: "setTimeZone()" %>
            <i id="spinner" class='fas fa-spin d-none'>⏳</i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const ELEMENTS = {
    'caseSelect': '#case-selection',
    'generateBtn': '#btnGenerateReport',
  }
  const showBtn = el => el.classList.remove('d-none')
  const enableBtn = (el) => {
    el.disabled = false
    el.classList.remove('disabled')
    el.removeAttribute('aria-disabled')
  }

  const handleSelect = (e) => {
    const selectEl = e.target
    const generateBtn = selectEl.form.querySelector(ELEMENTS.generateBtn)

    // when selecting a case, reset buttons to initial state
    enableBtn(generateBtn)
    showBtn(generateBtn)
  }

  const bindElements = () => {
    const caseSelectEl = document.querySelector(ELEMENTS.caseSelect)

    if (caseSelectEl)
      caseSelectEl.addEventListener('change', handleSelect)
  }

  const setTimeZone = () => {
    const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone
    document.getElementById("user-time-zone").value = timeZone
  }

  window.onload = function () {
    bindElements()
  }
</script>
