<div class="col-md-6">
  <div class="title mb-30 mt-30">
    <h2>Edit Profile</h2>
  </div>
</div>

<div class="card-style">
  <div class="card-body">
    <%= form_for @user, as: :all_casa_admin, url: all_casa_admins_path do |form| %>

        <%= render "/shared/error_messages", resource: @user %>

        <%= render '/layouts/flash_messages' %>

      <div class="input-style-1">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.button "Update Profile", type: "submit", class: "main-btn primary-btn btn-hover" %>
        <button class="main-btn primary-btn btn-hover" id="accordionExample" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Change Password
        </button>
      </div>
    <% end %>
    <br>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <%= form_for(@user, as: :all_casa_admin, url: {action: "update_password"}) do |f| %>
        <div class="input-style-1">
          <%= f.label :password, "Password" %><br>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", minlength: 6 %>
        </div>
        <div class="input-style-1">
          <%= f.label :password_confirmation, "Password Confirmation" %><br>
          <%= f.password_field :password_confirmation, class: "form-control", minlength: 6 %>
        </div>
        <div class="action_container">
          <%= f.submit "Update Password", class: "main-btn danger-btn btn-hover" %>
        </div>
      <% end %>
    </div>
    <br>
  </div>
</div>
