<% if policy(:dashboard).see_supervisors_section? %>
  <div class="row">
    <div class="col-sm-12 dashboard-table-header">
      <h1>Supervisors</h1>
      <%= link_to "New Supervisor", new_supervisor_path, class: "btn btn-primary" %>
    </div>
  </div>

  <table class="table table-striped table-bordered" id="supervisors">
    <thead>
      <tr>
        <th>Supervisor Name</th>
        <th>Volunteer Assignments</th>
        <th>Serving Transition Aged Youth</th>
        <th>No Contact (14 days)</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @supervisors.each do |supervisor| %>
        <tr>
          <td id="name">
            <%= link_to(supervisor.display_name, edit_supervisor_path(supervisor)) %>
          </td>
          <td id="volunteer-assignments"> <%= supervisor.volunteers.size %></td>
          <td id="serving-transition-aged-youth">
            <%= supervisor.volunteers_serving_transistion_aged_youth %>
          </td>
          <td id="no-contact">
            <%= supervisor.no_contact_for_two_weeks %>
          </td>
          <td><%= link_to 'Edit', edit_supervisor_path(supervisor) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
