<div class="row">
  <div class="col-sm-12">
    <div class="section-header">
        <h1 class="section-header__title">My <%= "Case".pluralize(@casa_cases.count) %></h1>
        <div></div>
    </div>
  </div>
</div>

<table class="table case-list">
  <thead>
    <tr>
      <th>Case Number</th>
      <th>Transition Aged Youth</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @casa_cases.each do |casa_case| %>
      <tr>
        <td>
          <span class="mobile-label">Case Number</span>
          <%= casa_case.case_number %>
        </td>
        <td>
          <span class="mobile-label">Transition Aged Youth</span>
          <%= casa_case.decorate.transition_aged_youth_icon %>
        </td>
        <td><%= link_to 'Edit', edit_casa_case_path(casa_case) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-sm-12">
    <div class="section-header">
        <h1 class="section-header__title">Case Contacts</h1>
        <div>
          <% if policy(:dashboard).create_case_contacts? %>
            <%= link_to "New Case Contact", new_case_contact_path, class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<% @casa_cases.each do |casa_case| %>
  <table class="table case-contacts-table" id="case_contacts">
    <thead>
      <tr>
        <th>Date</th>
        <th>Duration</th>
        <th>Contact Made</th>
        <th>Contact Medium</th>
        <th>Type</th>
        <th>Miles Driven</th>
        <th>Want reimbursement?</th>
        <th>Created by</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% casa_case.decorate.case_contacts_ordered_by_occurred_at.each do |contact| %>
        <%= render "case_contacts/case_contact", contact: contact %>
      <% end %>
    </tbody>
  </table>
<% end %>
