<div class="row volunteer-filters">
  <div class="col-sm-12">
    <h4 class="pull-left">Filter by:</h4>
    <div class="dropdown pull-left">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Supervisor
      </button>
        <ul class="dropdown-menu supervisor-options" style="min-width: 15rem;">
          <% Supervisor.decorate.each do |supervisor| %>
            <li>
              <a class="small" data-value="option1" tabIndex="-1">
                <input
                  style="margin:0 8px;"
                  type="checkbox"
                  data-value="<%= supervisor.name %>"
                  <%= logged_in_supervisor ? (logged_in_supervisor.id == supervisor.id ? 'checked' : '') : 'checked' %>>
                <%= supervisor.name %>
              </a>
            </li>
          <% end %>
        </ul>
    </div>
    <div class="dropdown pull-left">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Status
      </button>
      <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
        <li><a class="small" data-value="option1" tabIndex="-1"><input style="margin:0 8px;" type="checkbox" data-value="Active" checked>
          Active</a></li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input style="margin:0 8px;" type="checkbox" data-value="Inactive">
          Inactive</a></li>
      </div>
    </div>
    <div class="dropdown pull-left">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assigned to Transition Aged Youth
      </button>
      <div class="dropdown-menu transition-youth-options" aria-labelledby="dropdownMenuButton">
        <li><a class="small" data-value="option1" tabIndex="-1"><input style="margin:0 8px;" type="checkbox" data-value="Yes ðŸ›ðŸ¦‹" checked>Yes</a></li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input style="margin:0 8px;" type="checkbox" data-value="No" checked>No</a></li>
      </div>
    </div>
  </div>
</div>
<br>

<div class="modal fade" id="visibleColumns" tabindex="-1" role="dialog" aria-labelledby="visibleColumnsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visibleColumnsLabel">Pick Displayed Columns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Select columns:

          <% Volunteer::TABLE_COLUMNS.each_with_index do |column, index| %>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-check">
                  <%= check_box_tag "pick-#{column}",
                    "1",
                    [1,6,7].exclude?(index),
                    class: "form-check-input toggle-visibility",
                    data: { column: index } %>
                  <%= label_tag "pick-#{column}", column.titleize, class: "form-check-label" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
