<% if policy(:dashboard).see_volunteers_section? %>
  This is the volunteers section.

  <h1>Volunteers</h1>

  <table>
    <thead>
      <tr>
        <th>Volunteer</th>
        <th>Case Number</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>
          <td><%= volunteer.email %></td>
          <td><%= volunteer.casa_cases.pluck(:case_number).join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>

<% if policy(:dashboard).see_cases_section? %>
  <div class="cases">
    <span class="button">
      <%= link_to "Create Case", new_casa_case_path %>
    </span>
    <table class="case-list">
      <tr>
        <th>Case Number</th>
        <th>Teen program eligible</th>
      </tr>
    <% @casa_cases.each do |casa_case| %>
      <tr>
        <td>
        <div class="case">
          <%= casa_case.case_number %>
        </div>
        </td>

        <td>
          <%= casa_case.teen_program_eligible %>
        </td>

        <td>
          <%= link_to("Edit", edit_casa_case_path(casa_case)) %>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
<% end %>
