<% if policy(:dashboard).see_volunteers_section? %>
  <h1>Volunteers</h1>

  <%= link_to "New Volunteer", new_volunteer_path, class: "btn btn-primary" %>

  <table id="volunteers">
    <thead>
      <tr>
        <th>Volunteer</th>
        <th>Case Number</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @volunteers.each do |volunteer| %>
        <tr>
          <td><%= volunteer.email %></td>
          <td><%= volunteer.casa_cases.pluck(:case_number).join(', ') %></td>
          <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New Case", new_casa_case_path, class: "btn btn-primary" %>

<% end %>


<% if policy(:dashboard).see_cases_section? %>
  <h1>Cases</h1>
  <table class="case-list">
    <tr>
      <th>Case Number</th>
      <th>Teen program eligible</th>
    </tr>
  <% @casa_cases.each do |casa_case| %>
    <tr>
      <td>
      <div class="case">
        <%= casa_case.case_number %>
      </div>
      </td>

      <td>
        <%= casa_case.teen_program_eligible %>
      </td>

      <td>
        <%= link_to("Edit", edit_casa_case_path(casa_case)) %>
      </td>

    </tr>
    <% end %>
  </table>

  <h1>Case Contacts</h1>

  <%= link_to "New Case Contact",  new_case_contact_path, class: "btn btn-primary" %>

  <table class="case-contacts-table">
    <tr>
      <th>Date</th>
      <th>Duration</th>
      <th>Type</th>
    </tr>
    <% @case_contacts.each do |contact| %>
      <tr>
        <td><%= time_tag contact.occurred_at %></td>
        <td><%= contact.display_duration_minutes %></td>
        <td><%= contact.humanized_type %></td>
      </tr>
    <% end %>
  </table>
<% end %>
