<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Supervisors</h1>
    <% if policy(Supervisor).create? %>
      <%= link_to "New Supervisor", new_supervisor_path, class: "btn btn-primary mb-2 mb-md-0" %>
    <% end %>
  </div>
</div>
<hr>

<div class="row supervisor-filters">
  <div class="col-sm-12">
    <h4 class="pull-left mr-2"><%= t(".filter") %></h4>
    <div class="dropdown pull-left mr-2">
      <button
        class="btn btn-secondary dropdown-toggle show"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"><%= t(".status") %></button>
      <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="small" data-value="option1" tabIndex="-1">
            <input type="checkbox" data-value="true" checked>
            <%= t(".active") %>
          </a>
        </li>
        <li>
          <a class="small" data-value="option1" tabIndex="-1">
            <input type="checkbox" data-value="false">
            <%= t(".inactive") %>
          </a>
        </li>
      </div>
    </div>
  </div>
</div>
<br>

<div class="card card-container">
  <div class="card-body">
    <table
      class="table table-striped table-bordered supervisors-list"
      id="supervisors"
      data-source="<%= datatable_supervisors_path format: :json %>">
      <thead>
      <tr>
        <th>Supervisor Name</th>
        <th>Volunteer Assignments</th>
        <th>Serving Transition Aged Youth</th>
        <th>No Attempt (14 days)</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @supervisors.each do |supervisor| %>
        <tr>
          <td id="name-<%= supervisor.id %>">
            <span class="mobile-label">Supervisor Name</span>
            <%= link_to(supervisor.display_name, edit_supervisor_path(supervisor)) %>
          </td>

          <% active_volunteers = supervisor.active_volunteers %>
          <td id="volunteer-assignments-<%= supervisor.id %>" data-order="<%= active_volunteers %>">
            <span class="mobile-label">Volunteer Assignments</span>
            <%= active_volunteers %>
          </td>

          <% transition_volunteers = supervisor.volunteers_serving_transition_aged_youth %>
          <td id="serving-transition-aged-youth-<%= supervisor.id %>" data-order="<%= transition_volunteers %>">
            <span class="mobile-label">Serving Transition Aged Youth</span>
            <%= transition_volunteers %>
          </td>

          <% no_attempt_volunteers = supervisor.no_attempt_for_two_weeks %>
          <td id="no-attempt-<%= supervisor.id %>" data-order="<%= no_attempt_volunteers %>">
            <span class="mobile-label">No Attempt (14 days)</span>
            <%= no_attempt_volunteers %>
          </td>

          <td>
            <span class="mobile-label">Actions</span>
            <%= link_to 'Edit', edit_supervisor_path(supervisor) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <div class="card card-container">
      <div class="card-body">
        <% if @available_volunteers.any? %>
          <table class="table table-striped table-bordered" id="unassigned-volunteers">
            <thead>
            <th></th>
            <th>Active volunteers not assigned to supervisors</th>
            <th>Assigned to Case(s)</th>
            </thead>
            <tbody>
            <% @available_volunteers.each_with_index do |volunteer, index| %>
              <tr>
                <td>
                  <%= index + 1 %>
                </td>
                <td>
                  <%= link_to volunteer.display_name, edit_volunteer_path(volunteer) %>
                </td>
                <td>
                  <% volunteer.casa_cases.map do |casa_case| %>
                    <%= link_to(casa_case.case_number, casa_case_path(casa_case)) %> <br>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <%= "There are no active volunteers without supervisors to display here" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
