<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2>Supervisors</h2>
      </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <span class="ml-5">
        <div class="dropdown pull-left mx-2 supervisor-filters">
          <button class="btn-sm main-btn dark-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="lni lni-funnel mr-10"></i>Filter Status</button>
          <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item form-check checkbox-style">
              <%= check_box_tag "status_option_active", "true", true,
                            class: "active form-check-input",
                            data: { value: "true" } %>
              <%= label_tag "status_option_active", "Active", class: "form-check-label" %>
            </div>
            <div class="dropdown-item form-check checkbox-style">
              <%= check_box_tag "status_option_inactive", "false", false,
                            class: "inactive form-check-input",
                            data: { value: "false" } %>
              <%= label_tag "status_option_inactive", "Inactive", class: "form-check-label" %>
            </div>
          </div>
        </div>
        </span>
        <span class="ml-5">
          <% if policy(Supervisor).create? %>
            <%= link_to new_supervisor_path, class: "btn-sm main-btn secondary-btn" do %>
              <i class="lni lni-plus mr-10"></i>
              New Supervisor
            <% end %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- ========== tables-wrapper start ========== -->
<div class="tables-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <h6 class="mb-10">Legend for Supervisor List</h6>
        <p class="text-sm mb-20">
          <span class="status-btn success-bg text-white mb-10">Number of Volunteers attempting contact (within 2 weeks)</span><br>
          <span class="status-btn danger-bg text-white mb-10">Number of Volunteers not attempting contact (within 2 weeks)</span><br>
          <span class="status-btn deactive-bg text-black">Count of Transition Aged Youth</span>
        </p>
        <div class="table-responsive">
          <table
            id="supervisors"
            class="table"
            data-source="<%= datatable_supervisors_path format: :json %>"
          >
            <thead>
            <tr>
              <th><h6>Supervisor Name</h6></th>
              <th><h6>Volunteer Info</h6></th>
              <th><h6>Actions</h6></th>
            </tr>
            <!-- end table row-->
            </thead>
            <tbody>
            </tbody>
          </table>
          <!-- end table -->
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
</div>

<div class="tables-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <% if @available_volunteers.any? %>
          <div class="table-wrapper table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th></th>
                <th><h6>Active volunteers not assigned to supervisors</h6></th>
                <th><h6>Assigned to Case(s)</h6></th>
              </tr>
              <!-- end table row-->
              </thead>
              <tbody>
              <% @available_volunteers.each_with_index do |volunteer, index| %>
                <tr>
                  <td>
                    <%= index + 1 %>
                  </td>
                  <td>
                    <%= link_to volunteer.display_name, edit_volunteer_path(volunteer) %>
                  </td>
                  <td>
                    <% volunteer.casa_cases.map do |casa_case| %>
                      <%= link_to(casa_case.case_number, casa_case_path(casa_case)) %> <br>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
          There are no active volunteers without supervisors to display here
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
