<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Supervisors</h1>
  </div>
</div>
<hr>
<div class="row supervisor-filters">
  <div class="col-sm-12">
    <h4 class="pull-left mr-2">Filter by</h4>
    <div class="dropdown pull-left mr-2">
      <button
        class="btn btn-secondary dropdown-toggle show"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">Status</button>
      <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item form-check">
          <%= check_box_tag "status_option_active", "true", true,
                    class: "active form-check-input",
                    data: { value: "true" } %>
          <%= label_tag "status_option_active", "Active", class: "form-check-label" %>
        </div>
        <div class="dropdown-item form-check">
          <%= check_box_tag "status_option_inactive", "false", false,
                    class: "inactive form-check-input",
                    data: { value: "false" } %>
          <%= label_tag "status_option_inactive", "Inactive", class: "form-check-label" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="legend supervisor_case_contact_stats">
  <div>
    <span class="attempted-contact"># Volunteers attempting contact (within 2 weeks)</span>
    <span class="no-attempted-contact"># Volunteers not attempting contact (within 2 weeks)</span>
    <span>Transition aged youth</span>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-striped table-bordered"
        id="supervisors"
        data-source="<%= datatable_supervisors_path format: :json %>"
      >
        <thead>
          <tr class="supervisor_table_row">
            <th>Supervisor Name</th>
            <th></th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <div class="card card-container">
      <div class="card-body">
        <% if @available_volunteers.any? %>
          <table class="table table-striped table-bordered" id="unassigned-volunteers">
            <thead>
              <th></th>
              <th>Active volunteers not assigned to supervisors</th>
              <th>Assigned to Case(s)</th>
            </thead>
            <tbody>
            <% @available_volunteers.each_with_index do |volunteer, index| %>
              <tr>
                <td>
                  <%= index + 1 %>
                </td>
                <td>
                  <%= link_to volunteer.display_name, edit_volunteer_path(volunteer) %>
                </td>
                <td>
                  <% volunteer.casa_cases.map do |casa_case| %>
                    <%= link_to(casa_case.case_number, casa_case_path(casa_case)) %> <br>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <%= "There are no active volunteers without supervisors to display here" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
