<%= errors_for(@supervisor) %>

<h1 class="section-header__title">Create New Supervisor</h1>

<div class="row">
  <div class="col-sm-6">
    <%= form_with model: @supervisor, local: true, url: supervisors_path do |form| %>
      <div class="field form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :display_name, "Display Name" %>
        <%= form.text_field :display_name, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Create Supervisor", class: "btn btn-primary" %>
        <%= return_to_dashboard_button %>
      </div>
    <% end %>
  </div>
</div>
