<p id="notice"><%= notice %></p>

<h1>Supervisor Volunteers</h1>

<table>
  <thead>
    <tr>
      <th>Volunteer user</th>
      <th>Supervisor user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supervisor_volunteers.each do |supervisor_volunteer| %>
      <tr>
        <td><%= supervisor_volunteer.volunteer_user_id %></td>
        <td><%= supervisor_volunteer.supervisor_user_id %></td>
        <td><%= link_to 'Show', supervisor_volunteer %></td>
        <td><%= link_to 'Edit', edit_supervisor_volunteer_path(supervisor_volunteer) %></td>
        <td><%= link_to 'Destroy', supervisor_volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supervisor Volunteer', new_supervisor_volunteer_path %>
