<%= link_to "Back", casa_admins_path %>
<h1><%= title %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= form_with(model: casa_admin, local: true) do |form| %>
      <%= render "/shared/error_messages", resource: casa_admin %>

      <div class="field form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :display_name, "Display Name" %>
        <%= form.text_field :display_name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label "Last logged in at" %>
        <%= form.text_field :last_sign_in_at, class: "form-control", disabled: true, value: casa_admin.decorate.formatted_last_sign_in_at %>
      </div>

      <% if casa_admin.persisted? %>
        <div class="field form-group">
          <% if casa_admin.active? %>
            Admin is <span class="badge badge-success text-uppercase display-1">Active</span>
            <%= link_to "Deactivate",
                        deactivate_casa_admin_path(casa_admin),
                        method: :patch,
                        class: "btn btn-outline-danger",
                        data: {confirm: t("forms.casa_admin.mark_inactive_warning")} %>
          <% else %>
            <div class="alert alert-danger">
              Admin was deactivated on: <%= I18n.l(casa_admin.updated_at, format: :standard, default: nil) %>
            </div>
            <% if policy(casa_admin).activate? %>
              <%= link_to "Activate Admin",
                          activate_casa_admin_path(casa_admin),
                          method: :patch,
                          class: "btn btn-outline-success" %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit "Submit", class: "btn btn-primary" %>
        <%= return_to_dashboard_button %>
      </div>
    <% end %>
  </div>
</div>
