<h1><%= title %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= form_with(model: casa_admin, local: true) do |form| %>
      <%= render "/shared/error_messages", resource: casa_admin %>

      <%= render "/shared/edit_form", resource: casa_admin, f: form %>

      <% if controller_name == "casa_admins" && action_name == "edit" %>
        <%= render "/shared/invite_login", resource: casa_admin %>
      <% end %>
      
      <% if casa_admin.persisted? %>
        <div class="field form-group">
          <% if casa_admin.active? %>
            Admin is <span class="badge badge-success text-uppercase display-1">Active</span>
            <%= link_to "Deactivate",
                        deactivate_casa_admin_path(casa_admin),
                        method: :patch,
                        class: "btn btn-outline-danger",
                        data: {
                            confirm: "WARNING: Marking an admin inactive will make them unable to login. Are you sure" +
                                " you want to do this?"
                        } %>
          <% else %>
            <div class="alert alert-danger">
              Admin was deactivated on: <%= I18n.l(casa_admin.updated_at, format: :standard, default: nil) %>
            </div>
            <% if policy(casa_admin).activate? %>
              <%= link_to "Activate Admin",
                          activate_casa_admin_path(casa_admin),
                          method: :patch,
                          class: "btn btn-outline-success" %>
            <% end %>
          <% end %>

          <% if current_user.casa_admin? && casa_admin.invitation_accepted_at.nil? %>
            <%= link_to "Resend Invitation",
                        resend_invitation_casa_admin_path(casa_admin),
                        method: :patch,
                        class: "btn btn-outline-danger" %>
          <% end %>

          <% if current_user.casa_admin? %>
            <%= link_to "Change to Supervisor",
                        change_to_supervisor_casa_admin_path(casa_admin),
                        method: :patch,
                        class: "btn btn-outline-danger" %>
          <% end %>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
