<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1><%= t(".title") %></h1>
    <%= link_to t(".button.new"), new_casa_admin_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <table class="table table-striped table-bordered" id="admins">
      <thead>
      <tr>
        <th><%= t(".heading.admin_email") %></th>
        <th><%= t(".heading.actions") %></th>
      </tr>
      </thead>

      <tbody>
      <% @admins.each do |admin| %>
        <tr id="admin-<%= admin.id %>">
          <th scope="row">
            <%= admin.email %>
          </th>
          <td>
            <%= link_to t(".button.edit"), edit_casa_admin_path(admin) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
