<div class="row">
  <div class="col-sm-12">
    <h1><%= current_organization.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h3>Administrators</h3>
    <%= link_to "New CASA Admin", new_all_casa_admins_casa_org_casa_admin_path(current_organization), class: "btn btn-primary" %>

    <table class="table admin-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <% current_organization.casa_admins.each do |admin| %>
          <tr class="admin-<%= admin.id %>">
            <td><%= admin.display_name %></td>
            <td><%= admin.email %></td>
            <td><%= admin.created_at.strftime('%B %e, %Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a href="/">Back to dashboard</a>
  </div>
</div>
