<%= link_to "Back", root_path %>
<h1><%= selected_organization.name %></h1>

<div class="card card-container">
  <div class="card-body">
    <div class="dashboard-table-header">
      <h3>Administrators</h3>
      <%= link_to "New CASA Admin",
                  new_all_casa_admins_casa_org_casa_admin_path(selected_organization), class: "btn btn-primary" %>
    </div>
    <table class="table admin-list">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% selected_organization.casa_admins.each do |admin| %>
        <tr class="admin-<%= admin.id %>">
          <td><%= admin.display_name %></td>
          <td><%= admin.email %></td>
          <td><%= admin.created_at.strftime(DateFormat::FULL) %></td>
          <td><%= link_to "Edit", edit_all_casa_admins_casa_org_casa_admin_path(selected_organization, admin) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
