<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2><%= selected_organization.name %></h2>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/flash_messages" %>
<div class="card card-container">
  <div class="card-body">
    <div class="dashboard-table-header">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title mb-30">
            <h2>Administrators</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="breadcrumb-wrapper mb-30">
            <span class="ml-5">
              <%= link_to new_all_casa_admins_casa_org_casa_admin_path(selected_organization),
                class: "btn-sm main-btn primary-btn btn-hover" do %>
                <i class="lni lni-plus mr-10"></i>New CASA Admin
              <% end %>
              <%=
                link_to "Return to Organizations",
                  authenticated_all_casa_admin_root_path,
                  class: "btn-sm main-btn primary-btn btn-hover"
              %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <table class="table admin-list">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% selected_organization.casa_admins.each do |admin| %>
        <tr class="admin-<%= admin.id %>">
          <td><%= admin.display_name %></td>
          <td><%= admin.email %></td>
          <td><%= I18n.l(admin.created_at, format: :full, default: nil) %></td>
          <td><%= link_to "Edit", edit_all_casa_admins_casa_org_casa_admin_path(selected_organization, admin) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <div class="card-title">
      <h3>Details</h3>
    </div>
    <ul class="list-group list-group-flush">
      <% @casa_org_metrics.each do |item_description, item_value| %>
        <li class="list-group-item">
          <strong><%= item_description %>:</strong> <%= item_value %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
