<h1>Case Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Volunteer user</th>
      <th>Case</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @case_assignments.each do |case_assignment| %>
      <tr>
        <td><%= case_assignment.volunteer_id %></td>
        <td><%= case_assignment.casa_case_id %></td>
        <td><%= case_assignment.is_active %></td>
        <td><%= link_to 'Show', case_assignment %></td>
        <td><%= link_to 'Edit', edit_case_assignment_path(case_assignment) %></td>
        <td><%= link_to 'Destroy', case_assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case Assignment', new_case_assignment_path %>
