<h1><%= "Editing #{@volunteer.display_name}" %></h1>

<br>

<% if @volunteer.casa_cases %>
  <table class='table' id='casa_cases'>
    <thead>
    <tr>
      <th>Case Number</th>
      <th>Transition Aged Youth</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @volunteer.case_assignments.each do |assignment| %>
      <tr>
        <td>
          <span class="mobile-label">Case Number</span>
          <%= assignment.casa_case.case_number %>
        </td>
        <td>
          <span class="mobile-label">Transition Aged Youth</span>
          <%= assignment.casa_case.decorate.transition_aged_youth %>
        </td>
        <td>
          <%= button_to "Unassign Volunteer",
                        volunteer_case_assignment_path(@volunteer, assignment),
                        method: :delete,
                        class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<br>

<div class="row">
  <div class="col-sm-6">
    <h3>Assign a New Volunteer</h3>

    <%= form_for CaseAssignment.new, url: volunteer_case_assignments_path do |form| %>

      <div class='form-group'>
        <label for="case_assignment_casa_case_id">Select a Case</label>
        <select id="is-this-used-anywhere" class='form-control select2'>
          <% CasaCase.all.each do |casa_case| %>
            <option value="<%= casa_case.id %>"><%= casa_case.case_number %></option>
          <% end %>
        </select>
      </div>

      <%= form.submit "Assign Case", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
