<% if @has_button %>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="<%= "##{@id}" %>" style="width: 100%; text-align: left;">
    <% if open_button %>
      <%= open_button %>
    <% elsif @button_value %>
      <%= @button_value %>
    <% else %>
        Open Modal
    <% end %>
  </button>
<% end %>

<% if @has_modal %>
  <div class="modal fade" id="<%= @id %>" tabindex="-1" aria-labelledby="<%= @id %>Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="<%= @id %>Label">
            <% if @header_text %>
              <%= @header_text %>
            <% end %>
            <% if modal_header %>
              <%= modal_header %>
            <% end %>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if @body_text %>
            <p><%= @body_text %></p>
          <% end %>
          <% if modal_content %>
            <%= modal_content %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <% if modal_footer? %><%= modal_footer %><% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
