<a
  href="<%= event.url %>"
  class="<%= event.muted_display %> list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex flex-row">
    <div class="d-flex-shrink-0">
      <% unless notification.read_at? %>
        <i class='fas fa-bell'></i>
      <% end %>
    </div>
    <div class="ml-2 flex-grow-1">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1"><%= event.title %></h5>
        <small><%= time_ago_in_words(notification.updated_at) %> ago</small>
      </div>
      <div class="my-1">
        <%= simple_format event.message %>
      </div>
    </div>
  </div>
</a>
