<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h3>
      Emancipation Checklist
    </h3>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <% @emancipation_form_data.each do |category| %>
      <div>
        <h6 class="emancipation-category no-select">
          <input
            type="checkbox"
            id="C<%= category.id %>"
            class="emancipation-category-check-box"
            value="<%= category.id %>"
            <%= emancipation_category_checkbox_checked(@current_case, category) %>>
          <label for="C<%= category.id %>"><%= category.name %></label>
        </h6>
        <div
          class="category-options"
          style="<%= emancipation_category_collapse_hidden(@current_case, category) %>">
          <% category.emancipation_options.each do |option| %>
            <% if category.mutually_exclusive %>
              <input
                type="radio"
                id="O<%= option.id %>"
                class="emancipation-radio-button"
                name="C<%= category.id %>"
                value="<%= option.id %>"
                <%= emancipation_option_checkbox_checked(@current_case, option) %>>
              <label for="O<%= option.id %>"><%= option.name %></label>
              <br>
            <% else %>
              <input
                type="checkbox"
                id="O<%= option.id %>"
                class="emancipation-option-check-box"
                value="<%= option.id %>"
                <%= emancipation_option_checkbox_checked(@current_case, option) %>>
              <label for="O<%= option.id %>"><%= option.name %></label>
              <br>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="async-notifications">
  <div id="async-waiting-indicator" style="display: none">
    Saving <div class="load-spinner"></div>
  </div>
  <div id="async-success-indicator" style="display: none">
    Saved
  </div>
</div>
