<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h3>
      Emancipation Checklist
      <strong>Case number:</strong> <%= @case_id %>
    </h3>
  </div> 
</div>

<div class="card card-container">
  <div class="card-body">
    <% @emancipation_form_data.each do |category| %>
      <% if category[:category].mutually_exclusive %>
        <h6>
          <label for="C<%= category[:category].id %>">
            <strong> <%= category[:category].name %> </strong>
          </label>
          <select id="C<%= category[:category].id %>" class="emancipation-select">
            <option value="">empty</option>
            <% category[:options].each do |option| %>
              <option value="<%= option.id %>" <%= @current_case.containsEmancipationOption(option.id) ? 'selected' : nil %>><%= option.name %></option>
            <% end %>
          </select>
        <h6>
      <% else %>
        <h6><strong> <%= category[:category].name %> </strong></h6>
        <% category[:options].each do |option| %>
          <input type="checkbox" id="O<%= option.id %>" class="emancipation-check-box" value="<%= option.id %>" <%= @current_case.containsEmancipationOption(option.id) ? 'checked' : nil %> >
          <label for="O<%= option.id %>"><%= option.name %></label>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div id="async-notifications">
  <div id="async-waiting-indicator">
    Saving <div class="load-spinner"></div>
  </div>
  <div id="async-success-indicator">
    Saved
  </div>
</div>
