<div class="input-style-1">
  <%= form.label :date, "Add Court Date" %>
  <%= form.date_field :date,
                      value: court_date.date&.to_date || Time.zone.now,
                      class: "form-control" %>
</div>
<div class="input-style-1">
  <%= form.label :court_report_due_date, "Add Court Report Due Date" %>
  <%= form.date_field :court_report_due_date,
                      value: court_date.court_report_due_date&.to_date,
                      class: "form-control" %>
</div>
<div class="select-style-1">
  <%= form.label :judge_id, "Judge" %>
  <div class="select-position">
    <%= form.collection_select(
          :judge_id,
          Judge.for_organization(current_organization),
          :id, :name,
          {include_hidden: false, include_blank: "-Select Judge-"},
          {class: "form-control"}
        ) %>
  </div>
</div>
<div class="select-style-1">
  <%= form.label :hearing_type_id, "Hearing type" %>
  <div class="select-position">
    <%= form.collection_select(
          :hearing_type_id,
          HearingType.active.for_organization(current_organization),
          :id, :name,
          {include_hidden: false, include_blank: "-Select Hearing Type-"},
          {class: "form-control"}
        ) %>
  </div>
</div>
<div class="field form-group court-orders">
  <%= render partial: "shared/court_order_list",
             locals: {casa_case: casa_case, siblings_casa_cases: nil, form: form, resource: 'court_date'} %>
</div>
