<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>Court Date</h1>
        <time datetime="<%= @court_date.date %>" class="d-inline-block h4"><%= @court_date.decorate.formatted_date %></time>
      </div>
    </div>
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <%= link_to edit_casa_case_court_date_path(@casa_case, @court_date), class: "btn-sm main-btn primary-btn btn-hover" do %>
          <i class="lni lni-pencil-alt mr-10"></i>
          Edit
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="card-style mb-30">
    <dl>
      <dt>
        <h6>Case Number:</h6>
      </dt>
      <dd class="mb-3"><%= link_to "#{@casa_case.case_number}", casa_case_path(@casa_case) %></dd>
      <dt>
        <h6>Court Report Due Date:</h6>
      </dt>
      <dd class="mb-3"><%= @court_date.court_report_due_date&.to_date || "None" %></dd>
      <dt>
        <h6>Judge:</h6>
      </dt>
      <dd class="mb-3"><%= @court_date.judge&.name || "None" %></dd>
      <dt>
        <h6>Hearing Type:</h6>
      </dt>
      <dd class="mb-3"><%= @court_date.hearing_type&.name || "None" %></dd>
    </dl>
    <h6>Court Orders:</h6>
    <% if @court_date.case_court_orders.any? %>
      <div class="table-wrapper table-responsive">
        <table class="table striped-table">
          <thead>
            <th>Case Order Text</th>
            <th class="text-center">Implementation Status</th>
          </thead>
          <tbody>
            <% @court_date.case_court_orders.each do |court_order| %>
              <tr>
                <td class="min-width"><%= court_order.text %></td>
                <td class="text-center"><%= court_order.implementation_status&.humanize %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>
        There are no court orders associated with this court date.
      </p>
    <% end %>
    <div class="d-flex">
      <%= link_to casa_case_court_date_path(@casa_case, @court_date, format: :docx), class: "btn-sm main-btn primary-btn btn-hover" do %>
        <i class="lni lni-download mr-10"></i>
        Download Report (.docx)
      <% end %>
      <% if policy(:court_date).destroy? && @court_date.date > Time.now %>
        <%= link_to [@casa_case, @court_date], method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm main-btn danger-btn-outline btn-hover ms-auto" do %>
          <i class="lni lni-trash-can mr-10"></i>
          Delete Future Court Date
        <% end %>
      <% end %>
    </div>
  </div>
</div>
