<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Notifications</h1>
  </div>
</div>

<div class="list-group">
  <% @notifications.each do | notification | %>
    <a
      href="<%= notification.to_notification.url %>"
      class="<%= notification_row_class(notification) %> list-group-item list-group-item-action flex-column align-items-start"
      >
      <div class="d-flex flex-row">
        <div class="d-flex-shrink-0"><%= notification_icon(notification) %></div>
        <div class="ml-2 flex-grow-1">
          <div class="d-flex justify-content-between">
            <h5 class="mb-1">Followup resolved</h5>
            <small><%= time_ago_in_words(notification.updated_at) %> ago</small>
          </div>
          <p class="mb-1"><%= notification.to_notification.message %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>
