<div class="patch-note-list-item card">
  <div id="patch-note-<%= patch_note.id %>" class="card-body">
    <textarea disabled="true"><%= patch_note.note %></textarea>
    <div class="select-style-1 label-and-select">
      <label for="patch-note-<%= patch_note.id %>-type">Patch Note Type:</label>
      <select id="patch-note-<%= patch_note.id %>-type" disabled="true">
        <% @patch_note_types&.each do |patch_note_type| %>
          <% if patch_note_type.id === patch_note.patch_note_type_id %>
            <option value="<%= patch_note_type.id %>" selected="selected">
          <% else %>
            <option value="<%= patch_note_type.id %>">
          <% end %>
              <%= patch_note_type.name %>
            </option>
        <% end %>
      </select>
    </div>
    <div class="select-style-1 label-and-select">
      <label for="patch-note-<%= patch_note.id %>-group">User Group:</label>
      <select id="patch-note-<%= patch_note.id %>-group" disabled="true">
        <% @patch_note_groups&.each do |patch_note_group| %>
          <% if patch_note_group.id === patch_note.patch_note_group_id %>
            <option value="<%= patch_note_group.id %>" selected="selected">
          <% else %>
            <option value="<%= patch_note_group.id %>">
          <% end %>
              <%= patch_note_group.value %>
            </option>
        <% end %>
      </select>
    </div>
    <div class="patch-note-button-controls">
      <button type="button" class="main-btn primary-btn btn-hover button-edit"><i class="lni lni-pencil-alt mr-10"></i>Edit</button>
      <button type="button" class="main-btn danger-btn btn-hover button-delete"><i class="lni lni-trash-can mr-10"></i>Delete</button>
    </div>
  </div>
</div>
