<p style="color: green"><%= notice %></p>

<div id="patch-notes">
  <div id="patch-note-list">
    <div class="col-md-6">
      <div class="title mt-30 mb-30">
        <h1>Patch Notes</h1>
      </div>
    </div>
    <div class="patch-note-list-item card">
      <div id="new-patch-note" class="card-body">
        <textarea placeholder="New Patch Note"></textarea>
        <div class="select-style-1 label-and-select">
          <label for="new-patch-note-type">Patch Note Type:</label>
          <select id="new-patch-note-type">
            <% @patch_note_types&.each do |patch_note_type| %>
              <option value="<%= patch_note_type.id %>"><%= patch_note_type.name %></option>
            <% end %>
          </select>
        </div>
        <div class="select-style-1 label-and-select">
          <label for="new-patch-note-group">User Group:</label>
          <select id="new-patch-note-group">
            <% @patch_note_groups&.each do |patch_note_group| %>
              <option value="<%= patch_note_group.id %>"><%= patch_note_group.value %></option>
            <% end %>
          </select>
        </div>
        <div class="patch-note-button-controls">
          <button type="button" class="main-btn primary-btn btn-hover">
            <i class="lni lni-checkmark-circle mr-5"></i>Create</button>
        </div>
      </div>
    </div>
    <%# Paginate this %>
    <% @patch_notes&.each do |patch_note| %>
      <%= render "all_casa_admins/patch_notes/patch_note", patch_note: patch_note %>
    <% end %>
  </div>
</div>
