<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>
          <% if banner.persisted? %>
            Edit Banner
          <% else %>
            New Banner
          <% end %>
        </h1>
      </div>
    </div>
  </div>
</div><!-- ==== end title ==== -->
<div class="card-style mb-30">
  <%= form_with model: banner do |form| %>
    <%= render "shared/error_messages", resource: banner %>

    <div class="input-style-1">
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>
    <div data-controller="reveal" data-reveal-hidden-class="d-none" class="form-check checkbox-style mb-20">
      <%= form.check_box :active, data: { action: current_organization.has_alternate_active_banner?(@banner.id) && 'click->reveal#toggle' }, class: 'form-check-input' %>
      <%= form.label :active, "Active?", class: 'form-check-label' %>
      <span data-reveal-target="item" class="text-danger <%= conditionally_add_hidden_class(form.object.active) %>">Warning: This will replace your current active banner</span>
    </div>
    <span class="input-style-1">
      <%= form.label :expires_at, "Expires at (optional)"%>
      <%= form.datetime_field :expires_at, value: banner.expires_at_in_time_zone(cookies[:browser_time]), required: false, include_seconds: false %>
    </span>
    <div class="input-style-1">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>
    <div class="actions mb-10">
      <%= button_tag(type: "submit", class: "btn-sm main-btn primary-btn btn-hover") do %>
        <i class="lni lni-checkmark-circle mr-10"></i> Submit
      <% end %>
    </div>
  <% end %>
</div>
