<div class="languages">
  <h2 class="pt-5">My Languages</h2>

  <div class="card card-container">
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Languages</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>English (default language)</td>
            </tr>
          <% volunteer.languages.each do |lang| %>
            <tr>
              <td><%= lang.name %></td>
              <td>
                <%= link_to "Delete", language_remove_from_volunteer_path(lang), class: "btn btn-danger",
method: :delete %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <h6 class="font-weight-bold">Add Language</h6>
      <div class="form-group">
      <%= form_for volunteer, url: add_language_users_path do |form| %>
        <%= form.select :languages,
                      current_organization.languages.map { |lang| [lang.name, lang.id] },
                      {include_blank: true},
                      {name: :language_id, class: "p-2"} %>
        <%= button_tag "Add", type: :submit, class: "btn btn-primary ml-1 mb-1", id: "add-language-button" %>
      <% end %>
      </div>

    </div>
  </div>
</div>
