<h2>Change your password</h2>

<div class="row">
  <div class="col-sm-6">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
      <%= render "/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field form-group">
        <%= f.label :password, "New password" %><br>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<br>
<%= render "devise/shared/links" %>
