<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>Placement History for
          <%= link_to "#{@casa_case.case_number}", casa_case_path(@casa_case) %>
        </h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <%= link_to new_casa_case_placement_path(@casa_case), class: "main-btn btn-sm primary-btn btn-hover ml-3" do %>
          <i class="lni lni-plus"></i>
          New Placement
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="card-style mb-30">
    <table class="table">
      <thead>
      <tr>
        <th>Placement Type</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @placements.each_with_index do |placement, idx| %>
        <tr>
          <td><%= placement.placement_type.name %></td>
          <td>
            <%= placement.decorate.formatted_date %>
            -
            <% if idx.zero? %>
              Present
            <% elsif @placements[idx - 1].placement_started_at %>
              <%= @placements[idx - 1].decorate.formatted_date %>
            <% end %>
          </td>
          <td><%= link_to edit_casa_case_placement_path(@casa_case, placement), class: "btn-sm main-btn primary-btn-outline btn-hover ms-auto" do %>
              <i class="lni lni-pencil-alt"></i>
              Edit
            <% end %>
          </td>
          <td>
            <%= render(Modal::OpenLinkComponent.new(target: placement.id, klass: "btn-sm main-btn danger-btn-outline btn-hover ms-auto")) do %>
              <i class="lni lni-trash-can"></i>
              Delete
            <% end %>
          </td>
        </tr>
        <%= render(Modal::GroupComponent.new(id: placement.id)) do |component| %>
          <% component.with_header(text: "Delete Placement?", id: placement.id) %>
          <% component.with_footer do %>
            <%= link_to casa_case_placement_path(@casa_case, placement), method: :delete, class: "btn-sm main-btn danger-btn btn-hover ms-auto" do %>
              <i class="lni lni-trash-can"></i>
              Confirm
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
