<div class="nested-form-wrapper">
    <li>
      <div class="expense-container row" data-index="<%= form.index %>">
        <div class="input-style-1 col-sm-3">
          <h5><%= form.label :additional_expense, "a. Expense amount" %></h5>
          <div class="input-group">
            <span class="dollar-sign">
              <%= form.number_field :other_expense_amount,
                placeholder: "0",
                class: "form-control other-expense-amount",
                min: "0", max: 1000, step: 0.01 %>
            </span>
          </div>
        </div>
        <div class="input-style-1 col">
          <h5><%= form.label :other_expenses_describe, "b. Expense details" %></h5>
          <%= form.text_field :other_expenses_describe,
            placeholder: "Enter additional details",
            class: "form-control other-expenses-describe" %>
        </div>
          <div class="input-style-1 col">
            <button type="button" class="align-self-center main-btn danger-btn btn-hover btn-sm remove-expense-button mt-15" data-action="nested-form#remove"> Delete</button>
        </div>
      </div>
    </li>
    <%= form.hidden_field :_destroy %>
</div>
