<div class="nested-form-wrapper mb-2"
  data-new-record="<%= form.object.new_record? %>"
  data-casa-nested-form-target="wrapper"
  data-child-index="<%= form.options[:child_index] %>">
  <div class="row gy-3">
    <div class="col-12 col-md-4">
      <%= form.label :other_expense_amount, "Other Expense Amount", class: "form-label" %>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <%= form.number_field(:other_expense_amount,
          value: number_with_precision(form.object.other_expense_amount, precision: 2),
          placeholder: "0", min: "0", max: 1000, step: 0.01,
          class: ["form-control", "expense-amount-input"],
        ) %>
      </div>
    </div>
    <div class="cl-12 col-md">
      <%= form.label :other_expenses_describe, class: "form-label" do %>
        Other Expense Details<span class="red-letter">*</span>
      <% end %>
      <%= form.text_area(:other_expenses_describe,
          placeholder: "Enter other expense details",
          class: ["form-control", "expense-describe-input"],
          data: { action: "input->autosave#save" },
      ) %>
    </div>
    <div class="col-12 col-md-auto d-flex align-items-center justify-content-end">
      <button type="button"
        class="remove-expense-button btn btn-sm danger-btn-outline btn-hover"
        data-action="casa-nested-form#destroyAndRemove">
        Delete
      </button>
    </div>

    <%= form.hidden_field :id, value: form.object.id %>
    <%= form.hidden_field :_destroy, data: {case_contact_form_target: "expenseDestroy"} %>
  </div>
</div>
