<div class="nested-form-wrapper"
  data-new-record="<%= form.object.new_record? %>"
  data-casa-nested-form-target="wrapper"
  data-child-index="<%= form.options[:child_index] %>">
  <div class="d-flex gap-1">
    <div class="col-md-4">
      <%= form.label :other_expense_amount, "Expense amount" %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= form.number_field(:other_expense_amount,
          value: number_with_precision(form.object.other_expense_amount, precision: 2),
          placeholder: "0", min: "0", max: 1000, step: 0.01,
          class: ["form-control", "expense-amount-input"],
        ) %>
      </div>
    </div>
    <div class="flex-grow-1">
      <%= form.label :other_expenses_describe do %>
        Expense description<span class="red-letter">*</span>
      <% end %>
      <%= form.text_area(:other_expenses_describe,
          placeholder: "Enter additional details",
          class: ["form-control", "expense-describe-input"],
          data: { action: "input->autosave#save" },
      ) %>
    </div>
    <div class="flex-shrink-1">
      <button type="button"
        class="remove-expense-button mt-4 btn btn-sm danger-btn-outline btn-hover"
        data-action="casa-nested-form#destroyAndRemove">
        Remove
      </button>
    </div>

    <%= form.hidden_field :id, value: form.object.id %>
    <%= form.hidden_field :_destroy, data: {case_contact_form_target: "expenseDestroy"} %>
  </div>
</div>
