<%= form.label :case_court_orders, t("global.court_orders") %>
<div id="court-orders-list-container">
    <%= form.fields_for :case_court_orders do |ff| %>
    <div class="court-mandate-entry">
        <%= ff.text_area :text %>
        <%=
        ff.select :implementation_status,
                    casa_case.decorate.court_order_select_options,
                    {include_blank: 'Set Implementation Status'},
                    {class: 'implementation-status'}
        %>
        <button type="button" class="remove-mandate-button btn btn-danger"><%= t("button.delete") %></button>
    </div>
    <% end %>
</div>
<div class="add-container">
    <button type="button" class="add-button" id="add-mandate-button">
    <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <strong><%= t("global.add_court_order") %></strong>
</div>
