<label>Court Orders - Please check that you didn't enter any youth names</label>
<template data-court-order-form-target="template">
  <%= form.fields_for :case_court_orders, CaseCourtOrder.new, child_index: "NEW_RECORD" do |ff| %>
    <%= render "shared/court_order_form", f: ff %>
  <% end %>
</template>
<div id="court-orders-list-container" data-resource="<%= resource %>" data-court-order-list-target="list">
  <% if siblings_casa_cases && siblings_casa_cases.count >= 1 %>
    <div class="mb-4 mt-2">
      <% siblings_casa_cases_options = siblings_casa_cases.map { |scc| [scc.case_number, scc.id] } %>
      <div class="select-style-1">
        <%= form.label :"siblings_casa_cases", "Copy all orders from case: " %>
        <div class="select-position">
          <%= form.select :"siblings_casa_cases", siblings_casa_cases_options,
                                                {include_blank: true},
                                                {class: "siblings-casa-cases col-3 ml-2"}
                                                %>
        </div>
      </div>
      <%= button_tag "Copy", type: :button, class: "copy-court-button main-btn primary-btn btn-hover ml-1", id: "copy-court-button" %>
      <% if casa_case %>
        <%= form.hidden_field :casa_case, value: casa_case.id %>
      <% end %>
    </div>
  <% end %>
  <%= form.fields_for :case_court_orders do |ff| %>
    <%= render "shared/court_order_form", f: ff %>
  <% end %>

  <div data-court-order-form-target="target"></div>

  <div class="select-style-1">
    <%= label_tag :selectedCourtOrder, "Court Order Type" %>
    <div class="select-position">
      <%= select_tag :selectedCourtOrder,
          options_for_select(current_organization.standard_court_orders.map(&:value)),
          { include_blank: "Create custom court order", data: {court_order_form_target: "selectedCourtOrder"} }
        %>
    </div>
  </div>

</div>

<div class="add-container">
  <button id="add-standard-court-order-button" type="button" class="main-btn primary-btn btn-sm btn-hover" data-action="court-order-form#add">
    <i class="lni lni-plus mr-10"></i> Add a court order
  </button>
</div>
