<div class="input-style-1">
  <%= f.label :email, "Email" %>
  <% if policy(resource).update_user_setting? %>

    <%= f.text_field :email, placeholder: "Email" %>

  <% else %>
    <input type="text" placeholder="<%= resource.email %>" autocomplete="off" readonly>
  <% end %>
</div>

<div class="input-style-1">
  <%= f.label :display_name, "Display name" %>
  <% if policy(resource).update_user_setting? %>

    <%= f.text_field :display_name, placeholder: "Display Name" %>
  <% else %>
    <input type="text" placeholder="<%= resource.display_name %>" autocomplete="off" readonly>
  <% end %>
</div>

<div class="input-style-1">
  <%= f.label :phone_number, "Phone number" %>
  <% if policy(resource).update_user_setting? %>
    <%= f.text_field :phone_number, placeholder: "Phone Number" %>
  <% else %>
    <input type="text" placeholder="<%= resource.phone_number %>" autocomplete="off" readonly>
  <% end %>
</div>

<div class="input-style-1">
  <%= f.label :date_of_birth, "Date of birth" %>
  <% if policy(resource).update_user_setting? %>
    <%= f.text_field :date_of_birth,
                     value: resource.decorate.formatted_date_of_birth,
                     data: {provide: "datepicker", date_format: "yyyy/mm/dd"},
                     class: "form-control label-font-weight" %>
  <% else %>
    <input type="text" placeholder="<%= resource.decorate.formatted_date_of_birth %>" autocomplete="off" readonly>
  <% end %>
</div>

<div class="form-check checkbox-style mb-20">
  <%= f.check_box :receive_reimbursement_email, class: "form-check-input" %>
  <%= f.label :receive_reimbursement_email, "Email Reimbursement Requests", class: "form-check-label" %>
</div>

<% if current_organization.show_driving_reimbursement && resource.role == "Volunteer" %>
  <div class="input-style-1">
    <%= f.label :address, "Mailing address" %>
    <% if policy(resource).update_user_setting? %>
      <%= f.fields_for :address, (resource.address ? nil : Address.new) do |a| %>
        <%= a.text_field :content, placeholder: "Mailing Address" %>
      <% end %>
    <% else %>
      <%= f.fields_for :address, (resource.address ? nil : Address.new) do |a| %>
        <%= a.text_field :content, readonly: true, placeholder: "Mailing Address" %>
      <% end %>
    <% end %>
  </div>
<% end %>
