<% if resource.errors.any? %>
  <div class="alert-box danger-alert">
    <div id="error_explanation" class="alert">
      <h6>
        <%= pluralize(resource.errors.count, "error") %> prohibited this
        <%= @custom_error_header || resource.model_name.human %> from being saved:
      </h6>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% elsif alert || notice %>
  <% if alert %>
    <div class="alert-box danger-alert">
      <div class="alert">
        <p>
          <%= alert %>
        </p>
      </div>
    </div>
    <% else %>
    <div class="alert-box primary-alert">
      <div class="alert">
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
    <% end %>
<% end %>
