<% if resource.errors.any? %>
  <div class="alert-box danger-alert">
    <div id="error_explanation" class="alert">
      <h6>
        <%= pluralize(resource.errors.count, "error") %> prohibited this
        <%= @custom_error_header || resource.model_name.human %> from being saved:
      </h6>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% elsif flash %>
  <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="alert-box danger-alert">
          <div id="error_explanation" class="alert">
            <%= msg %>
          </div>
        </div>
      <% elsif type == "notice" %>
        <div class="alert-box info-alert">
          <div id="error_explanation" class="alert">
            <%= msg %>
          </div>
        </div>
      <% elsif type == "success" %>
        <div class="alert-box success-alert">
          <div id="error_explanation" class="alert">
            <%= msg %>
          </div>
        </div>
    <% end %>
  <% end %>
<%end%>
