<div class="col-md-6">
  <div class="title mb-30 mt-30">
    <h2 class="pt-5">Manage Volunteers</h2>
  </div>
</div>
<div id="volunteer-assignment" class="card-style">
  <div>
    <% if show_assigned_volunteers %>
      <%= yield :table_title %>
      <div class="table-wrapper table-responsive">
        <table class='table'>
          <thead>
            <tr>
              <th>Volunteer Name</th>
              <th>Volunteer Email</th>
              <% if @casa_case %>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
              <% end %>
              <th>Enable Reimbursement</th>
              <% if local_assigns[:button_text] == "Hide unassigned" %>
                <th>Currently Assigned To</th>
              <% end %>
              <th>Actions</th>
            </tr>
          </thead>
          <%= yield :table_body %>
        </table>
      </div>
    <% end %>
    <br>
    <h3 class="title">Assign a New Volunteer</h3>
    <fieldset class="border-0" <%= 'disabled' unless available_volunteers.any? %>>
      <%= form_for assignable_obj.new, url: assign_action do |form| %>
        <div class='form-group'>
          <label for="<%= select_id %>" class="mt-2">Select a Volunteer</label>
          <select id="<%= select_id %>" name="<%= select_name %>" class='form-control select-style-2 mt-1'>
            <% available_volunteers.each do |volunteer| %>
              <option value="<%= volunteer.id %>"><%= volunteer.display_name %></option>
            <% end %>
          </select>
        </div>
        <% if @supervisor %>
          <%= form.hidden_field :supervisor_id, :value => @supervisor.id %>
        <% end %>
        <div class="actions mb-10">
          <%= button_tag(
            type: "submit",
            class: "main-btn primary-btn btn-sm btn-hover"
          ) do %><i class="lni lni-plus ml-10"></i> Assign Volunteer
          <% end %>
        </div>
      <% end %>
    </fieldset>
    <% unless available_volunteers.any? %>
      <p class="text-danger">There are no active, unassigned volunteers available.</p>
    <% end %>
  </div>
</div>
