<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3><%= t(".title") %></h3>
    <%= link_to t(".button.new"), new_contact_type_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered" id="contact-types">
  <thead>
  <tr>
    <th><%= t(".heading.name") %></th>
    <th><%= t(".heading.group") %></th>
    <th><%= t(".heading.active") %></th>
    <th><%= t(".heading.actions") %></th>
  </tr>
  </thead>

  <tbody>
  <% contact_types.each do |contact_type| %>
    <tr id="contact_type-<%= contact_type.id %>">
      <td scope="row">
        <%= contact_type.name %>
      </td>
      <td scope="row">
        <%= contact_type.contact_type_group.name %>
      </td>
      <td scope="row">
        <%= contact_type.active? ? "Yes" : "No" %>
      </td>
      <td>
        <%= link_to t(".button.edit"), edit_contact_type_path(contact_type) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
