<%= form_with(model: casa_org, local: true) do |form| %>
  <% if casa_org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(casa_org.errors.count, "error") %> prohibited this casa_org from being saved:</h2>

      <ul>
        <% casa_org.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
