<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3>Judge</h3>
    <%= link_to "New Judge", new_judge_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active?</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @judges.each do |judge| %>
      <tr id="judge-<%= judge.id %>">
        <td scope="row">
          <%= judge.name %>
        </td>
        <td scope="row">
          <%= judge.active ? "Yes" : "No" %>
        </td>
        <td>
          <%= link_to "Edit", edit_judge_path(judge) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
