<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3><%= t(".title") %></h3>
    <%= link_to t(".button.new"), new_judge_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th><%= t(".heading.name") %></th>
    <th><%= t(".heading.active") %></th>
    <th><%= t(".heading.actions") %></th>
  </tr>
  </thead>

  <tbody>
  <% @judges.each do |judge| %>
    <tr id="judge-<%= judge.id %>">
      <td scope="row">
        <%= judge.name %>
      </td>
      <td scope="row">
        <%= judge.active ? t("common.yes_text") : t("common.no_text") %>
      </td>
      <td>
        <%= link_to t(".button.edit"), edit_judge_path(judge) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
