<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3><%= t(".title") %></h3>
  </div>
</div>

<table class="table table-striped table-bordered" id="sent-emails">
  <thead>
  <tr>
    <th><%= t(".heading.mailer_type") %></th>
    <th><%= t(".heading.category") %></th>
    <th><%= t(".heading.sent_address") %></th>
    <th><%= t(".heading.created_at") %></th>
  </tr>
  </thead>

  <tbody>
  <% @sent_emails.each do |sent_email| %>
    <tr id="email-<%= sent_email.id %>">
      <td scope="row">
        <%= sent_email.mailer_type %>
      </td>
      <td scope="row">
        <%= sent_email.category %>
      </td>
      <td>
        <%= sent_email.user.display_name %> &lt;<%= sent_email.sent_address %>&gt;
      </td>
      <td>
        <%= sent_email.created_at.strftime("%l:%M%P %d %b %Y") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
