<h1><%= t(".title") %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= form_with(model: current_organization, local: true) do |form| %>
      <%= render "/shared/error_messages", resource: current_organization %>
      <div class="field form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :display_name %>
        <%= form.text_field :display_name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.label :address %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="custom-file mb-5">
        <%= form.label :logo %>
        <%= form.file_field :logo, class: "form-control" %>
      </div>
      <br>

      <div class="actions">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<h1 class="pt-5"><%= t(".manage_contact_types_title") %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= render "contact_type_groups", contact_type_groups: @contact_type_groups %>

    <%= render "contact_types", contact_types: @contact_types %>
  </div>
</div>

<h1 class="pt-5"><%= t(".manage_court_details_title") %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= render "hearing_types" %>
    <%= render "judges" %>
  </div>
</div>
