<p id="notice"><%= notice %></p>

<h1>Casa Orgs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casa_orgs.each do |casa_org| %>
      <tr>
        <td><%= casa_org.name %></td>
        <td><%= link_to 'Show', casa_org %></td>
        <td><%= link_to 'Edit', edit_casa_org_path(casa_org) %></td>
        <td><%= link_to 'Destroy', casa_org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Casa Org', new_casa_org_path %>
