<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @case_update.user_id %>
</p>

<p>
  <strong>Casa case:</strong>
  <%= @case_update.casa_case_id %>
</p>

<p>
  <strong>Update type:</strong>
  <%= @case_update.update_type %>
</p>

<p>
  <strong>Other type text:</strong>
  <%= @case_update.other_type_text %>
</p>

<%= link_to 'Edit', edit_case_update_path(@case_update) %> |
<%= link_to 'Back', case_updates_path %>
