<div class="row">
  <div class="col-sm-12">
    <h1><%= t(".title") %></h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong><%= t(".system_imports_title") %></strong></h5>
        <p class="card-text">
          <%= t(".instruction.title") %>:
          <ol>
            <li><%= t(".instruction.volunteers") %></li>
            <li><%= t(".instruction.supervisors") %></li>
            <li><%= t(".instruction.cases") %></li>
          </ol>
        </p>
        <div>
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
              <%= content_tag :a,
                              role: "tab",
                              href: "#volunteer",
                              id: "volunteer-tab",
                              class: [
                                  "nav-link",
                                  ("active" if @import_type == "volunteer")
                              ].compact,
                              data: {toggle: "tab"},
                              aria: {controls: "volunteer", selected: (@import_type == "volunteer")} do %>
                <%= t(".button.import_volunteers") %>
              <%- end %>
            </li>
            <li class="nav-item">
              <%= content_tag :a,
                              role: "tab",
                              href: "#supervisor",
                              id: "supervisor-tab",
                              class: [
                                  "nav-link",
                                  ("active" if @import_type == "supervisor")
                              ].compact,
                              data: {toggle: "tab"},
                              aria: {controls: "supervisor", selected: (@import_type == "supervisor")} do %>
              <%= t(".button.import_supervisors") %>
              <%- end %>
            </li>
            <li class="nav-item">
              <%= content_tag :a,
                              role: "tab",
                              href: "#casa-case",
                              id: "casa-case-tab",
                              class: [
                                  "nav-link",
                                  ("active" if @import_type == "casa_case")
                              ].compact,
                              data: {toggle: "tab"},
                              aria: {controls: "casa-case", selected: (@import_type == "casa_case")} do %>
                <%= t(".button.import_cases") %>
              <%- end %>
            </li>
          </ul>
          <div class="tab-content">
            <%= content_tag :div,
                            role: "tabpanel",
                            id: "volunteer",
                            class: [
                                "tab-pane",
                                "fade",
                                ("show" if @import_type == "volunteer"),
                                ("active" if @import_type == "volunteer")
                            ].compact,
                            aria: {labelledby: "volunteer-tab"} do %>
              <br>
              <%= render "volunteers" %>
            <%- end %>
            <%= content_tag :div,
                            role: "tabpanel",
                            id: "supervisor",
                            class: [
                                "tab-pane",
                                "fade",
                                ("show" if @import_type == "supervisor"),
                                ("active" if @import_type == "supervisor")
                            ].compact,
                            aria: {labelledby: "supervisor-tab"} do %>
              <br>
              <%= render "supervisors" %>
            <%- end %>
            <%= content_tag :div,
                            role: "tabpanel",
                            id: "casa-case",
                            class: [
                                "tab-pane",
                                "fade",
                                ("show" if @import_type == "casa_case"),
                                ("active" if @import_type == "casa_case")
                            ].compact,
                            aria: {labelledby: "casa-case-tab"} do %>
              <br>
              <%= render "cases" %>
            <%- end %>
          </div>
        </div>
        <br>
      </div>
    </div>
    <%= link_to t(".link.return_to_dashboard"), root_path, class: 'btn btn-info' %>
  </div>
  <%= render "csv_error_modal", {import_error: @import_error} if @import_error %>
</div>
