
<%= form_with model: @learning_hour, url: volunteer_learning_hour_path, local: true, id: "learning-hours-form" do |form| %>

  <div class="mt-2">
    <%= render "/shared/error_messages", resource: @learning_hour %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class=" field-card mt-3">
    <div class="input-style-1">
      <%= form.label :name, "Learning Hours Title" %>
      <%= form.text_field :name,
                          placeholder: "-- Enter a title --",
                          value: @learning_hour.name %>
    </div>
    <div class="select-style-1">
      <%= form.label :learning_hour_type_id, "Type of Learning" %>
      <div class="select-position">
        <%= form.collection_select :learning_hour_type_id,
                                   LearningHourType.for_organization(current_user.casa_org).active,
                                   :id,
                                   :name,
                                   prompt: "Select learning type",
                                   value: @learning_hour.learning_hour_type_id %>
      </div>
    </div>
    <% if current_user.casa_org.learning_topic_active %>
      <div class="select-style-1">
        <%= form.label :learning_hour_topic_id, "Learning Topic" %>
        <div class="select-position">
          <%= form.collection_select :learning_hour_topic_id,
            LearningHourTopic.for_organization(current_user.casa_org),
                                    :id,
                                    :name,
                                    prompt: "Select learning topic",
                                    value: @learning_hour.learning_hour_topic_id %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="field-card duration mt-4">
    <h5 class="mb-3">Learning Duration</h5>
    <%= render "layouts/components/hour_minute_duration",
      form: form, hour_value: @learning_hour.duration_hours, minute_value: @learning_hour.duration_minutes %>
  </div>
  <div class="field-card mt-4">
    <h5 class="mb-3"><%= form.label :occurred_at, "Occurred On" %>:</h5>
    <% occurred_at = @learning_hour.occurred_at || Time.zone.now %>
    <div class="input-style-1">
      <%= form.text_field :occurred_at,
                          value: occurred_at.to_date,
                          data: {provide: "datepicker", date_format: "yyyy/mm/dd"} %>
    </div>
  </div>
  <div class="actions mt-3">
    <%= button_tag(
      type: "submit",
      class: "main-btn primary-btn btn-hover btn-sm wide_button"
    ) do %>
      <i class="lni lni-save mr-5"></i> Update
    <% end %>
  </div>
<% end %>
