<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1><%= t(".title") %></h1>
    <%= link_to ("New Learning Hours"), new_volunteer_learning_hour_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <table class="table table-striped table-bordered learning-hours-list" id="all-learning-hours">
      <thead>
      <tr>
        <th><%= t(".heading.name") %></th>
        <th><%= t(".heading.type") %></th>
        <th><%= t(".heading.occurred_at") %></th>
        <th><%= t(".heading.time") %></th>
      </tr>
      </thead>
      <tbody>
      <% @learning_hours.each do |learning_hour| %>
        <tr>
        <td> <%= learning_hour.name %> </td>
        <td> <%= learning_hour.learning_type.humanize %> </td>
        <td> <%= learning_hour.occurred_at.strftime("%B %d, %Y") %> </td>
        <td> <%= learning_hour.duration_hours %> hr <%= learning_hour.duration_minutes %> min </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
