<div class="row my-3">
  <div class="col-sm-12 dashboard-table-header">
    <h1><%= @learning_hour.name %></h1>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <div class="table-wrapper table-responsive">
      <table class="table learning-hours-list" id="all-learning-hours">
        <thead>
          <tr>
            <th>Title</th>
            <th>Learning Type</th>
            <th>Date</th>
            <th>Time Spent</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @learning_hour.name %></td>
            <td><%= @learning_hour.learning_hour_type.name %></td>
            <td><%= @learning_hour.occurred_at.strftime("%B %d, %Y") %></td>
            <td>
              <% if (@learning_hour.duration_hours > 0) %>
                <%= @learning_hour.duration_hours %> hr
              <% end %>
              <%= @learning_hour.duration_minutes %> min
            </td>
            <td>
              <%= link_to edit_volunteer_learning_hour_path, class: "text-primary" do %><i class="lni lni-pencil-alt mr-5"></i>Edit<% end %> |
              <%= link_to volunteer_learning_hour_path, class: "text-danger", method: :delete,
        data: { confirm: "Are you sure to delete this learning record?" } do %><i class="lni lni-trash-can mr-5"></i>Delete<% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
