<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
  </div>
</div><!-- ==== end title ==== -->

<div class="card-style mb-30">
  <%= form_with(model: placement_type, local: true) do |form| %>
    <div class="alert-box danger-alert">
      <%= render "/shared/error_messages", resource: placement_type %>
    </div>

    <div class="input-style-1">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="actions mb-10">
      <%= button_tag(type: "submit", class: "btn-sm main-btn primary-btn btn-hover") do %>
        <i class="lni lni-checkmark-circle mr-5"></i> Submit
      <% end %>
    </div>
  <% end %>
</div>
