<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
    <!-- ==== end title ==== -->

    <!-- ========== card start ========== -->
    <div class="card-style mb-30">
      <%= form_with(model: contact_type, local: true) do |form| %>
        <%= render "/shared/error_messages", resource: contact_type%>
        <div class="input-style-1">
          <%= form.label :name, "Name" %>
          <%= form.text_field :name, class: "" %>
        </div>
        <div class="select-style-1">
          <%= form.label :contact_type_group, "Contact type group" %>
          <div class="select-position">
            <%= form.select :contact_type_group_id, set_group_options, class: "select-position" %>
          </div>
        </div>
        <div class="form-check checkbox-style mb-20">
          <%= form.check_box :active, class: 'form-check-input' %>
          <%= form.label :active, "Active", class: 'form-check-label' %>
        </div>
        <div class="actions mb-10">
          <%= form.submit "Submit", class: "main-btn primary-btn btn-hover" %>
        </div>
      <% end %>
    </div>
    <!-- card end -->
  </div>
</div>