<h1><%= title %></h1>

<div class="card card-container">
  <div class="card-body">
    <div class="field form-group cc-italic">
      Case contact types are the types of people that can be contacted for a case contact.
    </div>
    <%= form_with(model: contact_type, local: true) do |form| %>
      <%= render "/shared/error_messages", resource: contact_type %>
      <div class="field form-group">
        <%= form.label :name, "Name" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= form.label :contact_type_group, "Contact type group" %>
        <%= form.select :contact_type_group_id, set_group_options, class: "form-control" %>
      </div>
      <div class="field form-group">
        <div class="form-check">
          <%= form.check_box :active, class: 'form-check-input' %>
          <%= form.label :active, "Active", class: 'form-check-label' %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
