<tr>
  <td data-sort="<%= contact.occurred_at.strftime("%Y%m%d%H%M%s") %>"><%= contact.occurred_at.strftime('%B %e, %Y') %></td>
  <td>
    <span class="mobile-label">Duration</span>
    <%= contact.decorate.duration_minutes %>
    </td>
  <td>
    <span class="mobile-label">Contact Made?</span>
    <%= contact.decorate.contact_made %>
    </td>
  <td>
    <span class="mobile-label">Contact Medium</span>
    <%= contact.decorate.medium_type_icon %>
    </td>
  <td>
    <span class="mobile-label">Type</span>
    <%= contact.decorate.contact_types %>
    </td>
  <td>
    <span class="mobile-label">Miles Driven</span>
    <%= contact.decorate.miles_traveled %>
    <% unless contact.decorate.miles_traveled.blank? %>
      <%= " " %>
      <i class="fa fa-car" aria-hidden="true"></i>
    <% end %>
  </td>
  <td>
    <span class="mobile-label">Want Reimbursement?</span>
    <%= contact.decorate.reimbursement %>
  </td>
  <td>
    <span class="mobile-label">Creator</span>
    <% if policy(contact).edit? %>
      <% if contact.creator&.supervisor? %>
        <%= link_to "#{contact.creator&.display_name} ", edit_supervisor_path(current_user) %>
      <% elsif contact.creator&.casa_admin? %>
        <%= link_to "#{contact.creator&.display_name} ", edit_users_path %>
      <% else %>
        <%= link_to "#{contact.creator&.display_name} ", edit_volunteer_path(contact.creator) %>
      <% end %>
    <% else %>
      <%= contact.creator&.display_name %>
    <% end %>
  </td>
  <td>
    <%# TODO What text for tooltip? %>
    <% if Pundit.policy(current_user, contact).update? %>
      <% if contact.allowed_edit? %>
        <%= link_to 'Edit', edit_case_contact_path(contact) %>
      <% end %>
    <% end %>
  </td>
</tr>
