<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <div class="media">
          <i class="mt-1 mr-3 text-primary <%= contact.decorate.medium_icon_classes %>"></i>
          <div class="media-body">
            <h5 class="mt-0 card-title">
              <strong class="text-primary"><%= contact.contact_groups_with_types.keys.join(', ') %></strong>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= contact.decorate.contact_types %>
              <br>
              <%= contact.decorate.subheading %>
            </h6>
            <div class="card-text">
              <% if contact.notes && contact.notes.length > CaseContactDecorator::NOTES_CHARACTER_LIMIT %>
                <div class="limited-notes" style="display: block;">
                  <%= simple_format(contact.decorate.limited_notes) %>
                  <span><a role="button" href="#" onClick="moreText(event)">Read more</a></span>
                </div>
                <div class="full-notes" style="display: none;">
                  <%= simple_format(contact.decorate.full_notes) %>
                  <span><a role="button" href="#" onClick="lessText(event)">Hide</a></span>
                </div>
              <% else %>
                <%= simple_format(contact.decorate.full_notes) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <% if Pundit.policy(current_user, contact).update? %>
          <% if contact.created_in_current_quarter? %>
            <%= link_to edit_case_contact_path(contact), class: 'btn btn-outline-primary' do %>
              <strong>Edit</strong>
            <% end %>
          <% else %>
            <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="This case contact was created in a previous quarter and is therefore no longer editable"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <h6 class="card-subtitle mb-2 text-primary float-right mr-2">
      Created by:
      <% if policy(contact).edit? %>
        <% if current_user.volunteer? %>
          <%= contact.creator&.display_name %>
        <% else %>
          <% if contact.creator&.supervisor? %>
            <%= link_to contact.creator&.display_name, edit_supervisor_path(current_user) %>
          <% elsif contact.creator&.casa_admin? %>
            <%= link_to contact.creator&.display_name, edit_users_path %>
          <% else %>
            <%= link_to contact.creator&.display_name, edit_volunteer_path(contact.creator) %>
          <% end %>
        <% end %>
      <% else %>
        <%= contact.creator&.display_name %>
      <% end %>
    </h6>
  </div>
</div>

<script type="text/javascript">
function moreText (event) {
  event.preventDefault()
  const table_cell = event.target.closest('.card-text')

  table_cell.querySelectorAll('.full-notes')[0].style.display = 'block'
  table_cell.querySelectorAll('.limited-notes')[0].style.display = 'none'
}

function lessText (event) {
  event.preventDefault()
  const table_cell = event.target.closest('.card-text')

  table_cell.querySelectorAll('.full-notes')[0].style.display = 'none'
  table_cell.querySelectorAll('.limited-notes')[0].style.display = 'block'
}
</script>
