<div class="container-fluid mb-1">
  <div class="card-style-1 mb-15 pt-0 pb-5">
    <div class="card-content">
      <div class="col-8">
        <div class="mt-0">
          <i class=" <%= "text-primary" %> <%= contact.decorate.medium_icon_classes %>"></i>
          <div class="">
            <h5 class="pt-0 mb-10 card-title">
              <strong class="<%= "text-primary" %>">
                <%= "[DELETE] " if policy(contact).restore? && contact.deleted? %>
                <%= contact.contact_groups_with_types.keys.join(", ") %>
              </strong>
              <%= link_to("undelete", restore_case_contact_path(contact.id), method: :post,
                          class: "btn btn-info") if policy(contact).restore? && contact.deleted? %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= contact.decorate.contact_types %>
              <br>
              <%= contact.decorate.subheading %>
            </h6>
            <div class="card-text js-read-more-text-wrapper mb-2">
              <% if contact.notes && contact.notes.length > CaseContactDecorator::NOTES_CHARACTER_LIMIT %>
                <div class="js-truncated-text" style="display: block;">
                  <%= simple_format(contact.decorate.limited_notes) %>
                  <span><a role="button" href="#" class="js-read-more">Read more</a></span>
                </div>
                <div class="js-full-text" style="display: none;">
                  <%= simple_format(contact.decorate.full_notes) %>
                  <span><a role="button" href="#" class="js-read-less">Hide</a></span>
                </div>
              <% else %>
                <%= simple_format(contact.decorate.full_notes) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <% if Pundit.policy(current_user, contact).update? %>
          <%= render "case_contacts/followup", contact: contact, followup: contact.requested_followup %>
          <div class="mr-2">
            <%= link_to edit_case_contact_path(contact), class: "text-danger h5" do %>
              <i class="lni lni-pencil-alt"></i> Edit
            <% end %>
          </div>
        <% end %>
        <div class="action">
        <!----- Couldn't find a way to include this conditional block
                if policy(contact).destroy? && !contact.deleted? 
                in the link_to below                            ----->
         <%= link_to case_contact_path(contact.id), class: "main-btn btn-sm danger-btn btn-hover", method: :delete  do %>
          <i class="lni lni-trash-can mr-5"></i>Delete
        <% end %>
        </div>
      </div>

    </div>
  </div>
  <div>
    <h6 class="mb-2 text-primary ml-5">
      Created by:
      <% if policy(contact).edit? %>
        <% if current_user.volunteer? %>
          <%= contact.creator&.display_name %>
        <% else %>
          <% if contact.creator&.supervisor? %>
            <%= link_to contact.creator&.display_name, edit_supervisor_path(contact.creator) %>
          <% elsif contact.creator&.casa_admin? %>
            <%= link_to contact.creator&.display_name, edit_users_path %>
          <% else %>
            <%= link_to contact.creator&.display_name, edit_volunteer_path(contact.creator) %>
          <% end %>
        <% end %>
      <% else %>
        <%= contact.creator&.display_name %>
      <% end %>
    </h6>
  </div>
</div>
