<tr>
  <td data-sort="<%= contact.occurred_at.strftime("%Y%m%d%H%M%s") %>"><%= contact.occurred_at.strftime('%B %e, %Y') %></td>
  <td><%= contact.decorate.duration_minutes %></td>
  <td><%= contact.decorate.contact_made %></td>
  <td><%= contact.decorate.medium_type_icon %></td>
  <td><%= contact.decorate.contact_types %></td>
  <td><%= contact.decorate.miles_traveled %></td>
  <td><%= contact.decorate.reimbursement %></td>
  <td>
    <% if current_user&.casa_admin? || current_user&.supervisor? %>
      <%= link_to "#{contact.creator&.display_name} ", edit_volunteer_path(contact.creator) %>
    <% else %>
      <%= contact.creator&.display_name %>
    <% end %>
  </td>
  <td>
    <%# TODO What text for tooltip? %>
    <% if Pundit.policy(current_user, contact).update? %>
    <div class="add-disallow-edit-tooltip" data-toggle="tooltip" title="Disallow edit contact after end of quarter">
      <%= link_to_if contact.allowed_edit?, 'Edit', edit_case_contact_path(contact) %>
    <% end %>
    </div>
  </td>
</tr>
