<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= t(".header") %>
      </div>
      <div class="modal-body">
        <%= t(".body") %>
        <p>
        <h6><%= t(".note") %></h6>
        <div id="note-content"></div>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-case-contact-cancel">
          <%= t("button.go_back_to_form") %>%
        </button>
        <%= form.submit t("button.continue_submitting"), class: "btn btn-primary", id: "modal-case-contact-submit" %>
      </div>
    </div>
  </div>
</div>
