<div id="contact-type-form">
  <h2 id="contact-type-label"><%= form.label :contact_types, "2. Select All Contact Types" %><span class="red-letter"> *</span></h2>
  <% if controller.controller_name == 'casa_cases' %>
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-outline-primary btn-sm" id="check_all" onClick="checkContactTypes()">Check All</a>
      <a class="btn btn-outline-secondary btn-sm" id="uncheck_all" onClick="uncheckContactTypes()">Uncheck All</a>
    </div>
  </div>
  <% end %>
  <table class="mt-3">
    <tr>
      <% default_checked = defined?(@casa_case) ? @casa_case.contact_types.empty? : true %>
      <% contact_type_groups.each do |group| %>
        <td class="align-top d-inline-block pr-5 pl-5 pb-4">
          <h5 class="mb-2"> <%= group.name %> </h5>
          <% group.contact_types.alphabetically.filter do |ct|
              selected_case_contact_types.blank? ||
                  selected_case_contact_types.include?(ct)
            end.each do |contact_type| %>
            <div class="form-check checkbox-style mb-1">
              <%=
                contact_type_exists = default_checked ? true : @casa_case.contact_types.include?(contact_type)
                contact_type_exists = false unless controller.controller_name == 'casa_cases'

                check_box_tag checkbox_tag_name,
                  contact_type.id,
                  model.decorate.show_contact_type?(contact_type.id),
                  checked: contact_type_exists,
                  id: dom_id(contact_type, :case_contact),
                  class: ["form-check-input", "case-contact-contact-type"]
              %>
              <label class="form-check-label" for="<%= dom_id(contact_type, :case_contact) %>">
                <%= contact_type.name %>
              </label>
              <% if @casa_cases %>
                <span style="color: #93903C;">
                  <%= time_ago_of_last_contact_made_of(
                    contact_type.name,
                    @casa_cases.sort_by(&:created_at).last
                  ) %>
                </span>
              <% end %>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
</div>

<script type="text/javascript">
  function checkContactTypes(){
    var contact_type_boxes = document.getElementsByName("casa_case[casa_case_contact_types_attributes][][contact_type_id]")
    for (checkbox of contact_type_boxes){
      checkbox.checked = true
    }
  }

  function uncheckContactTypes(){
    var contact_type_boxes = document.getElementsByName("casa_case[casa_case_contact_types_attributes][][contact_type_id]")
    for (checkbox of contact_type_boxes){
        checkbox.checked = false
    }
  }
</script>
