<% if followup %>
  <div class="col-sm-2 pt-2">
    <i class="fas fa-lg <%= followup_icon(followup.creator) %>"></i>
  </div>
  <div class="col-sm-5">
    <%= button_to resolve_followup_path(followup), method: :patch, class: "btn btn-success" do %>
      <%= t("button.resolve_follow_up_request") %>
    <% end %>
  </div>
<% else %>
  <div class="col-sm-4">
    <button type="button"
            class="btn btn-primary"
            id="followup-button-<%= contact.id %>">

      <%= t("button.follow_up") %>
    </button>
  </div>
<% end %>
