<%= form_with(model: case_contact, local: true) do |form| %>
  <% if case_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_contact.errors.count, "error") %> prohibited this case_contact from being saved:</h2>

      <ul>
        <% case_contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field casa-case">
    <%= form.label :casa_case_id %>
    <%= form.select :casa_case_id, options_from_collection_for_select(current_user.casa_cases, 'id', 'case_number') %>
  </div>
  <div class="field contact-type">
    <%= form.label :contact_type %>
    <% case_contacts = CaseContact::CONTACT_TYPES.map { |contact_type| OpenStruct.new(value: contact_type, label: contact_type.titleize) } %>
    <%= form.select :contact_type, options_from_collection_for_select(case_contacts, 'value', 'label') %>
  </div>
  <div class="field other-contact-type" hidden>
    <%= form.label :other_type_text %>
    <%= form.text_field :other_type_text %>
  </div>

  <div class="field duration-minutes">
    <%= form.label "Duration" %>
    <%= duration_hours_select(form, @case_contact) %>
    <%= duration_minutes_select(form, @case_contact) %>
  </div>

  <div class="field occurred-at">
    <%= form.label :occurred_at %>
    <%= form.date_field :occurred_at, :value => Time.now.strftime('%Y-%m-%d') %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
