<%= form_with(model: case_contact, local: true) do |form| %>
  <% if case_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_contact.errors.count, "error") %> prohibited this case_contact from being saved:</h2>

      <ul>
        <% case_contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% CaseContact::CONTACT_TYPES.each do |contact_type| %>
      <%= radio_button_tag(:contact_type, contact_type, value: contact_type) %>
      <%= label_tag(:contact_type, contact_type.titleize) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :duration_minutes %>
    <% durations = [] %>
    <% 5.times do |i| %>
      <% durations.push((i + 1) * 15) %>
    <% end %>
    <%= select_tag :duration_minutes, options_for_select(durations) %>
  </div>

  <div class="field">
    <%= form.label :occurred_at %>
    <%= form.date_field :occurred_at, :value => Time.now.strftime('%Y-%m-%d') %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
