<%= form_with(model: case_contact, local: true) do |form| %>
  <% if case_contact.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h6><%= pluralize(case_contact.errors.count, "error") %> prohibited this Case Contact from being saved:</h6>

      <ul>
        <% case_contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field casa-case form-group">
    <% if current_user.casa_cases.length > 1 %>
      <label for="case_contact_casa_case">Select all relevant CASA cases</label>
    <% else %>
      <label for="case_contact_casa_case">CASA case</label>
    <% end %>
    <% current_user.casa_cases.each_with_index do |casa_case, index| %>
      <div class="form-check">
        <input class="form-check-input casa-case-id-check" type="checkbox" value="<%= casa_case.id %>" name="case_contact[casa_case_id][<%= index %>]" <% if index.zero? %>checked required<% end %>>
        <label class="form-check-label" for="casa-case-id-check">
          <%= casa_case.case_number %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="field contact-type form-group">
    <%= form.label :contact_types %>
    <% contact_types = CaseContact::CONTACT_TYPES.each_with_index do |contact_type, index| %>
      <div class="form-check">
        <input class="form-check-input casa-case-contact-type"
               type="checkbox"
               value="<%= contact_type %>"
               name="case_contact[contact_types][]"
               id="case_contact[contact_types][<%= index %>]"
        >
        <label class="form-check-label" for="case_contact[contact_types][<%= index %>]">
          <%= contact_type.titleize %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="field other-contact-type form-group" hidden>
    <%= form.label :other_type_text %>
    <%= form.text_field :other_type_text, class: "form-control" %>
  </div>

  <div class="field contact-type form-group">
    <%= form.label "Contact Made" %>
    <%= form.select :contact_made, options_for_select([['Yes', true], ['No', false]], case_contact.contact_made), {}, class: "custom-select" %>
  </div>

  <div class="field contact-type form-group">
    <%= form.label "Contact Medium" %>
    <% contact_mediums = CaseContact::CONTACT_MEDIUMS.map { |contact_medium| OpenStruct.new(value: contact_medium, label: contact_medium.titleize) } %>
    <%= form.select :medium_type, options_from_collection_for_select(contact_mediums, 'value', 'label', case_contact.medium_type), {}, class: "custom-select" %>
  </div>

  <div class="field duration-minutes form-group">
    <%= form.label "Duration" %>
    <div class="row">
      <div class="col-sm-6">
        <%= duration_hours_select(form, @case_contact) %>
      </div>
      <div class="col-sm-6">
        <%= duration_minutes_select(form, @case_contact) %>
      </div>
    </div>
  </div>

  <div class="field occurred-at form-group">
    <%= form.label :occurred_at %>
    <%= form.date_field :occurred_at, value: Time.now.strftime('%Y-%m-%d'), class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
