<%= form_with(model: case_contact, local: true) do |form| %>
  <% if case_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_contact.errors.count, "error") %> prohibited this case_contact from being saved:</h2>

      <ul>
        <% case_contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field casa-case">
    <%= form.label :casa_case_id %>
    <%= select_tag :casa_case_id, options_from_collection_for_select(@casa_cases, 'id', 'case_number') %>
  </div>
  <div class="field contact-type">
    <%= form.label :contact_type %>
    <% case_contacts = CaseContact::CONTACT_TYPES.map { |contact_type| OpenStruct.new(value: contact_type, label: contact_type.titleize) } %>
    <%= select_tag :contact_type, options_from_collection_for_select(case_contacts, 'value', 'label') %>
  </div>

  <div class="field duration-minutes">
    <%= form.label :duration_minutes %>
    <% durations = [] %>
    <%# For the first 2 hours %>
    <% 7.times do |i| %>
      <%
        duration = (i + 1) * 15
        durations.push(OpenStruct.new(value: duration, label: "#{duration} minutes"))
      %>
    <% end %>
    <%# For the next 22 hours %>
    <% 23.times do |i| %>
      <%
        duration = (i + 2) * 60
        durations.push(OpenStruct.new(value: duration, label: "#{i + 2} hours"))
      %>
    <% end %>

    <%= select_tag :duration_minutes, options_from_collection_for_select(durations, 'value', 'label') %>
  </div>

  <div class="field occurred-at">
    <%= form.label :occurred_at %>
    <%= form.date_field :occurred_at, :value => Time.now.strftime('%Y-%m-%d') %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
