<%= form_with(model: case_contact, local: true, id: "casa-contact-form") do |form| %>
  <%= render "/shared/error_messages", resource: case_contact %>

  <div class="field casa-case form-group">
    <% if casa_cases.length > 1 %>
      <h2><label for="case_contact_casa_case"><%= t(".plural_label") %></label></h2>
    <% else %>
      <h2><label for="case_contact_casa_case"><%= t(".singular_label") %></label></h2>
    <% end %>
    <% casa_cases.each_with_index do |casa_case, index| %>
      <div class="form-check">
        <%= check_box_tag "case_contact[casa_case_id][]",
                          casa_case.id,
                          @selected_cases.include?(casa_case),
                          id: "case_contact_casa_case_id_#{index}",
                          class: ["form-check-input", "casa-case-id"],
                          disabled: case_contact.persisted? %>
        <label class="form-check-label" for="case_contact_casa_case_id_<%= index %>">
          <%= casa_case.case_number %>
        </label>
      </div>
    <% end %>
  </div>

  <div id="contact-type-form" class="field contact-type form-group">
    <h2 id="contact-type-label"><%= form.label :contact_types %></h2>
    <table>
      <tr>
        <% @current_organization_groups.each do |group| %>
          <td style="display:inline-block; vertical-align:top; padding-right:50px; padding-bottom:20px">
            <h5> <%= group.name %> </h5>
            <% group.contact_types.filter do |ct|
                @selected_case_contact_types.blank? ||
                    @selected_case_contact_types.include?(ct)
              end.each do |contact_type| %>
              <div class="form-check">
                <%=
                  check_box_tag "case_contact[case_contact_contact_type_attributes][][contact_type_id]",
                    contact_type.id,
                    @case_contact.decorate.show_contact_type?(contact_type.id),
                    id: dom_id(contact_type, :case_contact),
                    class: ["form-check-input", "case-contact-contact-type"]
                %>
                <label class="form-check-label" for="<%= dom_id(contact_type, :case_contact) %>">
                  <%= contact_type.name %>
                </label>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>

  <div class="field contact-type form-group">
    <h2><%= form.label :contact_made %></h2>
    <%= form.radio_button(:contact_made, true, checked: case_contact.contact_made, required: true) %>
    <%= form.label "Yes", for: "case_contact_contact_made_true" %>
    <br>
    <%= form.radio_button(:contact_made, false, checked: set_contact_made_false(case_contact), required: true) %>
    <%= form.label "No", for: "case_contact_contact_made_false" %>
  </div>

  <div class="field contact-medium form-group">
    <h2><%= form.label :medium_type, "Contact medium" %></h2>
    <%= form.select :medium_type,
                    options_from_collection_for_select(contact_mediums, 'value', 'label', case_contact.medium_type),
                    {prompt: t(".prompt_select_one")},
                    class: "custom-select col-sm-12 col-md-4",
                    required: true %>
  </div>

  <div class="field duration-minutes form-group">
    <h2><%= form.label "Duration" %></h2>
    <div class="row slider-row">
      <fieldset class="col-sm-12 col-md-6">
        <legend>Hours</legend>
        <div class="row slide-container">
          <div>0</div>
          <div class="slider col">
            <%= form.range_field :duration_hours,
                                 class: "custom-range slide",
                                 id: "case-contact-duration-hours",
                                 min: 0,
                                 max: 23,
                                 value: duration_hours(case_contact) %>
          </div>
          <div>23</div>
        </div>
        <div class="row range-value">
          <%= form.text_field :duration_hours,
                              id: "casa-contact-duration-hours-display",
                              value: duration_hours(case_contact),
                              required: true %> &nbsp; <span> hour(s)</span>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="row slider-row">
    <fieldset class="col-sm-12 col-md-6">
      <legend>Minutes</legend>
      <div class="row slide-container">
        <div>0</div>
        <div class="slider col">
          <%= form.range_field :duration_minutes,
                               class: "custom-range slide",
                               id: "case-contact-duration-minutes",
                               min: 0,
                               max: 59,
                               step: 15,
                               value: duration_minutes(case_contact) %>
        </div>
        <div>59</div>
      </div>
      <div class="row range-value">
        <%= form.text_field :duration_minutes,
                            class: "",
                            id: "casa-contact-duration-minutes-display",
                            value: duration_minutes(case_contact),
                            required: true %> &nbsp; <span> minute(s)</span>
      </div>
    </fieldset>
  </div>
  </div>
  </div>

  <div class="field occurred-at form-group">
    <h2><%= form.label :occurred_at %></h2>
    <% occurred_at = @case_contact.occurred_at || Time.zone.now %>
    <%= form.text_field :occurred_at,
                        value: occurred_at.to_date,
                        data: {provide: "datepicker", date_format: "yyyy/mm/dd"},
                        class: "form-control" %>
  </div>

  <div class="field miles-driven form-group">
    <h2><%= form.label :miles_driven %></h2>
    <%= form.number_field :miles_driven, class: "form-control", required: true, min: "0", max: 10000 %>
  </div>

  <div class="field want-driving-reimbursement form-group">
    <h2><%= form.label :want_driving_reimbursement %></h2>
    <%= form.select :want_driving_reimbursement,
                    options_for_select([['Yes', true], ['No', false]], case_contact.want_driving_reimbursement),
                    {},
                    class: "custom-select" %>
  </div>

  <div class="field notes form-group">
    <h2><%= form.label :notes %></h2>
    <%= form.text_area :notes, :rows => 5, placeholder: t("forms.case_contact.notes_placeholder"), class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit t("button.submit"), class: "btn btn-primary", id: "case-contact-submit", "data-target": "#confirm-submit" %>
    <%= return_to_dashboard_button %>
  </div>
  <%= render 'confirm_note_content_dialog', form: form %>
<% end %>
