<%= form_with(model: case_contact, local: true, id: "casa-contact-form", class: "component-validated-form") do |form| %>
  <%= render "/shared/error_messages", resource: case_contact %>

  <div class="card-style-1 pl-25 mb-10">
    <% if casa_cases.length > 1 %>
      <h2><label>1. Select all relevant CASA cases<span class="red-letter"> *</span></label></h2>
    <% else %>
      <h2><label>1. Select relevant CASA case<span class="red-letter"> *</span></label></h2>
    <% end %>
    <div class="casa-case-scroll">
      <% casa_cases.each do |casa_case| %>
        <div class="form-check checkbox-style mb-10 ml-5">
          <%= check_box_tag "case_contact[casa_case_id][]",
                            casa_case.id,
                            @selected_cases.include?(casa_case),
                            id: "case_contact_casa_case_id_#{casa_case.id}",
                            class: ["form-check-input", "casa-case-id"],
                            disabled: case_contact.persisted? %>
          <label class="form-check-label" for="case_contact_casa_case_id_<%= casa_case.id %>">
            <%= casa_case.case_number %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-style-1 pl-25 mb-10">
    <%= render "contact_types",
        form: form,
        model: @case_contact,
        contact_type_groups:  @current_organization_groups,
        selected_case_contact_types: @selected_case_contact_types,
        checkbox_tag_name: "case_contact[case_contact_contact_type_attributes][][contact_type_id]" %>
  </div>

  <div id="enter-contact-details" class="card-style-1 pl-25 mb-10">
    <h2 class="mb-3"><label>3. Enter Contact Details</label><span class="red-letter"> *</span></h2>
    <div class="">
      <h5 classs="mb-3"><label>a. Contact Made</label></h5>
      <div class="form-check radio-style mb-20">
        <%= form.radio_button :contact_made, true,
                        checked: case_contact.contact_made,
                        required: true,
                        class: 'form-check-input' %>
        <%= form.label "Yes", class: "form-check-label",
                        for: "case_contact_contact_made_true" %>
      </div>
      <div class="form-check radio-style mb-20">
        <%= form.radio_button :contact_made, false,
                        checked: set_contact_made_false(case_contact),
                        required: true,
                        class: 'form-check-input' %>
        <%= form.label "No", class: "form-check-label",
                        for: "case_contact_contact_made_false" %>
      </div>
    </div>

    <div class="field contact-medium form-group">
      <h5 classs="mb-3"><label>b. Contact Medium</label></h5>
      <%= form.collection_radio_buttons(:medium_type, contact_mediums, 'value', 'label') do |b| %>
        <div class="form-check radio-style mb-20">
          <%= b.radio_button(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") %>
        </div>
      <% end %>
    </div>

    <div class="pr-50">
      <h5 class="mb-3"><%= form.label :occurred_at, "c. Occurred On" %></h5>
      <div class="input-style-1">
        <% occurred_at = @case_contact.occurred_at || Time.zone.now %>
        <%= render "layouts/components/ranged_date_picker",
          form: form, model_field: :occurred_at, initial_value: occurred_at.to_date,
          max_date: "today", component_name: "occurred on" %>
      </div>
    </div>

    <div class="pr-50 ">
      <h5 class="mb-3"><label>d. Duration of Meeting</label></h5>
      <div class="row align-items-center">
        <div class="input-style-1 col pl-0">
          <%= form.number_field :duration_hours,
                              id: "case-contact-duration-hours-display",
                              min: 0,
                              class: "inline-fields cc-field",
                              size: "10",
                              value: duration_hours(case_contact),
                              required: true %> &nbsp; <strong> hour(s)</strong>
        </div>
        <div class="input-style-1 col">
          <%= form.number_field :duration_minutes,
                                id: "case-contact-duration-minutes-display",
                                min: 0,
                                class: "inline-fields cc-field",
                                size: "10",
                                value: duration_minutes(case_contact),
                                required: true %> &nbsp; <strong> minute(s)</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="card-style-1 pl-25 mb-10 pr-50">
    <h2 class="mb-3"><label>4. Enter Travel Details</label></h2>
    <div class="field miles-driven form-group">
      <h5 class="mb-3"><%= form.label :miles_driven, "a. Miles Driven" %></h5>
      <div class="input-style-1">
      <% if form_type == 'new' && @case_contact.miles_driven == 0 %>
        <input class="form-control" min="0" max="10000" type="number" value="0" name="case_contact[miles_driven]" autocomplete="off" id="case_contact_miles_driven">
      <% else %>
        <%= form.number_field :miles_driven, class: "form-control", min: "0", max: 10000, placeholder: "0" %>
      <% end %>
      </div>
    </div>

    <% if current_organization.show_driving_reimbursement && show_volunteer_reimbursement(casa_cases) %>
      <div class="field want-driving-reimbursement form-group">
        <h5 class="mb-3"><label>b. Want Driving Reimbursement</label></h5>
        <div class="form-check radio-style mb-20">
          <%= form.radio_button :want_driving_reimbursement, true,
                          required: false,
                          class: 'form-check-input' %>
          <%= form.label "Yes", class: "form-check-label",
                          for: "case_contact_want_driving_reimbursement_true" %>
        </div>
        <div class="form-check radio-style mb-20">
          <%= form.radio_button :want_driving_reimbursement, false,
                          required: false,
                          class: 'form-check-input' %>
          <%= form.label "No", class: "form-check-label",
                          for: "case_contact_want_driving_reimbursement_false" %>
        </div>
      </div>
      <div class="field volunteer-address form-group">
        <h5 class="mb-3"><label>c. Volunteer Address</label></h5>
        <div class="input-style-1 mb-0">
        <%
          if current_role == "Volunteer"
            volunteer = current_user
            address = current_user.address.nil? ? Address.new : current_user.address
          elsif ["Supervisor", "Casa Admin"].include? current_role
            if casa_cases[0].volunteers.count > 1
              message = "There are two volunteers assigned to this case and you are trying to set the address" +
              " for both of them. This is not currently possible."
            else
              volunteer = casa_cases[0].volunteers.first
              address = volunteer&.address.nil? ? Address.new : volunteer.address
            end
          end
        %>
        <% if message %>

          <%= form.text_field :no_address_content, class: "input-style-1 red-letter", value: message, disabled: true,
readonly: true %>
        <% else %>
          <%= form.fields_for :casa_case, casa_cases[0] do |cc| %>
            <%= cc.fields_for :volunteers, volunteer do |v| %>
              <%= v.fields_for :address, address do |a| %>
                <%= a.text_field :content, class: "input-style-1", required: true %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if Pundit.policy(current_user, case_contact).additional_expenses_allowed? %>
      <div class="other-expenses">
        <h5 class="mb-3"><%= form.label :additional_expense, "d. Other Expenses" %></h5>
        <ol>
        <% @case_contact.decorate.additional_expenses_count %>
        <% if @case_contact.additional_expenses.any? %>
          <%= form.fields_for :additional_expenses do |ff| %>
            <li>
              <div class="row align-items-center">
                <div class="col input-style-1">
                  <%= ff.number_field :other_expense_amount,
                  placeholder: "Enter amount",
                  class: "cc-italic cc-field other-expense-amount w-25 co",
                  min: "0", max: 1000, step: 0.01 %>
                </div>
                <div class="col input-style-1">
                  <%= ff.text_field :other_expenses_describe, placeholder: "Describe the expense",
                  class: "cc-italic cc-field other-expenses-describe" %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
        <% if @case_contact.decorate.additional_expenses_count < 10 %>
          <%= form.fields_for :additional_expenses, AdditionalExpense.new do |ff| %>
          <li>
            <div class="expense-container row">
              <div class="input-style-1 col-sm-3">
                <%= ff.number_field :other_expense_amount,
                    placeholder: "Enter amount",
                    class: "cc-italic cc-field other-expense-amount",
                    min: "0", max: 1000, step: 0.01 %>
              </div>
              <div class="input-style-1 col">
                <%= ff.text_field :other_expenses_describe,
                    placeholder: "Describe the expense",
                    class: "cc-italic cc-field other-expenses-describe" %>
              </div>
            </div>
          </li>
          <% end %>
          <% (9 - @case_contact.decorate.additional_expenses_count).times do |i| %>
            <%= form.fields_for :additional_expenses, AdditionalExpense.new do |ff| %>
            <div class="expense-container row d-none" id="<%= if @case_contact.decorate.additional_expenses_count === 0
            then "expense" + (i + 2).to_s
            else "expense" + ((@case_contact.decorate.additional_expenses_count) + (i + 2)).to_s
            end %>">
              <div class="input-style-1 col-sm-3">
                <%= ff.number_field :other_expense_amount,
                    placeholder: "Enter amount",
                    class: "cc-italic cc-field other-expense-amount",
                  min: "0", max: 1000, step: 0.01 %>
              </div>
              <div class="input-style-1 col">
                <%= ff.text_field :other_expenses_describe,
                    placeholder: "Describe the expense",
                    class: "cc-italic cc-field other-expenses-describe" %>
              </div>
            </div>
            <% end %>
          <% end %>
          </ol>

          <button type="button" class="mb-3 btn-sm main-btn secondary-btn-outline btn-hover" id="add-another-expense">+ Add Another Expense</button>
          <% end %>
      </div>
    <% end %>
  </div>

  <div class="card-style-1 pl-25 mb-10">
    <h2 class="mb-3"><%= form.label :notes, "5. Enter Notes" %></h2>
    <div class="cc-italic mb-3">
      Please refer to individuals by their roles instead of by their names. Ex: My supervisor joined me for a call with the social worker to discuss my youth.
    </div>
    <div class="input-style-1 pr-25">
    <%= form.text_area :notes, :rows => 5, placeholder: "Enter notes here", class: "form-control" %>
    </div>
  </div>

  <div class="actions mb-10">
    <%= button_tag( type: "submit" , class: "btn-sm main-btn primary-btn btn-hover" ) do %>
      <i class="lni lni-checkmark-circle mr-5"></i> Submit
      <% end %>
  </div>
  <%= render 'confirm_note_content_dialog', form: form %>
  <% end %>
