<header id="case-contacts-header" class="flex center">
  <span id="case-youth-icon">
    <% if !selected_case.transition_aged_youth %>
      <img alt="Transition aged youth (over 14)" src="/butterfly.svg" class="youth-icon butterfly">
    <% else %>
      <img alt="Non transition aged youth (under 14)" src="/caterpillar.svg" class="youth-icon caterpillar">
    <% end %>
  </span>

  <label for="select-case-number" class="visually-hidden">Select case number</label>
  <select id="select-case-number">
    <% casa_cases.each do |casa_case| %>
      <option value="<%= casa_case.case_number %>" data-id="<%= casa_case.id %>">
        <%= casa_case.case_number %>
      </option>
    <% end %>
  </select>

  <p>
    <label for="case-contact-filter">Filter by:</label>
    <select id="case-contact-filter">
      <option>This</option>
      <option>That</option>
      <option>Other</option>
    </select>
  </p>

  <%= link_to "Generate Report", reports_path, class: "button primary" %>

  <%= link_to "+ Case Contact",
    new_case_contact_path(case_contact: {casa_case_id: selected_case.id}),
    class: "button secondary" %>
</header>
