<%= link_to 'Back', :back %>
<h1>Case Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Creator</th>
      <th>CASA Case</th>
      <th>Contact type</th>
      <th>Duration</th>
      <th>Occurred at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @case_contacts.each do |case_contact| %>
      <tr>
        <td><%= case_contact.creator_id %></td>
        <td><%= case_contact.casa_case_id %></td>
        <td><%= case_contact.contact_types %></td>
        <td><%= case_contact.duration_minutes %></td>
        <td><%= case_contact.occurred_at.strftime('%B %e, %Y') %></td>
        <td><%= link_to 'Edit', edit_case_contact_path(case_contact) %></td>
        <td><%= link_to 'Destroy', case_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New CASA Contact', new_case_contact_path %>
