<p>
  <strong>Creator:</strong>
  <%= @case_contact.creator.display_name %>
</p>

<p>
  <strong>CASA Case:</strong>
  <%= @case_contact_number %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @case_contact.contact_type %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @case_contact.duration_minutes %>
</p>

<p>
  <strong>Occurred at:</strong>
  <%= @case_contact.occurred_at.strftime('%B %e, %Y') %>
</p>

<%= link_to 'Edit', edit_case_contact_path(@case_contact) %> |
<%= link_to 'Back', case_contacts_path %>
