<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @case_contact.creator_id %>
</p>

<p>
  <strong>CASA Case:</strong>
  <%= @case_contact_number %>
</p>

<p>
  <strong>Contact type:</strong>
  <%= @case_contact.contact_type %>
</p>

<p>
  <strong>Other type text:</strong>
  <%= @case_contact.other_type_text %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @case_contact.duration_minutes %>
</p>

<p>
  <strong>Occurred at:</strong>
  <%= @case_contact.occurred_at %>
</p>

<%= link_to 'Edit', edit_case_contact_path(@case_contact) %> |
<%= link_to 'Back', case_contacts_path %>
