<footer class="logged-in">
  <span class="copyright pull-left">© <%= default_page_header %></span>
  <span class="default-footer pull-right">
    <span class="col-12 col-sm-2">
      <%= t(".built_by") %> <a href="https://rubyforgood.org/"><%= t(".ruby_for_good") %></a>
    </span>
    <span class="col-12 col-sm-2">
      <%= link_to t(".link.report_site_issue"), "https://rubyforgood.typeform.com/to/iXY4BubB" %>
    </span>
    <span class="col-12 col-sm-2">
      <%= link_to t(".link.sms_terms_and_conditions"), "/sms-terms-conditions.html" %>
    </span>
  </span>
</footer>
