<footer>
  <p class="copyright">© <%= default_page_header %></p>
  <span class="default-footer">
    Built by <a href="https://rubyforgood.org/" class="rfglink">Ruby For Good</a>
    <a href="https://rubyforgood.org/" class="rfglink" target="_blank">
      <%= image_tag("rfglogo.png", class: "rfglogo") %>
    </a>
    <%= link_to "Report a site issue", "https://form.typeform.com/to/iXY4BubB", class: "rfglink" %><br>
    <%= link_to "SMS Terms & Conditions", "/sms-terms-conditions.html", class: "terms-conditions-link" %>
  </span>

  <div class="footer-logos">
    <%= image_tag("default-logo.png") %>
  </div>
</footer>
