<footer>
  <p class="copyright">© <%= default_page_header %></p>
  <span class="default-footer">
    <%= "Built by " %><a href="https://rubyforgood.org/" class="rfglink">Ruby For Good</a>
    <a href="https://rubyforgood.org/" class="rfglink" target="_blank">
      <%= image_pack_tag("media/src/images/rfglogo.png", class: "rfglogo") %>
    </a>
    <%= link_to "Report a site issue", "https://rubyforgood.typeform.com/to/iXY4BubB", class: "rfglink" %>
  </span>

  <div class="footer-logos">
    <%= image_pack_tag("media/src/images/default-logo.png") %>
  </div>
</footer>
