<%= form_for @mileage_rate, url: mileage_rates_path, id: :new_mileage_rate do |form| %>
  <%= render "/shared/error_messages", resource: mileage_rate %>

  <div class="field form-group">
    <%= form.label :effective_date %>
    <%= form.text_field :effective_date, value: DateTime.current.strftime(::DateHelper::RUBY_MONTH_DAY_YEAR_FORMAT),
                                      data: { provide: "datepicker",
                                      date_format: ::DateHelper::JQUERY_MONTH_DAY_YEAR_FORMAT },
                                      class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, required: true, placeholder: '0,0', min: 0, step: 0.01, class: "form-control" %>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="actions">
    <%= form.submit "Create Mileage Rate", class: "btn btn-primary" %>
  </div>
<% end %>
