<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1><%= t(".mileage_rates") %></h1>
    <%= link_to t(".button.new"), new_mileage_rate_path, class: "btn btn-primary mb-2 mb-md-0" %>

  </div>
</div>
<hr>

<div class="card card-container">
  <div class="card-body">
    <table
      class="table table-striped table-bordered"
      id="mileage_rates">
      <thead>
      <tr>
        <th><%= t(".heading.effective_date") %></th>
        <th><%= t(".heading.amount") %></th>
        <th><%= t(".heading.status") %></th>
        <th><%= t(".heading.actions") %></th>
      </tr>
      </thead>
      <tbody>
        <% @mileage_rates.each do |mileage_rate| %>
          <tr>
            <td><%= I18n.l(mileage_rate.effective_date, format: :full, default: :nil) %></td>
            <td><%= number_to_currency(mileage_rate.amount) %></td>
            <td><%= mileage_rate.is_active? ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to t(".button.edit"), edit_mileage_rate_path(mileage_rate) %>
            </td>
          </tr>

          <% end %>
      </tbody>
    </table>
  </div>
</div>
