<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2>Mileage Rates</h2>
      </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
          <span class="ml-5">
            <%= link_to new_mileage_rate_path, class: "btn-sm main-btn primary-btn" do %>
              <i class="lni lni-plus mr-10"></i>
              New Mileage Rate
            <% end %>
          </span>
      </div>
    </div>
  </div>
</div>

<div class="tables-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-style mb-30">
        <div class="table-wrapper table-responsive">
          <table class="table" id="mileage_rates">
            <thead>
            <tr>
              <th><h6>Effective date</h6></th>
              <th><h6>Amount</h6></th>
              <th><h6>Active?</h6></th>
              <th><h6>Actions</h6></th>
            </tr>
            </thead>
            <tbody>
              <% @mileage_rates.each do |mileage_rate| %>
                <tr>
                  <td><%= I18n.l(mileage_rate.effective_date, format: :full, default: :nil) %></td>
                  <td><%= number_to_currency(mileage_rate.amount) %></td>
                  <td><%= mileage_rate.is_active? ? 'Yes' : 'No' %></td>
                  <td>
                  <%= link_to edit_mileage_rate_path(mileage_rate) do %>

                    <div class="action">
                      <button class="text-danger">
                        <i class="lni lni-pencil-alt"></i> Edit
                      </button>
                    </div>
                  <% end %>
                </td>
                </tr>
                <!-- end table row-->
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
