<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <h1>Mileage Rates</h1>
    <%= link_to "New Mileage Rate", new_mileage_rate_path, class: "btn btn-primary mb-2 mb-md-0" %>

  </div>
</div>
<hr>

<div class="card card-container">
  <div class="card-body">
    <table 
      class="table table-striped table-bordered"
      id="mileage_rates">
      <thead>
      <tr>
        <th>Effective date</th>
        <th>Amount</th>
        <th>Active?</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        <% @mileage_rates.each do |mileage_rate| %>
          <tr>
            <td><%= I18n.l(mileage_rate.effective_date, format: :full, default: :nil) %></td>
            <td><%= number_to_currency(mileage_rate.amount) %></td>
            <td><%= mileage_rate.is_active? ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to "Edit", edit_mileage_rate_path(mileage_rate) %>
            </td>
          </tr>

          <% end %>
      </tbody>
    </table>
  </div>
</div>
