<div class="nested-form-wrapper"
  data-new-record="<%= form.object.new_record? %>"
  data-casa-nested-form-target="wrapper"
  data-child-index="<%= form.options[:child_index] %>">
  <div class="d-flex gap-1 flex-wrap">
    <div class="col-md-4">
      <%= form.label :contact_topic_id, "Discussion Topic" %>
      <%= form.select :contact_topic_id, select_options, {include_blank: false}, class: ["form-select", "contact-topic-id-select"] %>
    </div>
    <div class="flex-grow-1">
      <%= form.label :value, "Discussion Notes" %>
      <%= form.text_area(
        :value,
        data: { action: "input->autosave#save" },
        rows: 5,
        class: ["form-control", "contact-topic-answer-input"],
      ) %>
    </div>
    <div class="flex-shrink-1">
      <button type="button"
        data-action="casa-nested-form#windowConfirmDestroyAndRemove"
        class="mt-4 btn btn-sm danger-btn-outline btn-hover">
        Delete
      </button>
    </div>
  </div>
  <%= form.hidden_field(:id, value: form.object.id) %>
  <%= form.hidden_field :_destroy %>
</div>
