<%= render(Form::TitleComponent.new(title: @case_contact.decorate.form_title, subtitle: "Contact expenses", step: @page, total_steps: @total_pages, navigable: Form::StepNavigationComponent.new(nav_back: previous_wizard_path, nav_next: next_wizard_path, submit_back: true, submit_next: true))) %>

<div>
  <%= form_with(model: @case_contact, url: wizard_path(nil, case_contact_id: @case_contact.id), local: true, id: "casa-contact-form", class: "component-validated-form") do |form| %>
    <%= render "/shared/error_messages", resource: @case_contact %>

    <div class="card-style-1 pl-25 mb-10 pr-50">
      <div class="d-flex gap-1">
        <h4 class="mb-3"><label>1. Travel Details</label></h4>
        <p class="text-dark">(optional)</p>
      </div>

      <% if current_organization.show_driving_reimbursement && show_volunteer_reimbursement(@casa_cases) %>
        <div class="field want-driving-reimbursement form-group">
          <h5 class="mb-3"><label>a. Do you require driving reimbursement for this case contact?</label></h5>
          <div class="form-check radio-style mb-20">
            <%= form.radio_button :want_driving_reimbursement, true,
              required: false,
              class: ["form-check-input", "case-contacts-form-checkbox"] %>
            <%= form.label "Yes", class: "form-check-label",
              for: "case_contact_want_driving_reimbursement_true" %>
          </div>
          <div class="form-check radio-style mb-20">
            <%= form.radio_button :want_driving_reimbursement, false,
              required: false,
              class: ["form-check-input", "case-contacts-form-checkbox"] %>
            <%= form.label "No", class: "form-check-label",
              for: "case_contact_want_driving_reimbursement_false" %>
          </div>
        </div>

        <div class="field miles-driven form-group">
          <h5 class="mb-3"><%= form.label :miles_driven, "b. Total miles driven" %></h5>
          <div class="input-style-1">
            <% if form.object.new_record? && @case_contact.miles_driven == 0 %>
              <input class="form-control" min="0" max="10000" type="number" value="0" name="case_contact[miles_driven]" autocomplete="off" id="case_contact_miles_driven">
            <% else %>
              <%= form.number_field :miles_driven, class: "form-control", min: "0", max: 10000, placeholder: "0" %>
            <% end %>
          </div>
        </div>

        <div class="field volunteer-address form-group">
          <h5 class="mb-3"><label>c. Your current address (for reimbursement check)</label></h5>
          <div class="input-style-1 mb-0">
            <%= form.text_field :volunteer_address, value: @case_contact.decorate.address_of_volunteer, disabled: @case_contact.address_field_disabled?, class: "input-style-1" %>
          </div>
        </div>
      <% end %>
    </div>

    <% if Pundit.policy(current_user, @case_contact).additional_expenses_allowed? %>
      <div class="card-style-1 pl-25 mb-10 pr-50">
        <div class="d-flex gap-1">
          <h4 class="mb-3"><label>2. Other Expenses</label></h4>
          <p class="text-dark">(optional)</p>
        </div>

        <div class="other-expenses">
          <ol>
            <% @case_contact.decorate.additional_expenses_count %>
            <% if @case_contact.additional_expenses.any? %>
              <%= form.fields_for :additional_expenses do |ff| %>
                <li>
                  <div class="expense-container row">
                    <div class="input-style-1 col-sm-3">
                      <h5><%= form.label :additional_expense, "a. Expense amount" %></h5>
                      <div class="input-group">
                        <span class="dollar-sign">
                          <%= ff.number_field :other_expense_amount,
                            placeholder: "0",
                            class: "form-control other-expense-amount",
                            min: "0", max: 1000, step: 0.01 %>
                        </span>
                      </div>
                    </div>
                    <div class="input-style-1 col">
                      <h5><%= form.label :other_expenses_describe, "b. Expense details" %></h5>
                      <%= ff.text_field :other_expenses_describe,
                        placeholder: "Enter additional details",
                        class: "form-control other-expenses-describe" %>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
            <% if @case_contact.decorate.additional_expenses_count < 10 %>
              <%= form.fields_for :additional_expenses, AdditionalExpense.new do |ff| %>
                <li>
                  <div class="expense-container row">
                    <div class="input-style-1 col-sm-3">
                      <h5><%= form.label :additional_expense, "a. Expense amount" %></h5>
                      <div class="input-group">
                        <span class="dollar-sign">
                          <%= ff.number_field :other_expense_amount,
                            placeholder: "0",
                            class: "form-control other-expense-amount",
                            min: "0", max: 1000, step: 0.01 %>
                        </span>
                      </div>
                    </div>
                    <div class="input-style-1 col">
                      <h5><%= form.label :other_expenses_describe, "b. Expense details" %></h5>
                      <%= ff.text_field :other_expenses_describe,
                        placeholder: "Enter additional details",
                        class: "form-control other-expenses-describe" %>
                    </div>
                  </div>
                </li>
              <% end %>
              <% (9 - @case_contact.decorate.additional_expenses_count).times do |i| %>
                <%= form.fields_for :additional_expenses, AdditionalExpense.new do |ff| %>
                  <div class="expense-container row d-none" id="<%= if @case_contact.decorate.additional_expenses_count === 0
                                                                    then "expense" + (i + 2).to_s
                                                                    else "expense" + ((@case_contact.decorate.additional_expenses_count) + (i + 2)).to_s
                                                                    end %>">
                    <div class="input-style-1 col-sm-3">
                      <h5><%= form.label :additional_expense, "a. Expense amount" %></h5>
                      <div class="input-group">
                        <span class="dollar-sign">
                          <%= ff.number_field :other_expense_amount,
                            placeholder: "0",
                            class: "form-control other-expense-amount",
                            min: "0", max: 1000, step: 0.01 %>
                        </span>
                      </div>
                    </div>
                    <div class="input-style-1 col">
                      <h5><%= form.label :other_expenses_describe, "b. Expense details" %></h5>
                      <%= ff.text_field :other_expenses_describe,
                        placeholder: "Enter additional details",
                        class: "form-control other-expenses-describe" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </ol>

          <% if @case_contact.decorate.additional_expenses_count < 10 %>
            <button type="button" class="btn-sm main-btn primary-btn-outline btn-hover" id="add-another-expense">+ Add Another Expense</button>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="actions mb-10 case-contacts-form-buttons">
      <%= link_to previous_wizard_path(case_contact_id: @case_contact.id), class: "btn-sm main-btn primary-btn-outline btn-hover" do %>
        Back
      <% end %>

      <%= render(Form::SubmitButtonComponent.new(last_step: @case_contact.form_steps.last, current_step: :expenses)) %>
    </div>
  <% end %>
</div>
