<meta itemprop="name" content="Weekly Volunteer Activity Summary Email" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<style>/* Email styles need to be inline */</style>
<table width="100%" cellpadding="0" cellspacing="0" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 18px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      <%= @supervisor.display_name %>,
    </td>
  </tr>
  <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; margin: 0;">
    <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      <% if @supervisor.volunteers.length == 0 %>
        You have no volunteers with assigned cases at the moment. When you do, you will see their status here.
      <% else %>
        Here's a summary of what happened with your volunteers this last week.
      <% end %>
    </td>
  </tr>
  <% @supervisor.volunteers_ever_assigned.where("supervisor_volunteers.is_active = ?", true).active.each do |volunteer| %>
    <tr>
      <td class="content-block" style="font-size: 16px; padding: 0 0 10px">
      <b>Summary for <%= link_to volunteer.display_name, edit_volunteer_url(volunteer) %></b>
      </td>
    </tr>
    <% volunteer.case_assignments_with_cases.each do |case_assignment| %>
      <% recently_unassigned = case_assignment.decorate.unassigned_in_past_week? %>
      <% if case_assignment.active || recently_unassigned %>
        <% casa_case = case_assignment.casa_case %>
        <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; text-align: left;">
          <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            <b>
              Case <%= link_to casa_case.case_number, casa_case_url(casa_case) %>
            </b>
            <br>
            <% successful_contacts = recently_unassigned ?
                casa_case.decorate.successful_contacts_this_week_before(case_assignment.updated_at) :
                casa_case.decorate.successful_contacts_this_week %>
            <% unsuccessful_contacts = recently_unassigned ?
                casa_case.decorate.unsuccessful_contacts_this_week_before(case_assignment.updated_at) :
                casa_case.decorate.unsuccessful_contacts_this_week %>
            <% if successful_contacts + unsuccessful_contacts > 0 %>
              <%= "Number of successful case contacts made this week: #{successful_contacts}" %>
              <br>
              <%= "Number of unsuccessful case contacts made this week: #{unsuccessful_contacts} " %>
              <br>
              <% recent_contact = recently_unassigned ?
                  casa_case.decorate.case_contacts_latest_before(case_assignment.updated_at) :
                  casa_case.decorate.case_contacts_latest %>
              <%= "Most recent contact attempted:" %>
              <br>
              <%= " - Date: #{I18n.l(recent_contact&.occurred_at, format: :full, default: nil)}" %>
              <br>
              <%= " - Type: #{recent_contact&.decorate.contact_types}" %>
              <br>
              <%= " - Duration: #{recent_contact&.duration_minutes}" %>
              <br>
              <%= " - Contact Made: #{recent_contact&.contact_made}" %>
              <br>
              <%= " - Medium Type: #{recent_contact&.medium_type}" %>
              <br>
              <%= " - Notes: #{recent_contact&.notes}" %>
            <% else %>
              No contact attempts were logged for this week.
            <% end %>
            <% if recently_unassigned %>
              <br>
              This case was unassigned from <%= volunteer.display_name %> on
              <%= case_assignment.updated_at.to_date.to_s(:long_ordinal) %>
              <% if successful_contacts + unsuccessful_contacts > 0 %>
                The above activity only describes the part of the week when the case was still assigned to
                <% volunteer.display_name %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <!-- If the table elements don't wrap this <hr> then the <hr> gets moved to the outside of the table by the HTML renderer -->
    <tr><td style="padding: 0 0 10px"><hr></td></tr>
  <% end %>

  <% if @supervisor.recently_unassigned_volunteers.any? %>
    <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; text-align: left;">
      <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        <b><%= "The following volunteers have been unassigned from you:" %></b>
        <br>

        <% @supervisor.recently_unassigned_volunteers.each  do |volunteer| %>
          - <%= volunteer.display_name %>

          <% unless volunteer.has_supervisor? %>
            (not assigned to a new supervisor)
          <% end %>
          <br>
        <% end %>
      </td>
    </tr>
  <% end %>

  <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 18px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      <b>Additional Notes:</b>
      <br>
    </td>
  </tr>

  <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <% @inactive_messages&.each do |message| %>
      <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        <%= message %>
        <br>
      </td>
    <% end %>
  </tr>

  <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 18px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      <% if @show_notes %>
        There are no additional notes.
      <% end %>
    </td>
  </tr>

  <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 18px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      <b>Pending Volunteers:</b>
      <br>
        <% if @supervisor.pending_volunteers.empty? %>
        <br>
          There are no pending volunteers.
        <% end %>
    </td>
  </tr>

  <% @supervisor.pending_volunteers.each do |volunteer| %>
    <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; display: flex; justify-content: flex-start;">
      <td style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin-right: 30px; padding: 0 0 20px; text-transform: capitalize;" valign="top">
        <%= volunteer.display_name %>
      </td>
      <td>
        <button> <%= link_to "Re-invite", resend_invitation_volunteer_url(volunteer) %></button>
      </td>
    </tr>
  <% end %>

  <% if @supervisor.volunteers.no_recent_sign_in.any? %>
    <tr style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; text-align: left;">
      <td class="content-block" style="font-family: Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        <b><%= "The following volunteers have not recently signed in, within 30 days" %></b>
        <br>

        <% @supervisor.volunteers.no_recent_sign_in.each do |volunteer| %>
          - <%= volunteer.display_name %>
          <br>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
