<div class="pt-30">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-30">
        <h1>New Fund Request</h1>
      </div>
    </div>
  </div>
</div>

<!-- ========== card start ========== -->
<div class="card-style mb-50">
  <%= form_with(model: @fund_request, local: true, url: casa_case_fund_request_path(@casa_case), method: :post) do |form| %>
    <div class="input-style-1">
      <%= form.label :submitter_email, "Your email" %>
      <%= form.text_field :submitter_email, class: "form-control", required: true, value: current_user.email %>
    </div>

    <div class="input-style-1">
      <%= form.label :youth_name, "Name or case number of youth" %>
      <%= form.text_field :youth_name, class: "form-control", required: false, value: @casa_case&.case_number %>
    </div>

    <div class="input-style-1">
      <%= form.label :payment_amount, "Amount of payment*" %>
      <%= form.text_field :payment_amount, class: "form-control", required: false %>
    </div>

    <div class="input-style-1">
      <%= form.label :deadline, "Deadline / date needed" %>
      <%= form.text_field :deadline, class: "form-control", required: false %>
    </div>

    <div class="input-style-1">
      <%= form.label :request_purpose, "Request is for..." %>
      <%= form.text_area :request_purpose, class: "form-control", required: false %>
    </div>

    <div class="input-style-1">
      <%= form.label :payee_name, "Name of payee**" %>
      <%= form.text_field :payee_name, class: "form-control", required: false %>
    </div>

    <div class="input-style-1">
      <%= form.label :requested_by_and_relationship, "Requested by & relationship to youth" %>
      <%= form.text_field :requested_by_and_relationship, class: "form-control", required: false,
value: "#{current_user.display_name} CASA Volunteer" %>
    </div>

    <div class="input-style-1">
      <%= form.label :other_funding_source_sought,
        "Other source of funding available/sought please include status of these requests, if applicable." %>
      <%= form.text_area :other_funding_source_sought, class: "form-control", required: false %>
    </div>

    <div class="input-style-1">
      <%= form.label :impact, "How will this funding positively impact the personal goals or aspirations of
the youth? If this is for emergency funding, please share any support that is
or can be in place to maintain stability or alleviate the emergency moving
forward. If funding is for a program or a service, please describe how this will
support the youth in the short or long-term." %>
      <%= form.text_area :impact, class: "form-control", required: false %>
    </div>

    <div class="input-style-1">
      <%= form.label :extra_information,
        "Please use this space if it is necessary/helpful to provide additional
      information that will assist us in understanding the need and making a decision." %>
      <%= form.text_area :extra_information, class: "form-control", required: false %>
    </div>

    <%= button_tag(type: "submit", class: "btn-sm main-btn primary-btn btn-hover", required: false) do %>
      <i class="lni lni-checkmark-circle mr-10"></i> Submit Fund Request
    <% end %>
  <% end %>
  <br>
  * Please provide all documentation available for the requested expense (brochure,
  receipt, estimate, invoice, proof of online enrollment information, etc.). If
  additional funds have been secured, please provide evidence of the funding
  commitment (an email, a partial payment on a bill, etc).
  <br>
  **Payment will be made directly to the vendor for all services. If the payment
  must be made directly to the youth, please be sure to include why this is the
  preferred method of payment.
</div>
<!-- card end -->
