<label><%= t(".court_dates") %>:</label>
<% if casa_case.court_dates.size > 0 %>
  <ul>
    <% casa_case.court_dates.ordered_ascending.each do |pcd| %>
      <p>
        <%= link_to(pcd.decorate.court_date_info, casa_case_court_date_path(casa_case, pcd)) %>

        <% if report = pcd.latest_associated_report %>
          <%= link_to(rails_blob_path(report, disposition: 'attachment')) do %>
            (<%= t(".label.attached_report") %>)
          <% end %>
        <% end %>
      </p>
    <% end %>
  </ul>
<% else %>
  <%= t(".no_court_dates") %>
<% end %>
<div class="add-container past-court-dates">
  <a class="btn btn-primary add-button" href="<%= new_casa_case_court_date_path(casa_case) %>">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </a>
  <strong><%= t(".add_court_date") %></strong>
</div>
