<div class="row casa-case-filters">
  <div class="col-sm-12">
    <h4 class="pull-left mr-2"><%= t("casa_cases.shared.filter_by") %>:</h4>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("common.status") %>
      </button>
      <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Active" checked>
            <%= t("common.active") %>
          </a>
        </li>
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Inactive">
            <%= t("common.inactive") %>
          </a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("casa_cases.shared.assigned_single") %>
      </button>
      <div class="dropdown-menu assigned-to-volunteer-options" aria-labelledby="dropdownMenuButton">
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Yes" checked>
          <%= t("common.yes_text") %>
        </a>
        </li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="No" checked>
          <%= t("common.no_text") %>
        </a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("casa_cases.shared.assigned_multiple") %>
      </button>
      <div class="dropdown-menu more-than-one-volunteer-options" aria-labelledby="dropdownMenuButton">
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Yes" checked>
          <%= t("common.yes_text") %>
        </a>
        </li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="No" checked>
          <%= t("common.no_text") %>
        </a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("casa_cases.shared.assigned_transition_aged_youth") %>
      </button>
      <div class="dropdown-menu transition-youth-options" aria-labelledby="dropdownMenuButton">
        <li>
          <a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="Yes ðŸ¦‹" checked>
            <%= t("common.yes_text") %>
          </a>
        </li>
        <li><a class="small" data-value="option1" tabIndex="-1"><input type="checkbox" data-value="No ðŸ›" checked>
          <%= t("common.no_text") %>
        </a>
        </li>
      </div>
    </div>
    <div class="dropdown pull-left mr-2">
      <% unless current_user.volunteer? %>
        <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("casa_cases.shared.casa_case_prefix") %>
        </button>
      <% end %>
      <div class="dropdown-menu case-number-prefix-options" aria-labelledby="dropdownMenuButton">
        <% t("casa_cases.shared.prefix_options").each do |_, option| %>
          <li>
            <a class="small" data-value="option1" tabIndex="-1">
              <input type="checkbox" data-value="<%= option %>" checked><%= option %>
            </a>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
