<div>
  <div class="row casa-case-filters">
    <div class="col-sm-12">
      <h4 class="pull-left mr-2"><%= t("casa_cases.shared.filter_by") %>:</h4>
      <div class="dropdown pull-left mr-2">
        <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("common.status") %>
        </button>
        <div class="dropdown-menu status-options" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item form-check">
            <%= check_box_tag "status_option_active", "Active", true,
                    class: "form-check-input",
                    data: { value: "Active" } %>
            <%= label_tag "status_option_active", t("common.active"), class: "form-check-label" %>
          </div>
          <div class="dropdown-item form-check">
            <%= check_box_tag "status_option_inactive", "Inactive", false,
                      class: "form-check-input",
                      data: { value: "Inactive" } %>
            <%= label_tag "status_option_inactive", t("common.inactive"), class: "form-check-label" %>
          </div>
        </div>
      </div>
      <div class="dropdown pull-left mr-2">
        <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("casa_cases.shared.assigned_single") %>
        </button>
        <div class="dropdown-menu assigned-to-volunteer-options" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item form-check">
            <%= check_box_tag "assigned_to_volunteer_option_yes", "Yes", true,
                       class: "form-check-input",
                       data: { value: "Yes" } %>
            <%= label_tag "assigned_to_volunteer_option_yes", t("common.yes_text"), class: "form-check-label" %>
          </div>
          <div class="dropdown-item form-check">
            <%= check_box_tag "assigned_to_volunteer_option_no", "No", true,
                       class: "form-check-input",
                       data: { value: "No" } %>
            <%= label_tag "assigned_to_volunteer_option_no", t("common.no_text"), class: "form-check-label" %>
          </div>
        </div>
      </div>
      <div class="dropdown pull-left mr-2">
        <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("casa_cases.shared.assigned_multiple") %>
        </button>
        <div class="dropdown-menu more-than-one-volunteer-options" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item form-check">
            <%= check_box_tag "more_than_one_volunteer_option_yes", "Yes", true,
                       class: "form-check-input",
                       data: { value: "Yes" } %>
            <%= label_tag "more_than_one_volunteer_option_yes", t("common.yes_text"), class: "form-check-label" %>
          </div>
          <div class="dropdown-item form-check">
            <%= check_box_tag "more_than_one_volunteer_option_no", "No", true,
                       class: "form-check-input",
                       data: { value: "No" } %>
            <%= label_tag "more_than_one_volunteer_option_no", t("common.no_text"), class: "form-check-label" %>
          </div>
        </div>
      </div>
      <div class="dropdown pull-left mr-2">
        <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("casa_cases.shared.assigned_transition_aged_youth") %>
        </button>
        <div class="dropdown-menu transition-youth-options" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item form-check">
            <%= check_box_tag "transition_youth_option_yes", "Yes ðŸ¦‹", true,
                       class: "form-check-input",
                       data: { value: "Yes ðŸ¦‹" } %>
            <%= label_tag "transition_youth_option_yes", t("common.yes_text"), class: "form-check-label" %>
          </div>
          <div class="dropdown-item form-check">
            <%= check_box_tag "transition_youth_option_no", "No", true,
                       class: "form-check-input",
                       data: { value: "No ðŸ›" } %>
            <%= label_tag "transition_youth_option_no", t("common.no_text"), class: "form-check-label" %>
          </div>
        </div>
      </div>
      <div class="dropdown pull-left mr-2">
        <% unless current_user.volunteer? %>
          <button class="btn btn-secondary dropdown-toggle show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t("casa_cases.shared.casa_case_prefix") %>
          </button>
        <% end %>
        <div class="dropdown-menu case-number-prefix-options" aria-labelledby="dropdownMenuButton">
          <% t("casa_cases.shared.prefix_options").each do |_, option| %>
            <div class="dropdown-item form-check">
              <% option_for_name = option.downcase.gsub(/[^a-z]+/, '') -%>
              <% tag_name = "case_case_prefix_option_#{option_for_name}" -%>
              <%= check_box_tag tag_name, option, true,
                         class: "form-check-input",
                         data: { value: option} %>
              <%= label_tag tag_name, option, class: "form-check-label" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="modal fade" id="visibleColumns" tabindex="-1" role="dialog" aria-labelledby="visibleColumnsLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="visibleColumnsLabel">
              <%= t(".pick_displayed_columns") %>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <%= t(".select_columns") %>:

              <% CasaCase::TABLE_COLUMNS.each_with_index do |column, index| %>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-check">
                      <%= check_box_tag "pick-#{column}",
                                        "1",
                                        false,
                                        class: "form-check-input toggle-visibility",
                                        data: {column: index} %>
                      <%= label_tag "pick-#{column}", column.titleize, class: "form-check-label" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t("button.close") %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
