<div class="row">
  <div class="col-sm-12 dashboard-table-header my-4">
    <h1>Other Duties</h1>
    <%= link_to new_other_duty_path, class: "main-btn btn-sm primary-btn btn-hover" do %>
      <i class="lni lni-plus"></i>
      New Duty
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card-style">
      <div class="table-wrapper table-responsive">
        <table class="table striped-table">
          <thead>
            <tr>
              <th>Duties Occurred</th>
              <th>Created</th>
              <th>Duration</th>
              <th>Title</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @duties.decorate.each do |duty| %>
              <tr>
                <td class="min-width"><%= I18n.l(duty.occurred_at, format: :full, default: nil) %></td>
                <td class="min-width"><%= I18n.l(duty.created_at, format: :full, default: nil) %></td>
                <td class="min-width"><%= duty.duration_in_minutes %></td>
                <td class="min-width"><%= duty.truncate_notes %></td>
                <td class="min-width"><%= link_to "Edit", edit_other_duty_path(duty) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
