<% if @casa_case.volunteers.present? %>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <h3>Assigned Volunteers</h3>
      <table class='table case-list'>
        <thead>
          <tr>
            <th>Volunteer Name</th>
            <th>Volunteer Email</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @casa_case.case_assignments.each do |assignment| %>
            <tr>
              <td><%= link_to assignment&.volunteer&.display_name, edit_volunteer_path(assignment.volunteer) %></td>
              <td><%= assignment&.volunteer&.email %></td>
              <td>
                <% if assignment.is_active? %>
                  <span class='badge badge-success text-uppercase'>Assigned</span>
                <% else %>
                  <span class="badge badge-danger text-uppercase"><%= assignment.volunteer.active_volunteer ? "Unassigned" : "Deactivated volunteer" %></span>
                <% end %>
              </td>
              <td>
                <% if assignment.is_active? && %w(casa_admin supervisor).include?(current_user.role) %>
                  <%= button_to 'Unassign Volunteer', unassign_case_assignment_path(assignment), method: :patch, class: "btn btn-outline-danger" %>
                <% else %>
                  None
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<br>

<div class="row">
  <div class="col-sm-6">
    <h3>Assign a New Volunteer</h3>

    <%= form_for CaseAssignment.new, url: case_assignments_path(casa_case_id: @casa_case.id) do |form| %>

      <div class='form-group'>
        <label for='case_assignment_casa_case_id'>Select a Volunteer</label>
        <select name='case_assignment[volunteer_id]' class='form-control'>
          <% User.where(role: "volunteer").all.order(:display_name).each do |volunteer| %>
            <option value="<%= volunteer.id %>"><%= volunteer.decorate.name %></option>
          <% end %>
        </select>
      </div>

      <%= form.submit 'Assign Volunteer', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
