<%= link_to t("button.back"), casa_cases_path %>
<h1><%= t(".title") %></h1>

<% if @casa_case.active %>
  <%= render 'form', casa_case: @casa_case %>
<% else %>
  <%= render 'inactive_case', casa_case: @casa_case %>
<% end %>

<div class="card card-container">
  <div class="card-body">
    <h6><strong><%= t(".past_court_dates") %>:</strong></h6>
    <% if @casa_case.past_court_dates.size > 0 %>
      <ul>
        <% @casa_case.past_court_dates.each do |pcd| %>
          <p>
            <% if report = pcd.latest_associated_report %>
              <%= link_to I18n.l(pcd.date, format: :full, default: nil),
rails_blob_path(report, disposition: 'attachment') %>
            <% else %>
              <%= I18n.l(pcd.date, format: :full, default: nil) %>
            <% end %>
          </p>
        <% end %>
      </ul>
    <% else %>
      <%= t(".no_past_court_dates") %>
    <% end %>
  </div>
</div>

<% if Pundit.policy(current_user, @casa_case).assign_volunteers? %>
  <%= render "volunteer_assignment" %>
<% end %>
