<h1><%= t(".title") %>&nbsp;<%= link_to(@casa_case.case_number, @casa_case) %></h1>

<% if @casa_case.active %>
  <%= render 'form', casa_case: @casa_case %>
<% else %>
  <%= render 'inactive_case', casa_case: @casa_case %>
<% end %>

<% if Pundit.policy(current_user, @casa_case).assign_volunteers? %>
  <%= render "volunteer_assignment" %>
<% end %>
