<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <% if current_user.volunteer? %>
      <h1>My <%= "Case".pluralize(@casa_cases.count) %></h1>
    <% else %>
      <h1><%= "Case".pluralize(@casa_cases.count) %></h1>
    <% end %>
    <% if policy(:dashboard).see_volunteers_section? %>
      <%= link_to t(".button.new"), new_casa_case_path, class: "btn btn-primary" %>
    <% end %>
    <% if policy(CasaCase).can_see_filters? %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#visibleColumns">
        <%= t(".pick_displayed_columns") %>
      </button>
    <% end %>
  </div>
</div>

<% if policy(CasaCase).can_see_filters? %>
  <%= render 'filter' %>
<% end %>

<div class="card card-container">
  <div class="card-body">
    <table class="table table-striped table-bordered case-list" id="<%= @casa_cases_filter_id %>">
      <thead>
      <tr>
        <th><%= t(".heading.case_number") %></th>
        <th><%= t(".heading.hearing_type") %></th>
        <th><%= t(".heading.judge") %></th>
        <th><%= t(".heading.status") %></th>
        <th><%= t(".heading.transition_aged_youth") %></th>
        <th><%= t(".heading.assigned_to") %></th>
        <th><%= t(".heading.actions") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @casa_cases.each do |casa_case| %>
        <tr class="<%= casa_case.decorate.inactive_class %>">
          <td><%= link_to(casa_case.case_number, casa_case) %></td>
          <td><%= casa_case.hearing_type_name %></td>
          <td><%= casa_case.judge_name %></td>
          <td><%= casa_case.decorate.status %></td>
          <td><%= casa_case.decorate.transition_aged_youth %></td>
          <td>
            <% if casa_case.active? %>
              <% if current_user.volunteer? %>
                <%= safe_join(casa_case.assigned_volunteers.map { |vol|
                  vol.display_name }, ", ") %>
              <% else %>
                <%= safe_join(casa_case.assigned_volunteers.map { |vol|
                  link_to(vol.display_name, edit_volunteer_path(vol)) },
                              ", ") %>
              <% end %>
            <% else %>
              Case was deactivated on: <%= I18n.l(casa_case.updated_at, format: :standard, default: nil) %>
            <% end %>
          </td>
          <td><%= link_to t("button.detail_view"), casa_case_path(casa_case) %></td>
          <td><%= link_to t("button.edit"), edit_casa_case_path(casa_case) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
