<%= link_to 'Back', :back %>

<div class="row">
  <div class="col-sm-12">
    <div class="section-header">
        <h1 class="section-header__title">CASA Cases</h1>
        <div>
          <%- if policy(:casa_case).new? %>
            <%= link_to 'New CASA Case', new_casa_case_path, class: "btn btn-primary" %>
          <%- end %>
        </div>
    </div>
  </div>
</div>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Case number</th>
      <th>Transition Aged Youth</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @casa_cases.each do |casa_case| %>
      <tr>
        <td><%= casa_case.case_number %></td>
        <td><%= casa_case.decorate.transition_aged_youth_icon %></td>
        <td><%= link_to 'Show', casa_case %></td>
        <td><%= link_to 'Edit', edit_casa_case_path(casa_case) %></td>
        <td><%= link_to 'Destroy', casa_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
