<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <% if current_user.volunteer? %>
          <h2>My <%= "Case".pluralize(@casa_cases.count) %></h2>
        <% else %>
          <h2><%= "Case".pluralize(@casa_cases.count) %></h2>
        <% end %>
      </div>
    </div>
    <!-- end col -->
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <span class="ml-5">
          <% if policy(:dashboard).see_volunteers_section? %>
            <%= link_to new_casa_case_path, class: "main-btn btn-sm primary-btn btn-hover ml-3" do %>
          <i class="lni lni-plus"></i>
            New Case
            <% end %>
          <% end %>
        </span>
        <span class="ml-5">
          <% if policy(CasaCase).can_see_filters? %>
            <button
              type="button"
              class="main-btn btn-sm primary-btn btn-hover"
              data-bs-toggle="modal"
              data-bs-target="#visibleColumns"><i class="lni lni-pin mr-10"></i>
              Pick displayed columns
            </button>
          <% end %>
          </span>
      </div>
    </div>
  </div>
</div>
<% if policy(CasaCase).can_see_filters? %>
  <%= render 'filter' %>
<% end %>
<div class="row">
  <div class="col-lg-12">
    <div class="card-style">
      <div class="table-wrapper table-responsive">
        <table class="table striped-table" id="<%= @casa_cases_filter_id %>">
          <thead>
            <tr>
              <th>Case Number</th>
              <th>Hearing Type</th>
              <th>Judge</th>
              <th>Status</th>
              <th>Transition Aged Youth</th>
              <th>Assigned To</th>
              <th>Actions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @casa_cases.each do |casa_case| %>
              <tr class="<%= casa_case.decorate.inactive_class %>">
                <td class="min-width"><%= link_to(casa_case.case_number, casa_case) %></td>
                <td class="min-width"><%= casa_case.hearing_type_name %></td>
                <td class="min-width"><%= casa_case.judge_name %></td>
                <td class="min-width"><%= casa_case.decorate.status %></td>
                <td class="min-width"><%= casa_case.decorate.transition_aged_youth %></td>
                <td class="min-width">
                  <% if casa_case.active? %>
                    <% if current_user.volunteer? %>
                      <%= safe_join(casa_case.assigned_volunteers.map { |vol|
                    vol.display_name }, ", ") %>
                    <% else %>
                      <%= safe_join(casa_case.assigned_volunteers.map { |vol|
                    link_to(vol.display_name, edit_volunteer_path(vol)) },
                                ", ") %>
                    <% end %>
                  <% else %>
                    Case was deactivated on: <%= I18n.l(casa_case.updated_at, format: :standard, default: nil) %>
                  <% end %>
                </td>
                <td class="min-width">
                  <i class="lni lni-search-alt text-active"></i>
                  <%= link_to "Detail View", casa_case_path(casa_case) %>
                </td>
                <td>
                  <i class="lni lni-pencil-alt text-danger"></i>
                  <%= link_to "Edit", edit_casa_case_path(casa_case), class: 'text-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if FeatureFlagService.is_enabled?(FeatureFlagService::SHOW_OTHER_DUTIES_FLAG) %>
  <%= render 'other_duties' %>
<% end %>
