<div class="row">
  <div class="col-sm-12 dashboard-table-header">
    <% if current_user.volunteer? %>
      <h1>My <%= "Case".pluralize(@casa_cases.count) %></h1>
    <% else %>
      <h1><%= "Case".pluralize(@casa_cases.count) %></h1>
    <% end %>
    <% if policy(:dashboard).see_volunteers_section? %>
      <%= link_to "New Case", new_casa_case_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <table class="table case-list" id="casa_cases">
      <thead>
      <tr>
        <th>Case Number</th>
        <th>Hearing Type</th>
        <th>Transition Aged Youth</th>
        <th>Assigned To</th>
        <th>Actions</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @casa_cases.each do |casa_case| %>
        <tr>
          <td><%= link_to(casa_case.case_number, casa_case) %></td>
          <td><%= casa_case.hearing_type.name %></td>
          <td><%= casa_case.decorate.transition_aged_youth_icon %></td>
          <td>
            <%= safe_join(casa_case&.volunteers&.map { |vol| link_to(vol.display_name, edit_volunteer_path(vol)) },
                          ", ") %>
          </td>
          <td><%= link_to 'Detail View', casa_case_path(casa_case) %></td>
          <td><%= link_to 'Edit', edit_casa_case_path(casa_case) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
