<% if flash %>
  <%= render "/shared/error_messages" %>
<%end%>
<div class="row">
  <%= render "thank_you_modal" %>
  <div class="col-sm-12 form-header my-4">
    <h1 class="pull-left"><%= @casa_case.decorate.transition_aged_youth_icon %>CASA Case Details</h1>
    <%- if policy(:case_contact).new? & @casa_case.active? %>
      <%= link_to new_case_contact_path(case_contact: {casa_case_id: @casa_case.id}), class: "main-btn primary-btn btn-sm btn-hover pull-left casa-case-button" do %>
        <i class="lni lni-plus mr-10"></i>
        New Case Contact
      <% end %>
    <%- end %>
    <% if @casa_case.active? %>
      <%= link_to edit_casa_case_path(@casa_case), class: "main-btn primary-btn btn-sm btn-hover pull-left casa-case-button pull-left casa-case-button" do %>
        <i class="lni lni-pencil mr-10"></i>
        Edit Case Details
      <% end %>
    <% end %>
    <% if @casa_case.in_transition_age? %>
      <%= link_to(casa_case_emancipation_path(@casa_case),
              class: "main-btn primary-btn btn-sm pull-left casa-case-button") do %>
        Emancipation
        <span class="badge badge-light">
          <%= @casa_case.decorate.emancipation_checklist_count %>
        </span>
      <% end %>
    <% end %>
    <%= form_with url: generate_case_court_reports_path, local: false, class: "d-inline" do |form| %>
      <%= form.hidden_field :case_number, value: @casa_case.case_number %>
      <%= button_tag(type: "submit", class: "btn-sm main-btn primary-btn pull-right btn-hover", id: "btnGenerateReport") do %>
        <i class="lni lni-download mr-5"></i> Generate Report
      <% end %>
      <i id="spinner" class='fas fa-spin d-none pull-right'>⏳</i>
    <% end %>
    <% if @casa_case.casa_org.show_fund_request %>
      <%= link_to("New Fund Request", new_casa_case_fund_request_path(@casa_case),
class: "btn btn-primary pull-left casa-case-button") %>
    <% end %>
  </div>
</div>
<div class="card card-container">
  <div class="card-body">
    <% if !@casa_case.active %>
      <%= render "inactive_case", casa_case: @casa_case %>
    <% end %>
    <p>
      <h6><strong>Case number:</strong> <%= @casa_case.case_number %></h6>
    </p>
    <% if @casa_case.hearing_type %>
      <p>
        <h6><strong>Hearing Type:</strong> <%= @casa_case.hearing_type_name %></h6>
      </p>
    <% end %>
    <% if @casa_case.has_judge_name? %>
      <p>
        <h6><strong>Judge:</strong> <%= @casa_case.judge_name %></h6>
      </p>
    <% end %>
    <p>
      <h6><strong>Transition Aged Youth:</strong> <%= @casa_case.decorate.transition_aged_youth %></h6>
    </p>
    <div>
      <h6>
        <strong>
          Youth's Date in Care:
        </strong>
        <%= @casa_case.decorate.date_in_care %>
        <%= @casa_case.decorate.duration_in_care %>
      </h6>
    </div>
    <p>
      <h6>
        <strong>Next Court Date:</strong>
        <%= I18n.l(@casa_case.next_court_date&.date, format: :day_and_date, default: '') %>
        <%= render "calendar_button", date: @casa_case.decorate.calendar_next_court_date,
                 id: "btnNextCourtDate",
                 tooltip: "Add Next Court Date to Calendar",
                 title: "Next Court Date for [#{@casa_case.case_number}]" %>
      </h6>
    </p>
    <p>
      <h6>
        <strong>Court Report Status:</strong>
        <%= @casa_case.decorate.court_report_submission %></h6>
    </p>
    <% unless @casa_case.court_report_not_submitted? %>
      <% if @casa_case.court_report_submitted? && @casa_case.court_reports.attached? %>
        <%= link_to('Click to download',
                    rails_blob_path(@casa_case.latest_court_report, disposition: 'attachment')) %>
      <% end %>
      <p>
        <h6>
          <strong>Court Report Submitted Date:</strong>
          <%= @casa_case.decorate.court_report_submitted_date %></h6>
      </p>
    <% end %>
    <% if @casa_case.case_court_orders.exists? %>
      <h6><strong>Court Orders:</strong></h6>
      <% @casa_case.case_court_orders.each do |court_order| %>
        <p><%= court_order.implementation_status_symbol %> <%= court_order.text %></p>
      <% end %>
    <% end %>
    <%= render "court_dates", casa_case: @casa_case %>
    <div>
      <h6><strong>Assigned Volunteers:</strong></h6>
      <div class="container">
        <% Pundit.policy_scope(current_user, @casa_case.assigned_volunteers).each do |volunteer| %>
          <div class="row mb-3">
            <% if current_user.volunteer? %>
              <div class="col-12"><%= volunteer.display_name %></div>
            <% else %>
              <div class="col-2">
                <%= link_to "#{volunteer.display_name} ", edit_volunteer_path(volunteer) %>
              </div>
              <div class="col-10">
                <%= render "volunteers/volunteer_reminder_form", volunteer: volunteer %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <br>
      <% if @casa_case.case_contacts.present? %>
        <div class="text-right mb-2">
          <%= link_to casa_case_path(params[:id], format: :xlsx), class: "main-btn primary-btn btn-sm btn-hover" do %>
            <i class="lni lni-download mr-10"></i>
            Download All
          <% end %>
        </div>
      <% end %>
      <div id="case_contacts_list">
        <% if current_user.supervisor? || current_user.casa_admin? %>
          <%= render(partial: "case_contacts/case_contact",
                    collection: @casa_case.decorate
                      .case_contacts_ordered_by_occurred_at
                      .includes(contact_types: [:contact_type_group])
                      .grab_all(current_user),
                    as: :contact) %>
        <% else %>
          <%= render(partial: "case_contacts/case_contact",
                    collection: @casa_case.decorate
                      .case_contacts_filtered_by_active_assignment_ordered_by_occurred_at
                      .includes(contact_types: [:contact_type_group])
                      .grab_all(current_user),
                    as: :contact) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
