<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h2>All CASA Admin</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <span class="ml-5">
          <a class="btn-sm main-btn primary-btn btn-hover" href="<%= new_all_casa_admins_casa_org_path %>">New CASA Organization</a>
          <a class="btn-sm main-btn primary-btn btn-hover" href="<%= new_all_casa_admin_path %>">New All CASA Admin</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="card card-container">
  <div class="card-body">
    <h2 class="mb-30">CASA Organizations</h2>
    <table class="table organization-list" data-test="organization-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created At</th>
          <th>User Count</th>
          <th>Case Contact Count</th>
        </tr>
      </thead>
      <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= link_to organization.name, all_casa_admins_casa_org_path(organization) %></td>
          <td><%= I18n.l(organization.created_at, format: :full, default: nil) %></td>
          <td><%= organization.user_count %></td>
          <td><%= organization.case_contacts_count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
