<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3><%= t(".title") %></h3>
    <%= link_to t(".button.new"), new_contact_type_group_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered" id="contact-type-groups">
  <thead>
  <tr>
    <th><%= t(".heading.name") %></th>
    <th><%= t(".heading.active") %></th>
    <th><%= t(".heading.actions") %></th>
  </tr>
  </thead>

  <tbody>
  <% contact_type_groups.each do |group| %>
    <tr id="group-<%= group.id %>">
      <td scope="row">
        <%= group.name %>
      </td>
      <td scope="row">
        <%= group.active? ? t("common.yes_text") : t("common.no_text") %>
      </td>
      <td>
        <%= link_to t(".button.edit"), edit_contact_type_group_path(group) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
