<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3>Contact Topics</h3>
        </div>
        <div class="col-md-6">
          <div class="breadcrumb-wrapper">
            <span class="ml-5">
              <%= link_to new_contact_topic_path, class: "btn-sm main-btn primary-btn btn-hover" do %>
                <i class="lni lni-plus mr-10"></i>
                New Contact Topic
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <div class="table-wrapper table-responsive">
        <table class="table striped-table" id="contact-topics">
          <thead>
            <tr>
              <th>Question</th>
              <th>Details</th>
              <th>Active?</th>
            </tr>
          </thead>
          <tbody>
            <% @contact_topics.each do |contact_topic| %>
              <% id = "contact_topic-#{contact_topic.id}" %>
              <tr>
                <td scope="row" class="min-width">
                  <%= contact_topic.question %>
                </td>
                <td scope="row" class="min-width pre-line"><%= contact_topic.details %></td>
                <td scope="row" class="min-width">
                  <%= contact_topic.active ? "Yes" : "No" %>
                </td>
                <td>
                  <%= render(DropdownMenuComponent.new(menu_title: "Actions Menu", hide_label: true)) do |component| %>
                    <% component.with_icon do %>
                      <svg width="5" height="20" viewBox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title><%= "Actions Menu" %></title>
                        <path d="M2.5 0.9375C1.82292 0.9375 1.23698 1.17188 0.742187 1.64063C0.247396 2.10938 -7.68364e-08 2.69531 -1.07571e-07 3.39844C-1.38306e-07 4.10156 0.247396 4.70052 0.742187 5.19531C1.23698 5.6901 1.82292 5.9375 2.5 5.9375C3.17708 5.9375 3.76302 5.6901 4.25781 5.19531C4.7526 4.70052 5 4.10156 5 3.39844C5 2.69531 4.7526 2.10938 4.25781 1.64063C3.76302 1.17188 3.17708 0.9375 2.5 0.9375ZM2.5 7.5C1.82292 7.5 1.23698 7.7474 0.742187 8.24219C0.247395 8.73698 -3.66538e-07 9.32292 -3.96134e-07 10C-4.25731e-07 10.6771 0.247395 11.263 0.742187 11.7578C1.23698 12.2526 1.82292 12.5 2.5 12.5C3.17708 12.5 3.76302 12.2526 4.25781 11.7578C4.7526 11.263 5 10.6771 5 10C5 9.32292 4.7526 8.73698 4.25781 8.24219C3.76302 7.7474 3.17708 7.5 2.5 7.5ZM2.5 14.0625C1.82292 14.0625 1.23698 14.3099 0.742187 14.8047C0.247395 15.2995 -6.53963e-07 15.8984 -6.84698e-07 16.6016C-7.15432e-07 17.3047 0.247395 17.8906 0.742187 18.3594C1.23698 18.8281 1.82292 19.0625 2.5 19.0625C3.17708 19.0625 3.76302 18.8281 4.25781 18.3594C4.7526 17.8906 5 17.3047 5 16.6016C5 15.8984 4.7526 15.2995 4.25781 14.8047C3.76302 14.3099 3.17708 14.0625 2.5 14.0625Z" fill="#5D657B" />
                      </svg>
                    <% end %>

                    <li><%= link_to "Edit", edit_contact_topic_path(contact_topic), class: "dropdown-item" %></li>
                    <li><%= render(Modal::OpenLinkComponent.new(text: "Delete", target: id, klass: "dropdown-item")) %></li>
                  <% end %>
                </td>
              </tr>
              <%= render(Modal::GroupComponent.new(id: id)) do |component| %>
                <% component.with_header(text: "Delete Contact Topic?", id: id) %>
                <% component.with_body(text: [
                  "This topic and its related questions will be deleted and will no longer be presented while filling out case contacts.",
                  "This will not affect case contacts that have already been created."]) %>
                <% component.with_footer do %>
                  <%= link_to soft_delete_contact_topic_path(contact_topic), method: :delete,
                    class: "btn-sm main-btn danger-btn btn-hover ms-auto" do %>
                    <i class="lni lni-trash-can mr-10"></i>
                    Delete Court Report Topic
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
