<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3>Contact Topics</h3>
        </div>
        <div class="col-md-6">
          <div class="breadcrumb-wrapper">
            <span class="ml-5">
              <%= link_to new_contact_topic_path, class: "btn-sm main-btn primary-btn btn-hover" do %>
                <i class="lni lni-plus mr-10"></i>
                New Contact Topic
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <div class="table-wrapper table-responsive">
        <table class="table striped-table" id="contact-topics">
          <thead>
            <tr>
              <th>Question</th>
              <th>Details</th>
              <th>Active?</th>
            </tr>
          </thead>
          <tbody>
            <% @contact_topics.each do |contact_topic| %>
              <% id = "contact_topic-#{contact_topic.id}" %>
              <tr>
                <td scope="row" class="min-width">
                  <%= contact_topic.question %>
                </td>
                <td scope="row" class="min-width pre-line"><%= contact_topic.details %></td>
                <td scope="row" class="min-width">
                  <%= contact_topic.active ? "Yes" : "No" %>
                </td>
                <td>
                  <%= render(DropdownMenuComponent.new(menu_title: "Actions Menu", hide_label: true)) do %>
                    <li><%= link_to "Edit", edit_contact_topic_path(contact_topic), class: "dropdown-item" %></li>
                    <li><%= render(Modal::OpenLinkComponent.new(text: "Delete", target: id, klass: "dropdown-item")) %></li>
                  <% end %>
                </td>
              </tr>
              <%= render(Modal::GroupComponent.new(id: id)) do |component| %>
                <% component.with_header(text: "Delete Contact Topic?", id: id) %>
                <% component.with_body(text: [
                  "This topic and its related questions will be deleted and will no longer be presented while filling out case contacts.",
                  "This will not affect case contacts that have already been created."]) %>
                <% component.with_footer do %>
                  <%= link_to soft_delete_contact_topic_path(contact_topic), method: :delete,
                    class: "btn-sm main-btn danger-btn btn-hover ms-auto" do %>
                    <i class="lni lni-trash-can mr-10"></i>
                    Delete Court Report Topic
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
