<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3><%= t(".title") %></h3>
    <%= link_to t(".button.new"), new_hearing_type_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered" id="hearing-types">
  <thead>
  <tr>
    <th><%= t(".heading.name") %></th>
    <th><%= t(".heading.active") %></th>
    <th><%= t(".heading.actions") %></th>
  </tr>
  </thead>

  <tbody>
  <% @hearing_types.each do |hearing_type| %>
    <tr id="hearing_type-<%= hearing_type.id %>">
      <td scope="row">
        <%= hearing_type.name %>
      </td>
      <td scope="row">
        <%= hearing_type.active ? t("common.yes_text") : t("common.no_text") %>
      </td>
      <td>
        <%= link_to t(".button.edit"), edit_hearing_type_path(hearing_type) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
