<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3>Judge</h3>
        </div>
        <div class="col-md-6">
          <div class="breadcrumb-wrapper">
            <span class="ml-5">
              <%= link_to new_judge_path, class: "btn-sm main-btn primary-btn btn-hover" do %>
                <i class="lni lni-plus mr-10"></i>
                New Judge
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <div class="table-wrapper table-responsive">
        <table class="table striped-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Active?</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @judges.each do |judge| %>
              <tr id="judge-<%= judge.id %>">
                <td scope="row" class="min-width">
                  <%= judge.name %>
                </td>
                <td scope="row" class="min-width">
                  <%= judge.active ? "Yes" : "No" %>
                </td>
                <td>
                  <%= link_to edit_judge_path(judge) do %>
                    <div class="action">
                      <button class="text-danger">
                        <i class="lni lni-pencil-alt"></i> Edit
                      </button>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
