<div class="row">
  <div class="col-sm-12 dashboard-table-header pt-2 pb-2">
    <h3>Language</h3>
    <%= link_to "New Language", new_language_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @languages.each do |language| %>
    <tr id="language-<%= language.id %>">
      <td>
        <%= language.name %>
      </td>
      <td>
        <%= language.code %>
      </td>
      <td>
        <%= link_to "Edit", edit_language_path(language) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
