<div class="row">
  <div class="col-lg-12">
    <div class="card-style mb-30">
      <h3 class="mb-10">Sent Emails</h3>
      <div class="table-wrapper table-responsive">
        <table class="table striped-table" id="sent-emails">
          <thead>
            <tr>
              <th>Mailer Type</th>
              <th>Category</th>
              <th>Recipient</th>
              <th>Time Sent</th>
            </tr>
          </thead>
          <tbody>
            <% @sent_emails.each do |sent_email| %>
              <tr id="email-<%= sent_email.id %>">
                <td scope="row" class="min-width">
                  <%= sent_email.mailer_type %>
                </td>
                <td scope="row" class="min-width">
                  <%= sent_email.category %>
                </td>
                <td class="min-width">
                  <%= sent_email.user.display_name %> &lt;<%= sent_email.sent_address %>&gt;
                </td>
                <td>
                  <%= to_user_timezone(sent_email.created_at).strftime("%l:%M%P %d %b %Y") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
