<h1><%= title %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= form_with(model: [hearing_type, checklist_item], local: true) do |form| %>
      <div class="field form-group">
        <%= form.label :category %>
        <%= form.text_field :category, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control" %>
      </div>
      <div class="field form-group">
        <div class="form-check">
          <%= form.check_box :mandatory, class: 'form-check-input' %>
          <%= form.label :mandatory, class: 'form-check-label' %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit t("button.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
