<div class="pt-30">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-30">
        <h1><%= title %></h1>
      </div>
    </div>
  </div>
</div>

<!-- ========== card start ========== -->
<div class="card-style">
  <%= form_with(model: [hearing_type, checklist_item], local: true) do |form| %>
    <div class="danger-alert">
      <%= render "/shared/error_messages", resource: checklist_item %>
    </div>
    <div class="input-style-1">
      <%= form.label :category %>
      <%= form.text_field :category, class: "form-control", required: true %>
    </div>
    <div class="select-style-1">
      <%= form.label :description %>
      <%= form.text_field :description, class: "form-control", required: true %>
    </div>
    <div class="checkbox-style mb-20">
      <%= form.check_box :mandatory, class: 'form-check-input' %>
      <%= form.label :mandatory, "Mandatory" %>
    </div>
    <%= button_tag(type: "submit", class: "btn-sm main-btn primary-btn btn-hover") do %>
      <i class="lni lni-checkmark-circle mr-10"></i> Submit
    <% end %>
  <% end %>
</div>
<!-- card end -->
