<h1><%= title %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= form_with(model: other_duty, local: true) do |form| %>
    <%= render "/shared/error_messages", resource: other_duty %>
      <div class="field occurred-at form-group">
        <h5><%= form.label :occurred_at, t(".occurred_on") %></h5>
        <% occurred_at = @other_duty.occurred_at || Time.zone.now %>
        <%= form.text_field :occurred_at,
                            value: occurred_at.to_date,
                            data: {provide: "datepicker", date_format: "yyyy/mm/dd"},
                            class: "form-control label-font-weight" %>
      </div>

      <div class="form-group duration">
        <h5><%= form.label :duration_meeting, t(".duration_meeting") %></h5>
        <div class="form-group duration-hours inline-fields">
          <%= form.number_field :duration_hours,
                              min: 0,
                              class: "inline-fields cc-field",
                              size: "10",
                              value: duration_hours(other_duty),
                              required: true %> &nbsp; <span class="label-font-weight"> hour(s)</span>
        </div>
        <div class="inline-fields pr-7">and</div>
        <div class="form-group duration-minutes inline-fields">
          <%= form.number_field :duration_minutes,
                                min: 0,
                                class: "inline-fields cc-field",
                                size: "10",
                                value: duration_minutes(other_duty),
                                required: true %> &nbsp; <span class="label-font-weight"> minute(s)</span>
        </div>
      </div>

      <div class="field notes form-group field-card">
        <h2><%= form.label :notes, t(".enter_notes") %></h2>

        <%= form.text_area :notes, :rows => 5, placeholder: t(".enter_notes_placeholder"),
class: "cc-italic form-control" %>
      </div>

      <div class="actions">
        <%= form.submit t("button.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
