<h1>Feature Flags</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @feature_flags.each do |feature_flag| %>
      <tr>
        <td><%= feature_flag.name %></td>
        <td>
          <div class="form-check form-switch">
            <%= form_for([:all_casa_admins, feature_flag], url: all_casa_admins_feature_flag_path(feature_flag)) do |f| %>
              <%= f.check_box :enabled, class: "form-check-input", role: "switch"%>
              <label class="form-check-label" for="<%= f.object_name %>"><%= f.label :enabled %></label>
              <%= f.hidden_field :enabled, value: "false", id: "hidden_submit" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



