<div class="d-flex align-items-center pt-30">
  <h2>Reimbursement Queue</h2>
  <div class="btn-group ml-3">
    <%= form_with url: mileage_reports_path(format: :csv), method: :get do |f| %>
      <%= f.submit(
        "Download Mileage Report",
        class: "btn-sm main-btn primary-btn btn-hover",
        data: {disable_with: "Downloading Mileage Report"}
      ) %>
    <% end %>
  </div>
</div>

<hr>

<div class="row my-4">
  <div class="col-sm-12">
    <h4 class="pull-left mr-2">
      Filter By
    </h4>
    <!-- Volunteer filter -->
    <div class="pull-left mr-2 w-25" data-filter="volunteer">
      <select class="form-control select2 creator_ids" multiple="true" data-placeholder="Volunteer">
        <% @volunteers_for_filter.each do |volunteer| %>
          <option value="<%= volunteer[0] %>"><%= volunteer[1] %></option>
        <% end %>
      </select>
    </div>
    <!-- Occurred at filter -->
    <div class="dropdown pull-left mr-2" data-filter="occurred_at">
      <%= render partial: "filter_trigger", locals: { title: "Occurred at" } %>
      <div class="dropdown-menu">
        <%= render partial: "occurred_at_filter_input", locals: {
          label: "Starting from",
          name: :occurred_at_starting
        } %>
        <%= render partial: "occurred_at_filter_input", locals: {
          label: "Ending at",
          name: :occurred_at_ending
        } %>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs mb-20" id="nav-tab" role="tablist">
  <li class="nav-item">
    <%= link_to "Needs Review", reimbursements_path(status: "needs_review"),
                class: "nav-link #{active_if(!@complete_status)}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Reimbursement Complete", reimbursements_path(status: "complete"),
                class: "nav-link #{active_if(@complete_status)}" %>
  </li>
</ul>

<%= render "datatable" %>
