<%= link_to t("button.back"), :back %>

<h1><%= title %></h1>

<div class="card card-container">
  <div class="card-body">
    <%= form_with(model: contact_type_group, local: true) do |form| %>
      <%= render "/shared/error_messages", resource: contact_type_group %>

      <div class="field form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= form.check_box :active %>
        <%= form.label :active %>
      </div>

      <div class="actions">
        <%= form.submit t("button.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
