<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
  </div>
</div><!-- ==== end title ==== -->

<div class="card-style mb-30">
  <%= form_with(model: contact_type_group, local: true) do |form| %>
    <div class="alert-box danger-alert">
      <%= render "/shared/error_messages", resource: contact_type_group %>
    </div>

    <div class="input-style-1">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-check checkbox-style mb-20">
      <%= form.check_box :active, class: 'form-check-input' %>
      <%= form.label :active, "Active", class: 'form-check-label' %>
    </div>

    <div class="actions mb-10">
      <%= form.submit "Submit", class: "main-btn primary-btn btn-hover" %>
    </div>
  <% end %>
</div>
<!-- card end -->
