<div class="title-wrapper pt-30">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="title mb-30">
        <h1>
          <%= title %>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="card-style mb-30">
  <%= form_with(model: hearing_type, local: true) do |form| %>
    <%= render "/shared/error_messages", resource: hearing_type %>
    <div class="input-style-1">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="form-check checkbox-style mb-20">
      <%= form.check_box :active, class: 'form-check-input' %>
      <%= form.label :active, class: 'form-check-label' %>
    </div>
    <% if !hearing_type.id.nil? %>
      <div class="dashboard-table-header pt-2 pb-2">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h3>Checklist</h3>
          </div>
          <!-- end col -->
          <div class="col-md-6">
            <div class="breadcrumb-wrapper">
              <span class="ml-5">
                <%= link_to new_hearing_type_checklist_item_path(hearing_type), class: "btn-sm main-btn primary-btn btn-hover" do %>
                  <i class="lni lni-plus mr-10"></i>
                  New List Item
                <% end %>
              </span>
            </div>
          </div>
          <!-- end col -->
        </div>
      </div>
      <!-- end table title -->
      <div class="table-wrapper table-responsive">
        <table class="table striped-table" id="checklist_items">
          <thead>
            <tr>
              <th>Description</th>
              <th>Category</th>
              <th>Mandatory</th>
              <th>Actions</th>
            </tr>
            <!-- end table row-->
          </thead>
          <tbody>
            <% hearing_type.checklist_items.each do |checklist_item| %>
              <tr id="checklist_item-<%= checklist_item.id %>">
                <td class="min-width">
                  <%= checklist_item.description %>
                </td>
                <td class="min-width">
                  <%= checklist_item.category %>
                </td>
                <td class="min-width">
                  <%= checklist_item.mandatory ? "Yes" : "Optional" %>
                </td>
                <td>
                  <%= link_to edit_hearing_type_checklist_item_path(hearing_type, checklist_item) do %>
                    <div class="action">
                      <button class="text-danger">
                        <i class="lni lni-pencil-alt"></i> Edit
                      </button>
                    </div>
                  <% end %>
                  <%= link_to hearing_type_checklist_item_path(hearing_type, checklist_item),
                    method: :delete, data: { confirm: "Are you sure that you want to delete this checklist item?" } do %>
                    <div class="action">
                      <button class="text-danger">
                        <i class="lni lni-trash-can"></i> Delete
                      </button>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <!-- end table -->
      </div>
    <% end %>
    <div class="actions mb-10">
      <%= button_tag(
            type: "submit",
            class: "btn-sm main-btn primary-btn btn-hover"
          ) do %>
          <i class="lni lni-checkmark-circle mr-10"></i> Submit
      <% end %>
    </div>
  <% end %>
</div>
