<h1>Export Data</h1>

<div class="card card-container my-4">
  <div class="card-body">
    <div class="btn-group">
      <%= form_with url: mileage_reports_path(format: :csv), method: :get do |f| %>
          <%= f.submit "Mileage Report", class: "btn btn-primary report-form-submit",
          data: {disable_with: "Downloading Mileage Report"} %>
      <% end %>
    </div>

    <div class="btn-group">
      <%= form_with url: missing_data_reports_path(format: :csv), method: :get do |f| %>
        <%= f.submit "Missing Data Report", class: "btn btn-primary report-form-submit" %>
      <% end %>
    </div>

    <div class="btn-group">
      <%= form_with url: learning_hours_reports_path(format: :csv), method: :get do |f| %>
        <%= f.submit "Learning Hours Report", class: "btn btn-primary report-form-submit" %>
      <% end %>
    </div>

    <div class="btn-group">
      <%= form_with url: export_emails_path(format: :csv), method: :get do |f| %>
        <%= f.submit "Export Volunteers Emails", class: "btn btn-primary report-form-submit" %>
      <% end %>
    </div>

    <div class="btn-group">
      <%= form_with url: followup_reports_path(format: :csv), method: :get do |f| %>
        <%= f.submit "Followups Report", class: "btn btn-primary report-form-submit" %>
      <% end %>
    </div>
  </div>
</div>

<div class="card card-container">
  <div class="card-body">
    <h5 class="card-title"><strong><%= "Case Contacts Report" %></strong></h5>
    <p class="card-text">
      <%= "This CSV is a listing of all fields for the case contacts of all volunteers. Select the start and end date." %>
    </p>

    <hr>

    <%= form_with url: case_contact_reports_path(format: :csv), scope: 'report', method: :get, local: true do |f| %>
      <div class="field form-group">
        <label><strong>Starting From:</strong></label>
        <%= f.text_field :start_date, value: 6.months.ago.strftime(::DateHelper::RUBY_MONTH_DAY_YEAR_FORMAT),
                                      data: { provide: "datepicker",
                                      date_format: ::DateHelper::JQUERY_MONTH_DAY_YEAR_FORMAT },
                                      class: "form-control" %>
      </div>

      <div class="field form-group">
        <label><strong>Ending At:</strong></label>
        <%= f.text_field :end_date, value: Date.today.strftime(::DateHelper::RUBY_MONTH_DAY_YEAR_FORMAT),
                                    data:{ provide: "datepicker",
                                    date_format: ::DateHelper::JQUERY_MONTH_DAY_YEAR_FORMAT },
                                    class: "form-control" %>
      </div>

      <% if current_user&.casa_admin? || current_user&.supervisor? %>
        <div class="field form-group">
          <label><strong>Assigned To:</strong></label>
          <%= f.collection_select(
                  :supervisor_ids,
                  Supervisor.where(casa_org: current_user.casa_org),
                  :id, :display_name,
                  {include_hidden: false},
                  {class: "form-control select2",
                   data: {placeholder: "-Select Supervisors-"},
                   multiple: true}
              ) %>
        </div>

        <div class="field form-group">
          <label><strong>Volunteers</strong></label>
          <%= f.collection_select(
                  :creator_ids,
                  Volunteer.where(casa_org: current_user.casa_org),
                  :id,
                  :display_name,
                  {include_hidden: false},
                  {class: "form-control select2", data: {placeholder: "-Select Volunteers-"},
multiple: true}
              ) %>
        </div>

        <div class="field form-group">
          <label><strong>Contact Type:</strong></label>
          <%= f.collection_select(
                  :contact_type_ids,
                  ContactType.for_organization(current_user.casa_org),
                  :id,
                  :name,
                  {include_hidden: false},
                  {class: "form-control select2", data: {placeholder: "-Select Contact Types-"},
multiple: true}
              ) %>
        </div>

        <div class="field form-group">
          <label><strong>Contact Type Group:</strong></label>
          <%= f.collection_select(
                  :contact_type_group_ids,
                  ContactTypeGroup.for_organization(current_user.casa_org),
                  :id,
                  :name,
                  {include_hidden: false},
                  {class: "form-control select2", data: {placeholder: "-Select Contact Type Groups-"},
multiple: true}
              ) %>
        </div>

        <div class="field form-group">
          <label><strong>Casa Case Numbers:</strong></label>
          <%= f.collection_select(
                  :casa_case_ids,
                  CasaCase.by_organization(current_user.casa_org),
                  :id,
                  :case_number,
                  {include_hidden: false},
                  {class: "form-control select2", data: {placeholder: "-Select Casa Case Numbers-"},
multiple: true}
              ) %>
        </div>

        <div class="field form-group">
          <label><strong>Want Driving Reimbursement:</strong></label>
          <%= f.collection_radio_buttons :want_driving_reimbursement, boolean_choices, :last, :first do |b| %>
            <div class="form-check">
              <%= b.radio_button(class: "form-check-input") %>
              <%= b.label(class: "form-check-label") %>
            </div>
          <% end %>
        </div>

        <div class="field form-group">
          <label><strong>Contact Made:</strong></label>
          <%= f.collection_radio_buttons :contact_made, boolean_choices, :last, :first do |b| %>
            <div class="form-check">
              <%= b.radio_button(class: "form-check-input") %>
              <%= b.label(class: "form-check-label") %>
            </div>
          <% end %>
        </div>

        <div class="field form-group">
          <label><strong>Transition Aged Youth:</strong></label>
          <%= f.collection_radio_buttons :has_transitioned, boolean_choices, :last, :first do |b| %>
            <div class="form-check">
              <%= b.radio_button(class: "form-check-input") %>
              <%= b.label(class: "form-check-label") %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= render 'filter', form: f %>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#filterColumns">
        Filter Columns
      </button>

      <%= f.submit "Download Report", class: "btn btn-primary", data: {disable_with: false} %>
    <% end %>

  </div>
</div>
