<div class="title-wrapper pt-30">
  <div class="row align-items-center">

    <div class="col-md-6">
      <div class="title mb-30">
        <h2>Export Data</h2>
      </div>
    </div>

    <div class="col-md-6">
      <div class="breadcrumb-wrapper mb-30">
        <span class="ml-5">
          <div class="btn-sm main-btn primary-btn">
            <%= form_with url: mileage_reports_path(format: :csv), method: :get do |f| %>
                <%= f.submit "Mileage Report", class: "btn btn-primary report-form-submit",
                data: {disable_with: "Downloading Mileage Report"} %>
            <% end %>
          </div>
        </span>

        <span class="ml-5">
          <div class="btn-sm main-btn primary-btn">
            <%= form_with url: missing_data_reports_path(format: :csv), method: :get do |f| %>
              <%= f.submit "Missing Data Report", class: "btn btn-primary report-form-submit" %>
            <% end %>
          </div>
        </span>

        <span class="ml-5">
          <div class="btn-sm main-btn primary-btn">
            <%= form_with url: learning_hours_reports_path(format: :csv), method: :get do |f| %>
              <%= f.submit "Learning Hours Report", class: "btn btn-primary report-form-submit" %>
            <% end %>
          </div>
        </span>

        <span class="ml-5">
          <div class="btn-sm main-btn primary-btn">
            <%= form_with url: export_emails_path(format: :csv), method: :get do |f| %>
              <%= f.submit "Export Volunteers Emails", class: "btn btn-primary report-form-submit" %>
            <% end %>
          </div>
        </span>

        <span class="ml-5">
          <div class="btn-sm main-btn primary-btn">
            <%= form_with url: followup_reports_path(format: :csv), method: :get do |f| %>
              <%= f.submit "Followups Report", class: "btn btn-primary report-form-submit" %>
            <% end %>
          </div>
        </span>
      </div>
    </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card-style mb-30">
            <h6 class="mb-10">Case Contacts Report</h6>
            <p class="text-sm mb-20">
              This CSV is a listing of all fields for the case contacts of all volunteers. Select the start and end date.
            </p>

            <hr>

            <div class="table-wrapper table-responsive">
              <%= form_with url: case_contact_reports_path(format: :csv), scope: 'report', method: :get, local: true do |f| %>

                <div class="field form-group mb-20">
                  <label class="form-label"><h6>Starting From</h6></label>
                  <%= f.text_field :start_date, value: 6.months.ago.strftime(::DateHelper::RUBY_MONTH_DAY_YEAR_FORMAT),
                                                data: { provide: "datepicker",
                                                date_format: ::DateHelper::JQUERY_MONTH_DAY_YEAR_FORMAT },
                                                class: "form-control" %>
                </div>

                <div class="field form-group mb-20">
                  <label class="form-label"><h6>Ending At</h6></label>
                  <%= f.text_field :end_date, value: Date.today.strftime(::DateHelper::RUBY_MONTH_DAY_YEAR_FORMAT),
                                              data:{ provide: "datepicker",
                                              date_format: ::DateHelper::JQUERY_MONTH_DAY_YEAR_FORMAT },
                                              class: "form-control" %>
                </div>

                <% if current_user&.casa_admin? || current_user&.supervisor? %>
                  <div class="select-style-1">
                    <label><h6>Assigned To</h6></label>
                    <div class="select-position">
                      <%= f.collection_select(
                              :supervisor_ids,
                              Supervisor.where(casa_org: current_user.casa_org),
                              :id, :display_name,
                              {include_hidden: false},
                              {class: "form-control  select-style-1",
                              data: {placeholder: "-Select Supervisors-"}}
                          ) %>
                    </div>
                  </div>

                  <div class="select-style-1">
                    <label><h6>Volunteers</h6></label>
                    <div class="select-position">
                      <%= f.collection_select(
                              :creator_ids,
                              Volunteer.where(casa_org: current_user.casa_org),
                              :id,
                              :display_name,
                              {include_hidden: false},
                              {class: "form-control", data: {placeholder: "-Select Volunteers-"}}
                          ) %>
                    </div>
                  </div>

                  <div class="select-style-1">
                    <label><h6>Contact Type</h6></label>
                    <div class="select-position">
                    <%= f.collection_select(
                            :contact_type_ids,
                            ContactType.for_organization(current_user.casa_org),
                            :id,
                            :name,
                            {include_hidden: false},
                            {class: "form-control", data: {placeholder: "-Select Contact Types-"}}
                        ) %>
                    </div>
                  </div>

                  <div class="select-style-1">
                    <label><h6>Contact Type Group</h6></label>
                    <div class="select-position">
                          <%= f.collection_select(
                                  :contact_type_group_ids,
                                  ContactTypeGroup.for_organization(current_user.casa_org),
                                  :id,
                                  :name,
                                  {include_hidden: false},
                                  {class: "form-control", data: {placeholder: "-Select Contact Type Groups-"}}
                              ) %>
                    </div>
                  </div>

                  <h6 class="mb-10">Want Driving Reimbursement</h6>
                  <div class="form-check radio-style mb-10">
                    <%= f.collection_radio_buttons :want_driving_reimbursement, boolean_choices, :last, :first do |b| %>
                      <div class="form-check">
                        <%= b.radio_button(class: "form-check-input") %>
                        <%= b.label(class: "form-check-label") %>
                      </div>
                    <% end %>
                  </div>

                  <h6 class="mb-10">Contact Made</h6>
                  <div class="form-check radio-style mb-20">
                    <%= f.collection_radio_buttons :contact_made, boolean_choices, :last, :first do |b| %>
                      <div class="form-check">
                        <%= b.radio_button(class: "form-check-input") %>
                        <%= b.label(class: "form-check-label") %>
                      </div>
                    <% end %>
                  </div>

                  <h6 class="mb-10">Transition Aged Youth</h6>
                  <div class="form-check radio-style mb-20">
                    <%= f.collection_radio_buttons :has_transitioned, boolean_choices, :last, :first do |b| %>
                      <div class="form-check">
                        <%= b.radio_button(class: "form-check-input") %>
                        <%= b.label(class: "form-check-label") %>
                      </div>
                    <% end %>
                  </div>
                <% end %>

                <%= render 'filter', form: f %>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#filterColumns">
                  Filter Columns
                </button>

                <%= f.submit "Download Report", class: "btn btn-primary", data: {disable_with: false} %>
              <% end %>
            </div>

          </div>
        </div>
    </div>

  </div>
</div>
