<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-6">
        <div class="header-left d-flex align-items-center">
          <div class="menu-toggle-btn mr-20">
            <button
              id="menu-toggle"
              class="main-btn secondary-btn btn-hover">
              <i class="lni lni-chevron-left me-2"></i> Menu
            </button>
          </div>
        </div>
      </div>
      
      <div class="col-lg-7 col-md-7 col-6">
        <div class="header-right">
          <!-- notification start -->
          <!-- message start -->

          <div class="header-message-box ml-15 d-none d-md-flex">
            <%= link_to notifications_path do %>

              <button
                class="dropdown-toggle"
                type="button"
                id="message"
                data-bs-toggle="dropdown"
                aria-expanded="false">

                <i class="lni lni-envelope"></i>
                <% notifications = current_user.notifications.unread.count %>
                <% if notifications > 0 %>
                  <span><%= notifications %></span>
                <% end %>
              </button>
            <% end %>

          </div>

          <div class="profile-box ml-15">
            <button
              class="dropdown-toggle bg-transparent border-0"
              type="button"
              id="profile"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="profile-info">
                <div class="info">
                  <h6><%= current_user.display_name %>
                  </h6>
                  <div class="image">
                    <img
                      src=<%= "/assets/images/profile/profile-image-#{rand(8) + 1}.png" %>>
                  </div>
                </div>
              </div>
              <i class="lni lni-chevron-down"></i>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="profile">
              <li>
                <a href="#0">
                  <strong>Role: <%= current_role %></strong>
                </a>
              </li>
              <li>
                <a href="#0">
                  <strong> <%= current_user.email %></strong>
                </a>
              </li>
              <li>
                <%= link_to edit_users_path do %>
                  <i class="lni lni-pencil"></i>
                  Edit Profile
                <% end %>
              </li>
              <li>
                <%= link_to notifications_path do %>
                  <i class="lni lni-envelope"></i>
                  Messages
                <% end %>
              </li>
              <li>
                <a href="#0"> <i class="lni lni-cog"></i> Edit Organization </a>
              </li>
              <li>
                <%= link_to destroy_user_session_path do %>
                  <i class="lni lni-exit"></i>
                  Sign Out
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
