<div id="sidebar-js" class="sidebar-wrapper">
  <div class="sidebar-heading text-center">
    <% if all_casa_admin_signed_in? || !current_organization.logo.attached? %>
      <%= link_to image_tag("default-logo.png",
                         id: "casa-logo",
                         alt: "CASA Logo",
                         class: "d-inline-block align-text-bottom"),
                         "/" %>
    <% else %>
      <% if current_organization.logo.variable? %>
        <%= link_to image_tag(current_organization.logo.variant(resize_to_limit: [200, 100]),
                      alt: "CASA Logo"),
                      "/" %>
      <% else %>
        <%= link_to image_tag(current_organization.logo,
                      width: 200,
                      height: 100,
                      alt: "CASA Logo"),
                      "/" %>
      <% end %>
    <% end %>
  </div>
  <div class="sidebar-container">
    <div class="sidebar-menu">
      <div class="list-group list-group-flush">
        <% if user_signed_in? %>
          <%= menu_item(label: inbox_label, path: notifications_path) %>
          <%= menu_item(label: "Supervisors", path: supervisors_path, visible: policy(Supervisor).index?) %>
          <%= menu_item(label: "Volunteers", path: volunteers_path, visible: policy(Volunteer).index?) %>
          <%= menu_item(label: "Other Duties", path: other_duties_path, visible: policy(OtherDuty).index?) %>
          <%= menu_item(label: cases_index_title, path: casa_cases_path) %>
          <% if current_user.volunteer? %>
            <%= menu_item(label: "Case Contacts", path: case_contacts_path) %>
            <%= menu_item(label: "Learning Hours",
            path: volunteer_learning_hours_path(volunteer_id: current_user.id || 0)) %>
          <% end %>
          <% if current_user.serving_transition_aged_youth? %>
            <%= menu_item(label: "Emancipation Checklist(s)", path: emancipation_checklists_path) %>
          <% end %>
          <%= menu_item(label: "Admins", path: casa_admins_path, visible: policy(CasaAdmin).index?) %>
        <% elsif all_casa_admin_signed_in? %>
          <%= menu_item(label: "Patch Notes", path: all_casa_admins_patch_notes_path) %>
        <% end %>
      </div>
    </div>
    <div class="sidebar-footer">
      <div class="list-group list-group-flush account-details">
        <li class="list-group-item">
          <span class="label">Location</span>
          <span class="value"><%= page_header %></span>
        </li>
        <li class="list-group-item">
          <span class="label">Role</span>
          <span class="value"><%= current_role %></span>
        </li>
      </div>
      <div class="list-group list-group-flush footer-nav">
        <% if user_signed_in? %>
          <%= link_to "Edit Profile", edit_users_path, class: "list-group-item" %>
          <% if policy(:application).see_court_reports_page? %>
            <%= link_to "Generate Court Reports", case_court_reports_path, class: "list-group-item" %>
          <% end %>
          <% if policy(:reimbursement).see_reports_page? %>
            <%= link_to "Reimbursement Queue", reimbursements_path, class: "list-group-item" %>
          <% end %>
          <% if policy(:application).see_reports_page? %>
            <%= link_to "Export Data", reports_path, class: "list-group-item" %>
          <% end %>
          <% if policy(:application).see_import_page? %>
            <%= link_to "System Imports", imports_path, class: "list-group-item" %>
          <% end %>
          <% if policy(:application).see_mileage_rate? %>
            <%= link_to "Mileage Rates", mileage_rates_path, class: "list-group-item" %>
          <% end %>
          <% if policy(:application).modify_organization? %>
            <%= link_to "Edit Organization", edit_casa_org_path(current_organization), class: "list-group-item" %>
          <% end %>
          <li class="list-group-item">
            <strong><%= current_user.display_name %></strong>
            <%= current_user.email %>
          </li>
        <% end %>
        <% if all_casa_admin_signed_in? %>
          <li class="list-group-item">
            <%= current_all_casa_admin.email %>
          </li>
          <%= link_to "Edit Profile", edit_all_casa_admins_path, class: "list-group-item" %>
        <% end %>
        <% if current_user != true_user %>
          <%= link_to stop_impersonating_volunteers_path, method: :post, class: "list-group-item" do %>
              You (<%= true_user.display_name %>) are signed in as <%= current_user.display_name %>.
              Click here to stop impersonating.
          <% end %>
        <% end %>
        <%= session_link %>
        <div id="mobile-space"></div>
      </div>
    </div>
  </div>
</div>
