<div id="sidebar-wrapper">
  <div class="sidebar-heading">
    <% if all_casa_admin_signed_in? %>
      <%= image_pack_tag("media/src/images/default-logo.png",
          alt: "CASA Logo",
          class: "d-inline-block align-text-bottom") %>
    <% else %>
      <%= image_pack_tag(current_organization.logo_url,
          alt: current_organization.logo_alt_text || "CASA Logo",
          class: "d-inline-block align-text-bottom") %>
    <% end %>
  </div>
  <div class="sidebar-container">
    <div class="sidebar-menu">
      <div class="list-group list-group-flush">
        <%= menu_item(label: "Case Contacts", path: case_contacts_path) %>
      </div>
    </div>
    <div class="sidebar-footer">
      <div class="list-group list-group-flush account-details">
        <li class="list-group-item">
          <span class="label">Location</span>
          <span class="value"><%= page_header %></span>
        </li>
        <li class="list-group-item">
          <span class="label">Role</span>
          <span class="value">Supervisor</span>
        </li>
      </div>
      <div class="list-group list-group-flush footer-nav">
        <% if current_user %>
          <%= link_to "Edit Profile", edit_users_path, class: "list-group-item" %>

          <% if policy(:application).see_reports_page? %>
            <%= link_to "Generate Reports", reports_path, class: "list-group-item" %>
          <% end %>
          <% if policy(:application).see_import_page? %>
            <%= link_to "System Imports", imports_path, class: "list-group-item" %>
          <% end %>
          <% if policy(:application).modify_organization? %>
            <%= link_to "Edit Organization", edit_casa_org_path(current_organization), class: "list-group-item" %>
          <% end %>
          <li class="list-group-item">
            <%= current_user.email %>
          </li>
        <% end %>

        <% if current_all_casa_admin %>
          <li class="list-group-item">
            <%= current_all_casa_admin.email %>
            <%= link_to "Edit Profile", edit_all_casa_admins_path %>
          </li>
        <% end %>
        <%= session_link %>
      </div>
    </div>
  </div>
</div>