<div id="sidebar-wrapper">
  <div class="sidebar-heading">
    <%= image_pack_tag(@casa_org.logo_url,
    alt: @casa_org.logo_alt_text || "CASA Logo",
    class: "d-inline-block align-text-bottom") if @casa_org.logo_url %>
  </div>
  <div class="sidebar-container">
    <% if current_user %>
    <div class="sidebar-menu">
        <div class="list-group list-group-flush">
        <%= link_to "Edit Profile", edit_users_path, class: "list-group-item" %>
        <% if policy(:application).see_reports_page? %>
          <%= link_to "Generate Reports", reports_path, class: "list-group-item" %>
        <% end %>
        <% if policy(:application).see_import_page? %>
          <%= link_to "System Imports", imports_path, class: "list-group-item" %>
        <% end %>
        <% if policy(:application).modify_organization? %>
          <%= link_to "Edit Organization", edit_casa_org_path(current_organization), class: "list-group-item" %>
        <% end %>
        </div>
    </div>
    <div class="sidebar-footer">
      <div class="list-group list-group-flush">
        <% if current_all_casa_admin %>
          <%= current_all_casa_admin.email %>
          <%= link_to "Edit Profile", edit_all_casa_admins_path, class: "list-group-item" %>
        <% end %>
        <%= current_user.email %>
      </div>
    </div>
    <% end %>
    <%= session_link %>
  </div>
</div>