<aside class="sidebar-nav-wrapper">
  <div class="navbar-logo">
    <% if current_organization&.logo&.attached? %>
      <%= link_to image_tag(current_organization.logo,
                            style: "max-width: 200px;",
                            alt: "CASA Logo"),
                  "/" %>
    <% else %>
      <%= link_to image_tag("default-logo.png",
                            id: "casa-logo",
                            alt: "CASA Logo",
                            class: "d-inline-block align-text-bottom"),
                  "/" %>
    <% end %>
  </div>
  <nav class="sidebar-nav">
    <nav class="sidebar-nav">
      <ul>
        <% if policy(Supervisor).index? %>
          <li class="<%= active_class(supervisors_path) %> nav-item">
            <%= link_to supervisors_path do %>
              <i class="lni lni-network mr-10"></i>
              Supervisors
            <% end %>
          </li>
        <% end %>
        <% if policy(Volunteer).index? %>
          <li class="<%= active_class(volunteers_path) %> nav-item">
            <%= link_to volunteers_path do %>
              <i class="lni lni-heart-filled mr-10"></i>
              Volunteers
            <% end %>
          </li>
        <% end %>
        <% if current_user.casa_admin? || current_user.supervisor? %>
          <%= render partial: "layouts/other_duties_nav_item" %>
        <% end %>

       <% if policy(:application).see_banner_page? %>
          <li class="<%= active_class(casa_admins_path) %> nav-item">
            <%= link_to banners_path, class: "#{active_class(banners_path)}" do %>
              <i class="lni lni-flag mr-10"></i>
              Banners
            <% end %>
          </li>
        <% end %>
        
        <% if !policy(Volunteer).index? %>
          <li class="nav-item nav-item-has-children">
            <a
              href="#0"
              class="collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#ddmenu_cases"
              aria-controls="ddmenu_cases"
              aria-expanded="true"
              aria-label="Toggle navigation">
                <span class="icon">
                  <i class="lni lni-folder mr-10"></i>
                </span>
              <span class="text"><%= cases_index_title %></span>
            </a>
            <%= render partial: 'shared/sidebar_dropdown', locals: { all_link_path: casa_cases_path, dropdown_id: "ddmenu_cases", link_generator: method(:edit_casa_case_path) } %>
          </li>
        <% end %>

        <% if policy(Volunteer).index? %>
          <li class="<%= active_class(casa_cases_path) %> nav-item">
            <%= link_to casa_cases_path do %>
              <i class="lni lni-folder mr-10"></i>
              <%= cases_index_title %>
            <% end %>
          </li>
        <% end %>

        <% if policy(CasaAdmin).index? %>
          <li class="<%= active_class(casa_admins_path) %> nav-item">
            <%= link_to casa_admins_path do %>
              <i class="lni lni-star-filled mr-10"></i>
              Admins
            <% end %>
          </li>
        <% end %>
        <% if all_casa_admin_signed_in? %>
          <li class="nav-item">
            <%= link_to all_casa_admins_patch_notes_path do %>
              <i class="lni lni-notepad mr-10"></i>
              Patch Notes
            <% end %>
          </li>
        <% end %>
        <% if current_user.volunteer? %>
          <li class="nav-item nav-item-has-children">
            <a
              href="#0"
              class="collapsed"
              data-bs-toggle="collapse"
              data-bs-target="#ddmenu_case_contacts"
              aria-controls="ddmenu_case_contacts"
              aria-expanded="true"
              aria-label="Toggle navigation">
                <span class="icon">
                  <i class="lni lni-users mr-10"></i>
                </span>
              <span class="text">Case Contacts</span>
            </a>
            <%= render partial: 'shared/sidebar_dropdown', locals: { all_link_path: case_contacts_path, dropdown_id: "ddmenu_case_contacts", link_generator: method(:get_case_contact_link) } %>
          </li>
          <li class="<%= active_class(volunteer_learning_hours_path(volunteer_id: current_user.id || 0)) %> nav-item">
            <%= link_to volunteer_learning_hours_path(volunteer_id: current_user.id || 0) do %>
              <i class="lni lni-timer mr-10"></i>
              Learning Hours
            <% end %>
          </li>
        <% end %>
        <% if current_user.serving_transition_aged_youth? %>
          <li class="<%= active_class(emancipation_checklists_path) %> nav-item">
            <%= link_to emancipation_checklists_path do %>
              <i class="lni lni-list mr-10"></i>
              Emancipation Checklist(s)
            <% end %>
          </li>
        <% end %>
        <% if current_user.volunteer? %>
          <%= render partial: "layouts/other_duties_nav_item" %>
        <% end %>
        <li class="nav-item nav-item-has-children">
          <a
            href="#0"
            class="collapsed"
            class="group-actions"
            data-bs-toggle="collapse"
            data-bs-target="#ddmenu_55"
            aria-controls="ddmenu_55"
            aria-expanded="true"
            aria-label="Toggle navigation">
              <span class="icon">
                <i class="lni lni-list mr-10"></i>
              </span>
            <span class="text">Group Actions</span>
          </a>
          <ul id="ddmenu_55" class="collapse dropdown-nav">
            <% if policy(:application).see_court_reports_page? %>
              <li>
                <%= link_to case_court_reports_path, class: "#{active_class(case_court_reports_path)}" do %>
                  <i class="lni lni-paperclip mr-10"></i>
                  Generate Court Reports
                <% end %>
              </li>
            <% end %>

            <% if policy(:reimbursement).index? %>
              <li>
                <%= link_to reimbursements_path, class: "#{active_class(reimbursements_path)}" do %>
                  <i class="lni lni-money-location mr-10"></i>
                  Reimbursement Queue
                <% end %>
              </li>
            <% end %>

            <% if policy(:application).see_reports_page? %>
              <li>
                <%= link_to reports_path, class: "#{active_class(reports_path)}" do %>
                  <i class="lni lni-folder mr-10"></i>
                  Export Data
                <% end %>
              </li>
            <% end %>

            <% if policy(:application).see_import_page? %>
              <li>
                <%= link_to imports_path, class: "#{active_class(imports_path)}" do %>
                  <i class="lni lni-archive mr-10"></i>
                  System Imports
                <% end %>
              </li>
            <% end %>

            <% if policy(:application).see_mileage_rate? %>
              <li>
                <%= link_to mileage_rates_path, class: "#{active_class(mileage_rates_path)}" do %>
                  <i class="lni lni-car mr-10"></i>
                  Mileage Rates
                <% end %>
              </li>
            <% end %>

            <% if policy(:application).modify_organization? %>
              <li>
                <%= link_to edit_casa_org_path(current_organization), class: "#{active_class(edit_casa_org_path(current_organization))}" do %>
                  <i class="lni lni-cogs mr-10"></i>
                  Edit Organization
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <% if current_user != true_user %>
            <%= link_to stop_impersonating_volunteers_path, method: :post, class: "mr-10 ml-10" do %>
              You (<%= true_user.display_name %>) are signed in as <%= current_user.display_name %>.
              Click here to stop impersonating.
            <% end %>
          <% end %>

        </li>
      </ul>
    </nav>
  </nav>
</aside>
<div class="overlay"></div>
