<!DOCTYPE html>
<html>
  <head>
    <title>PG CASA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-brand">
            <strong><%= page_header %></strong>
          </li>
        </ul>
        <%= edit_profile_link %>
      </div>

      <div class="navbar-nav">
        <%= session_link %>
      </div>
    </nav>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
