<!DOCTYPE html>
<html>
  <head>
    <title>PG CASA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/favicons' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if all_casa_admin_signed_in? %>
      <%= javascript_pack_tag 'all_casa_admin', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'all_casa_admin', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>
  <body class="<%= body_class %>">
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <div class="header-flash">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %> alert-dismissible fade show" role="alert">
              <a href="#" class="close" data-dismiss="alert" aria-label="Close" style="text-decoration: none;">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
              <%= sanitize(value, tags: %w(ul li)) %>
            </div>
          <% end %>
        </div>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
