<!DOCTYPE html>
<html>
  <head>
    <title>PG CASA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/favicons' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= body_class %>">
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <div class="header-flash">
          <% if notice %>
            <p class="notice alert alert-success"><%= notice %></p>
          <% elsif alert %>
            <p class="notice alert alert-danger"><%= alert %></p>
          <% end %>
        </div>

        <div class="content">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
