<!DOCTYPE html>
<html>
<head>
  <title><%= translate('page.meta.title') %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="description" content="<%= translate('page.meta.description') %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= og_tag :title, content: translate('page.meta.title') %>
  <%= og_tag :description, content: translate('page.meta.description') %>
  <%= og_tag :url, content: root_url %>
  <%= og_tag :image, content: asset_pack_url('media/src/images/login.jpg') %>

  <%= render 'shared/favicons' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if all_casa_admin_signed_in? %>
    <%= javascript_pack_tag 'all_casa_admin', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'all_casa_admin', 'data-turbolinks-track': 'reload' %>
  <% end %>
</head>
<body class="<%= body_class %>">
  <noscript>
    <div style="color: #b71c1c; position:fixed; left: 50%; transform: translateX(-50%); background: #eee; padding: 0 1em;">
      <h2>
        <%= t(".javascript_instrucion.enable") %>
      </h2>
      <p>
        <%= t(".javascript_instrucion.require") %>
      </p>
    </div>
  </noscript>
<% if logged_in? %>
  <%= render 'layouts/mobile_navbar' %>
  <%= render 'layouts/sidebar' %>
  <div class="container-fluid">
    <div class="content">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/login_header' %>
  <%= render 'layouts/flash_messages' %>
  <%= yield %>
  <%= render 'layouts/footers/not_logged_in' %>
<% end %>
</div>
</body>
</html>
