<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Actionable emails e.g. reset password</title>

  <style type="text/css">
      img {
        max-width: 100%;
      }

      body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        width: 100% !important;
        height: 100%;
        line-height: 1.6em;

        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        box-sizing: border-box;
        font-size: 14px;
        background-color: #f6f6f6;
        margin: 0;
      }

      table, tbody, tr, td, br {
        box-sizing: border-box;
      }

      table.main-body {
        min-height: 150px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 100%;
        height: 100%;
        background-color: rgb(234, 236, 237);
      }

      table.container {
        font-family: Helvetica, serif;
        min-height: 150px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
        height: 0px;
        width: 90%;
        max-width: 550px;
      }

      td.container-cell {
        vertical-align: top;
        font-size: medium;
        padding-bottom: 50px;
      }

      table.c1766 {
        margin-top: 0px;
        margin-right: auto;
        background:#728089;
        margin-left: 0px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        width: 100%;
        min-height: 30px;
      }

      table.c1766.bg-white {
        background: #fff;
      }

      td.c1776.cell {
        width: 70%;
        vertical-align: middle;
      }

      .c1144 {
        box-sizing: border-box;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        color: #fff;
      }

      .text-center {
        text-align: center;
      }

      img.c926 {
        box-sizing: border-box;
        color: rgb(158, 83, 129);
        font-size: 50px;
        padding-top: 10px;
        background:#fff;
      }

      table.card {
        background: #fff;
        min-height: 150px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-bottom: 20px;
        height: 0px;
      }

      td.card-cell {
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        overflow-y: hidden;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        text-align: center;
      }

      table.c1357 {
        width: 100%;
        min-height: 150px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        height: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        border-collapse: collapse;
      }

      td.card-content {
        font-size: 13px;
        line-height: 20px;
        color: rgb(111, 119, 125);
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
        vertical-align: top;
      }

      table.footer {
        margin-top: 50px;
        color: rgb(152, 156, 165);
        text-align: center;
        font-size: 11px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
      }

      .c2577 {
        text-align: center;
        box-sizing: border-box;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
      }

      .footer-info {
        box-sizing: border-box;
      }

      @media only screen and (max-width: 640px) {
          body {
              padding: 0 !important;
          }

          h1 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h2 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h3 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h4 {
              font-weight: 800 !important;
              margin: 20px 0 5px !important;
          }

          h1 {
              font-size: 22px !important;
          }

          h2 {
              font-size: 18px !important;
          }

          h3 {
              font-size: 16px !important;
          }

          .container {
              padding: 0 !important;
              width: 100% !important;
          }

          .content {
              padding: 0 !important;
          }

          .content-wrap {
              padding: 10px !important;
          }

          .invoice {
              width: 100% !important;
          }
      }
  </style>
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<table class="main-body">
  <tbody>
  <tr class="row" valign="top">
    <td class="main-body-cell">
      <table class="container">
        <tbody>
        <tr>
          <td class="container-cell">
            <table class="c1766">
              <tbody>
              <tr>
                <td class="cell c1776">
                  <div class="c1144">Court
                    Appointed Special Advocate (CASA) / <%= @casa_organization.name %>
                    <br>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="c1766 bg-white">
              <tbody>
              <tr>
                <td class="cell c1776 text-center">
                  <img src="<%= @casa_organization.org_logo %>" alt="Logo" class="c926" height="265" width="260">
                </td>
              </tr>
              </tbody>
            </table>
            <table class="card">
              <tbody>
              <tr>
                <td class="card-cell">
                  <table class="table100 c1357">
                    <tbody>
                    <tr>
                      <td class="card-content">
                        <%= yield %>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <table class="footer">
              <tbody>
              <tr>
                <td class="footer-cell"></td>
              </tr>
              </tbody>
            </table>
            <div class="c2577">
              <p class="footer-info">Court Appointed Special Advocate (CASA) /
                <%= @casa_organization.name %>
                <br>
                <br><%= @casa_organization.address %>
              </p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
